/*footer===============================*/
footer{
  border-top:1px solid #AFCEFD;
}
/*ft===============================*/
.ft_wrap{
  max-width:1200px;
  width:1200px;
  margin:0px auto;
  padding:2rem 0;
}

.ft{
  display:flex;
  gap:1.5rem;
}

.ft a{
  color:#222;
}

.ft li::after{
  content:"";
  display:inline-block;
  background-color:#222;
  width:1px;
  height:15px;
  margin-left:1rem;
}

.ft .ft_blind::after{
  display:none;
}
/*ft===============================*/
/*fm===============================*/
.fm{
  display:flex;
  gap:1.5rem;
  margin-top:2rem;
}
/*fm===============================*/
/*fb===============================*/
.fb{
  display:flex;
  justify-content:space-between;
  margin-top:2rem;
}

.fb .select_box{
  position:relative;
  width:190px;
}

.fb .select_box button{
  position:relative;
  width:100%;
  padding:0.4rem 1rem;
  border:0px;
  border-radius:0.3rem;
  text-align:left;
  color:#fff;
  background:#555;
}

.fb .select_box button::after{
  content:"▼";
  font-size:1rem;
  color:#fff;
  position:absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
}

.fb .select_box button.on::after{
  transition:all ease 0.1s;
  transform: rotate(180deg) translateY(10px);
}

.fb .select_box ul{
  display:none;
  position:absolute;
  bottom:35px;
  width:100%;
  background-color:#555;
  border-radius:0.3rem;
}

.fb .select_box ul li{
  padding:0.7rem 1rem;
}

.fb .select_box a{
  color:#fff;
}
/*fb===============================*/
/*footer===============================*/