/*header===============================*/
/*전체메뉴===============================*/
body.active{
  overflow-y:hidden;
}

.full_menu{
  position:fixed;
  left:0; top:0;
  width:100%;
  height:100vh;
  background-color:rgba(0,0,0,0.9);
  z-index:100;
  overflow-y:auto;
  display:none;
}

.full_wrap{
  margin:0px auto 3rem;
  width:90%;
}

.full_top{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.full_close_box{
  width:60px;
  height:60px;
  background-color:#54AAFD;
}

.full_lnb{
  margin-top:3rem;
  display:flex;
  justify-content:space-between;
}

.full_slnb > a{
  display:block;
  width:200px;

  color:#fff;
  font-size:28px;
  font-family:"spoqaR";

  padding-bottom:1rem;
  border-bottom:2px solid #54AAFD;
}

.full_sslnb{
  margin-top:60px;

  display:flex;
  flex-direction:column;
  gap:50px;
}

.full_sslnb a{


  color:#fff;
  font-size:24px;
  font-family:"spoqaR";
}

.full_most_lnb{
  margin-top:30px;

  display:flex;
  flex-direction:column;
  gap:30px;
}

.full_most_lnb a{
  color:#ccc;
  font-size:20px;
  font-family:"spoqaL";
}

/*전체메뉴===============================*/

/*검색창===============================*/
.layer_search{
  display:none;
}

.layer_search.on{
  position:fixed;
  left:0; top:0;
  width:100%;
  height:100%;
  z-index:100;
  display:block;
}

.layer_search.on::after{
  content:"";
  position:absolute;
  left:0; top:0;
  display:block;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
}

.layer_search_wrap{
  position:relative;
  width:100%;
  padding:4rem;
  background-color:#fff;
  z-index:200;
}

.layer_search_box{
  width:50%;
  margin:0 auto;
}

.layer_search h2{
  font-family:"spoqaM";
  font-size:1.5rem;
}

.search_input{
  position:relative;
  margin:1.5rem 0;
  display:flex;
  gap:1rem;
}

.search_input input:focus{
  outline:0;
}

.search_input input[type=search]{
  flex:1;
  padding:1rem 0 1rem 1rem;
  border:1px solid #000;
  border-radius:1rem;

  font-family:"spoqaL";
  font-size:1rem;
}
/*search 검색창 자동 X 지우기===============================*/
.search_input input::-ms-clear,

.search_input input::-ms-reveal {display:none; width :0; height:0;}

.search_input input::-webkit-search-decoration,

.search_input input::-webkit-search-cancel-button,

.search_input input::-webkit-search-results-button,

.search_input input::-webkit-search-results-decoration {display:none;}
/*search 검색창 자동 X 지우기===============================*/
.search_input input[type=submit]{
  position:absolute;
  right:2%; top:50%;
  transform:translateY(-50%);
  width:25px;
  height:25px;
  background:url(/img/sub/main_image/search.svg) no-repeat center;
  background-size:cover;
  border:0;
  text-indent:-1000rem;
}

.search_content{
  display:flex;
  align-items:center;
  gap:2rem;
}

.search_content h3{
  font-family:"spoqaR";
  font-family:1.2rem;
}

.search_content h3::before{
  content:"";
  margin-right:1rem;
  display:inline-block;
  width:20px;
  height:20px;
  background:url(/img/sub/main_image/goodsearch.png) no-repeat center;
  background-size:cover;
  transform:translateY(3px);
}

.search_content h3::after{
  content:"|";
  margin-left:1.5rem;
  transform:translateY(3px);
}

.search_content ul{
  display:flex;
  gap:1.5rem;
}

.search_content ul a{
  font-family:"spoqaL";
  color:#000;
  font-size:1rem;
}

.search_close_btn{
  position:absolute;
  left:50%; bottom:-5rem;
  width:50px;
  height:50px;
  border:0;
  border-radius:50%;
  background-color:#fff;
}

.search_close_btn:focus{
  outline:0;
}

.search_close_btn a{
  display:block;
  width:100%;
  height:100%;
}

.search_close_btn img{
  width:50%;
  transform:translate(1px,2px);
}
/*검색창===============================*/

/*gnb===============================*/
.gnb{
  background:#54AAFD;
}

.gnb_wrap{
  max-width:1200px;
  width:1200px;
  margin:0px auto;
  padding:0.4rem 0;

  display:flex;
  justify-content:space-between;
  flex-direction:row;
  align-items:center;
}
/*GNB 좌측 날씨 메뉴===============================*/
.weather{
  display:flex;
  gap:1.5rem;
}

.weahter_top{
  display:flex;
  align-items:center;
}

.weather_bottom{
  display:flex;
  align-items:center;
}

.weather_bottom li:nth-of-type(2):after,
.weather_bottom li:nth-of-type(3):after{
  margin:0 0.8rem;
  content:"";
  display:inline-block;
  width:1px;
  height:12px;
  background-color:#fff;
  transform:translateY(2px);
}

.weather li:nth-of-type(1){
  margin-right:0.6rem;
  width:18px;
  height:18px;
}

.weather img{
  width:100%;
}

.weather li a{
  font-family:"spoqaL";
  font-size:0.8rem;
  color:#fff;
}

.weather strong{
  margin-left:0.3rem;
  font-family:"spoqaM";
  font-size:0.8rem;
  color:#005fb8;
}
/*GNB 좌측 날씨 메뉴===============================*/
/*GNB 우측 메뉴===============================*/
.gnb_text{
  display:flex;
  flex-direction:row;
  gap:1.5rem;
}

.gnb_text li::after{
  margin-left:1rem;
  content:"";
  display:inline-block;
  width:2px;
  height:10px;
  background-color:#fff;
}

.gnb .gnb_blind::after{
  display:none;
}

.gnb_text li a{
  font-family:"spoqaR";
  font-size:1rem;
  color:#fff;
}
/*GNB 우측 메뉴===============================*/
/*gnb===============================*/

/*lnb===============================*/
.lnb{
  border-bottom:1px solid #ccc;
}

.lnb_wrap{
  position:relative;
  margin:0px auto;
  max-width:1200px;
  width:1200px;
  height:100px;
  display:flex;
  align-items:center;
}
/*메인 LNB 좌측 로고===============================*/
.lnb_wrap > div{
  flex-basis:90px;
  flex-shrink:0;
}
/*메인 LNB 좌측 로고===============================*/
/*메인 LNB 대메뉴==============================*/
.lnb_wrap > ul:nth-of-type(1){
  flex-grow:1;
  display:flex;
  justify-content:space-evenly;
}

.lnb_wrap > ul:nth-of-type(1) > li > a{
  padding:39.5px 0;
  width:130px;
  font-family:"spoqaM";
  font-size:1.1rem;
  color:#000;
  text-align:center;
}
/*메인 LNB 대메뉴==============================*/
/*메인 LNB 대메뉴 라인==============================*/
.bg{
  position:relative;
  transform: translateY(2.5rem);
  width:0%;
  height:2px;
  background:#54AAFD;
  z-index:3;
}
/*메인 LNB 대메뉴 라인==============================*/
/*메인 LNB 우측 아이콘===============================*/
.lnb_wrap ul:nth-of-type(2){
  display:flex;
  align-items:center;
  gap:1.2rem;
}

.search_menu_icon, .full_menu_icon{
  width:20px;
  height:20px;
}

.search_menu_icon button{
  width:100%;
  height:100%;
  background:url(/img/sub/main_image/search.svg) no-repeat center;
  background-size:cover;
  border:0;
}

.full_menu_icon button{
  width:100%;
  height:100%;
  background:url(/img/sub/main_image/burger.svg) no-repeat center;
  background-size:cover;
  border:0;
}

.search_menu_icon button:focus, .full_menu_icon button:focus{
  outline:0;
}
/*메인 LNB 우측 아이콘===============================*/
/*lnb===============================*/

/*서브 LNB===============================*/
/*SUB_LNB 배경===============================*/
.lnb.on::after{
  position:absolute;
  content:"";
  display:block;
  width:100%;
  height:440px;
  min-height:440px;
  background:#fff;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  z-index:2;
}

.lnb::after{
  display:none;
}
/*SUB_LNB 배경===============================*/
.sub_lnb{
  display:none;
  z-index:3;
}

.lnb.on .sub_lnb{
  position:absolute;
  top:8.5rem;
  width:130px;
  height:364px;
  display:flex;
  flex-direction:column;
  gap:1.2rem;
}

.sub_lnb > li > a{
  font-family:"spoqaR";
  color:#000;
  font-size:1.05rem;
}

.sub_lnb li a:hover{
  color:#54AAFD;
}
/*서브 LNB===============================*/

/*서서브 LNB===============================*/
.ssub_lnb{
  margin-top:0.5rem;
}

.ssub_lnb a{
  font-family:"spoqaL";
  font-size:0.9rem;
  color:#000;
}
/*서서브 LNB===============================*/
/*header===============================*/

/*footer===============================*/
footer{
  border-top:1px solid #AFCEFD;
  background-color:#f9f9f9;
}
.ft_wrap{
  max-width:1200px;
  width:1200px;
  margin:0px auto;
  padding:2rem 0;
}
/*ft===============================*/
.ft{
  display:flex;
  align-items:center;
  gap:2rem;
}

.ft a{
  font-family:"spoqaR";
  color:#000;
}

.ft li:nth-of-type(3) a{
  color:#54AAFD;
}

.ft li::after{
  content:"";
  display:inline-block;
  background-color:#222;
  width:1px;
  height:15px;
  margin-left:1rem;
}

.ft .ft_blind::after{
  display:none;
}
/*ft===============================*/
/*fm===============================*/
.fm{
  display:flex;
  gap:1.5rem;
  margin-top:2rem;
}

.fm{
  font-family:"spoqaL";
  font-size:1rem;
  color:#000;
}
/*fm===============================*/
/*fb===============================*/
.fb{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:0.2rem;

}

.fb > div{
  font-family:"spoqaL";
  font-size:1rem;
}

.fb .select_box{
  position:relative;
  width:190px;
}

.fb .select_box button{
  position:relative;
  padding:0.4rem 1rem;
  width:100%;
  border:0px;
  border-radius:0.3rem;
  text-align:left;
  color:#fff;
  background:#555;
  font-family:"spoqaR";
}

.fb .select_box button:focus{
  outline:0;
}

.fb .select_box button::after{
  content:"▼";
  position:absolute;
  right:20px; top:50%;
  transform:translateY(-50%);
  font-size:1rem;
  color:#fff;
}

.fb .select_box button.on::after{
  transition:all ease 0.1s;
  transform: rotate(180deg) translateY(10px);
}

.fb .select_box ul{
  position:absolute;
  display:none;
  bottom:35px;
  width:100%;
  background-color:#555;
  border-radius:0.3rem;
}

.fb .select_box ul li{
  padding:0.7rem 1rem;
}

.fb .select_box a{
  font-family:"spoqaR";
  color:#fff;
}
/*fb===============================*/
/*footer===============================*/