/*header===============================*/
/*gnb===============================*/
.gnb{
  background:#54AAFD;
}

.gnb_wrap{
  max-width:1200px;
  width:1200px;
  margin:0px auto;
  padding:0.4rem 0;

  display:flex;
  justify-content:space-between;
  flex-direction:row;
  align-items:center;
}

.weather{
  display:flex;
  gap:1.5rem;
}

.weahter_top{
  display:flex;
  align-items:center;
  font-size:0.9rem;
}

.weather_bottom{
  display:flex;
  align-items:center;
  font-size:0.9rem;
}

.weather_bottom li:nth-of-type(2):after,
.weather_bottom li:nth-of-type(3):after{
  content:"";
  display:inline-block;
  margin:0 0.8rem;

  transform: translateY(2px);
  width:1px;
  height:13px;
  background-color:#fff;
}

.weather li:nth-of-type(1){
  margin-right:0.6rem;
  width:18px;
  height:18px;
}

.weather img{
  width:100%;
}

.weather strong{
  color:#005fb8;
}

.gnb_text{
  display:flex;
  flex-direction:row;
  gap:1.5rem;
}

.gnb_text li::after{
  position:relative;
  content:"";
  display:inline-block;
  background-color:#fff;
  width:2px;
  height:10px;
  margin-left:1rem;
}

.gnb .gnb_blind::after{
  display:none;
}

.gnb li a{
  color:#fff;
}
/*gnb===============================*/
/*lnb===============================*/
.lnb::after{
  display:none;
}

.lnb.on::after{
  position:absolute;
  content:"";
  width:100%;
  height:450px;
  min-height:450px;
  background:#fff;
  display:block;
  border-top:1px solid #ccc;
  z-index:2;
}

.lnb_wrap{
  position:relative;
  max-width:1200px;
  width:1200px;
  height:100px;
  margin:0px auto;
  display:flex;
  align-items:center;
}

.lnb_wrap > div{
  flex-basis:90px;
  flex-shrink:0;
}

.lnb_wrap > ul:nth-of-type(1){
  flex-grow:1;
  display:flex;
  justify-content:space-evenly;
}

.lnb_wrap > ul:nth-of-type(1) > li{
  padding:39.5px 0;
  width:130px;
  font-size:1.1rem;
  font-weight:bold;
  text-align:center;
}

.lnb_wrap > ul > li > a{
  color:#000;
}

.lnb_wrap ul:nth-of-type(2){
  display:flex;
  align-items:center;
  gap:1.5rem;
}

.search_menu_icon, .full_menu_icon{
  width:20px;
  height:20px;
}

.search_menu_icon button{
  width:100%;
  height:100%;
  background:url(/img/sub/main_image/search.svg) no-repeat center;
  background-size:cover;
  border:0;
}

.full_menu_icon button{
  width:100%;
  height:100%;
  background:url(/img/sub/main_image/burger.svg) no-repeat center;
  background-size:cover;
  border:0;
}

.search_menu_icon button:focus, .full_menu_icon button:focus{
  outline:0;
}
/*lnb===============================*/
/*sub_lnb===============================*/
.sub_lnb{
  display:none;
  z-index:3;
}

.lnb.on .sub_lnb{
  position:absolute;
  top:6.4rem;
  padding-top:2rem;
  width:130px;
  min-height:418px;
  display:flex;
  flex-direction:column;
  gap:3rem;
}

.sub_lnb > li > a{
  color:#000;
  font-size:1rem;
}

.bg{
  position:relative;
  transform: translateY(2.5rem);
  width:0%;
  height:2px;
  background:#54AAFD;
  z-index:3;
}

.sub_lnb > li > a:hover{
  color:#000;
}
/*sub_lnb===============================*/
/*header===============================*/
/*footer===============================*/
footer{
  border-top:1px solid #AFCEFD;
  background-color:#f9f9f9;
}
/*ft===============================*/
.ft_wrap{
  max-width:1200px;
  width:1200px;
  margin:0px auto;
  padding:2rem 0;
}

.ft{
  display:flex;
  align-items:center;
  gap:2rem;
}

.ft a{
  color:#222;
}

.ft li:nth-of-type(3) a{
  color:#54AAFD;
  font-weight:bolder;
}

.ft li::after{
  content:"";
  display:inline-block;
  background-color:#222;
  width:1px;
  height:15px;
  margin-left:1rem;
}

.ft .ft_blind::after{
  display:none;
}
/*ft===============================*/
/*fm===============================*/
.fm{
  display:flex;
  gap:1.5rem;
  margin-top:2rem;
}
/*fm===============================*/
/*fb===============================*/
.fb{
  display:flex;
  justify-content:space-between;
  margin-top:2rem;
}

.fb .select_box{
  position:relative;
  width:190px;
}

.fb .select_box button{
  position:relative;
  width:100%;
  padding:0.4rem 1rem;
  border:0px;
  border-radius:0.3rem;
  text-align:left;
  color:#fff;
  background:#555;
}

.fb .select_box button:focus{
  outline:0;
}

.fb .select_box button::after{
  content:"▼";
  font-size:1rem;
  color:#fff;
  position:absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
}

.fb .select_box button.on::after{
  transition:all ease 0.1s;
  transform: rotate(180deg) translateY(10px);
}

.fb .select_box ul{
  display:none;
  position:absolute;
  bottom:35px;
  width:100%;
  background-color:#555;
  border-radius:0.3rem;
}

.fb .select_box ul li{
  padding:0.7rem 1rem;
}

.fb .select_box a{
  color:#fff;
}
/*fb===============================*/
/*footer===============================*/