@charset "UTF-8";
/*index.html 공통css===============================*/
.cm_title{
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.plus_icon{
  border:0;
  background-color:transparent;
}

.plus_icon a{
  display:block;
  width:100%;
}

.cm_title h2{
  font-family:"spoqaB";
  font-size:1.5rem;
  color:#494949;
}
/*index.html 공통css===============================*/

/*검색창===============================*/
.layer_search{
  display:none;
}

.layer_search.on{
  position:fixed;
  left:0; top:0;
  width:100%;
  height:100%;
  z-index:100;
  display:block;
}

.layer_search.on::after{
  content:"";
  position:absolute;
  left:0; top:0;
  display:block;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
}

.layer_search_wrap{
  position:relative;
  width:100%;
  padding:4rem;
  background-color:#fff;
  z-index:200;
}

.layer_search_box{
  width:50%;
  margin:0 auto;
}

.layer_search h2{
  font-family:"spoqaM";
  font-size:1.5rem;
}

.search_input{
  position:relative;
  margin:1.5rem 0;
  display:flex;
  gap:1rem;
}

.search_input input:focus{
  outline:0;
}

.search_input input[type=search]{
  flex:1;
  padding:1rem 0 1rem 1rem;
  border:1px solid #000;
  border-radius:1rem;

  font-family:"spoqaL";
  font-size:1rem;
}
/*search 검색창 자동 X 지우기===============================*/
.search_input input::-ms-clear,

.search_input input::-ms-reveal {display:none; width :0; height:0;}

.search_input input::-webkit-search-decoration,

.search_input input::-webkit-search-cancel-button,

.search_input input::-webkit-search-results-button,

.search_input input::-webkit-search-results-decoration {display:none;}
/*search 검색창 자동 X 지우기===============================*/
.search_input input[type=submit]{
  position:absolute;
  right:2%; top:50%;
  transform:translateY(-50%);
  width:25px;
  height:25px;
  background:url(/img/sub/main_image/search.svg) no-repeat center;
  background-size:cover;
  border:0;
  text-indent:-1000rem;
}

.search_content{
  display:flex;
  align-items:center;
  gap:2rem;
}

.search_content h3{
  font-family:"spoqaR";
  font-family:1.2rem;
}

.search_content h3::before{
  content:"";
  margin-right:1rem;
  display:inline-block;
  width:20px;
  height:20px;
  background:url(/img/sub/main_image/goodsearch.png) no-repeat center;
  background-size:cover;
  transform:translateY(3px);
}

.search_content h3::after{
  content:"|";
  margin-left:1.5rem;
  transform:translateY(3px);
}

.search_content ul{
  display:flex;
  gap:1.5rem;
}

.search_content ul a{
  font-family:"spoqaL";
  color:#000;
  font-size:1rem;
}

.search_close_btn{
  position:absolute;
  left:50%; bottom:-5rem;
  width:50px;
  height:50px;
  border:0;
  border-radius:50%;
  background-color:#fff;
}

.search_close_btn:focus{
  outline:0;
}

.search_close_btn a{
  display:block;
  width:100%;
  height:100%;
}

.search_close_btn img{
  width:50%;
  transform:translate(1px,2px);
}
/*검색창===============================*/
/*전체메뉴===============================*/
.full_menu{
  position:fixed;
  left:0; top:0;
  width:100%;
  height:100%;
  background-color:#fff;
  z-index:100;
  overflow-y:auto;

  display:none;
}

.full_title{
  position:relative;
  width:100%;
  height:120px;
  border-bottom:1px solid #ccc;;

  font-family:"spoqaM";
  font-size:1.8rem;
  color:#72bbff;
}

.full_title h2{
  position:absolute;
  left:50%; top:50%;
  transform:translate(-50%,-50%);
}

.full_title button{
  position:absolute;
  right:5%; top:50%;
  transform:translateY(-50%);
  width:1.5rem;
  height:1.5rem;

  border:0;
  background-color:transparent;

  background:url(/img/sub/main_image/search_close.png) center no-repeat;
  background-size:cover;
}

.full_title button:focus{
  outline:0;
}

.full_menu_warp{
  margin:0px auto;
  width:90%;
}

.full_content{
  display:flex;
  flex-direction:row;
}

.full_content_sub{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.full_content_sub h3{
  font-family:"spoqaR";
  font-size:1.6rem;
  color:#72bbff;
}

.full_content_sub ul{
  display:flex;
  flex-direction:column;
}

.full_content_sub a{
  display:block;
  padding:1rem;
  background-color:#d4eaff;
  border-radius:0.5rem;
  font-family:"spoqaL";
  font-size:1.2rem;
  color:#000000;
}

.full_content_sub a:hover{
  background-color:#72bbff;
  color:#fff;
}
/*전체메뉴===============================*/
/*1:1문의 연락===============================*/
.call_Inquiry{
  position:fixed;
  left:0; top:10rem;
  padding:1rem 0.5rem;
  background-color:#fffaf3;
  border:1px solid #FFBF77;
  border-radius:0rem 0.5rem 0.5rem 0rem;
  z-index:10;
}

.call_Inquiry a{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:0.5rem;
  font-family:"spoqaB";
  font-size:1rem;
  color:#FFBF77;
}
/*1:1문의 연락===============================*/
/*QR코드===============================*/
.qr_code{
  position:fixed;
  right:0; top:30rem;
  padding:1rem;
  background-color:#fff;
  border:1px solid #808080;
  border-right:0;
  border-radius:0.5rem 0 0 0.5rem;
  display:flex;
  flex-direction: column;
  align-items:center;
  z-index:10;
}

.qr_code strong{
  font-family:"spoqaR";
  font-size:1rem;
  margin-bottom:0.5rem;
}

.qr_code ul{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.qr_code ul li:nth-of-type(1) a{
  margin-top:0.6rem;
  display:block;
  width:55px;
  height:55px;
}

.qr_code ul li img{
  width:100%;
}

.qr_code ul li{
  font-family:"spoqaL";
  font-size:0.9rem;
}

.qr_code button{
  border:0;
  background-color:transparent;
}

.qr_code button:focus{
  outline:0;
}
/*QR코드===============================*/
/*visual▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
.visual{
  height:400px;
}
/*visual 배경 좌측 이미지===============================*/
.visual_back{
  position:relative;
  width:100%;
  height:100%;
  display:flex;
}

.visual_back::before{
  position:absolute;
  left:0; top:0;
  content:"";
  display:block;
  width:30%;
  height:100%;
  background-color:#fff;
  z-index:-1;
}

.visual_back::after{
  position:absolute;
  right:0; top:0;
  content:"";
  display:block;
  width:70%;
  height:100%;
  background-color:#DDEBFA;
  z-index:-1;
}

.visual_limg{
  position:absolute;
  content:"";
  display:block;
  height:100%;
  z-index:-1;
}
/*visual 배경 좌측 이미지===============================*/
.visual_wrap{
  max-width:1200px;
  width:1200px;
  margin:0px auto;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}
/*슬라이드 배너===============================*/
.slide_banner{
  position:relative;
  width:48%;
  height:350px;
  border-radius:1rem;
  overflow:hidden;
}
/*슬라이드 배너 이동경로 circle===============================*/
.sb_nav{
  position:absolute;
  left:2rem; top:2rem;
  display:flex;
  gap:0.5rem;
  z-index:1;
}

.sb_nav button{
  width:18px;
  height:18px;
  background-color:#fff;
  border:0;
  border-radius:18px;
}

.sb_nav button:focus{
  outline:0;
}

.sb_nav li.active button{
  background-color:#77BCFF;
}
/*슬라이드 배너 이동경로 circle===============================*/
/*슬라이드 배너 나열===============================*/
.slide_items{
  position:relative;
  width:100%;
  height:100%;
}

.slide_items li{
  position:absolute;
  width:100%;
  height:100%;
}
/*슬라이드1===============================*/
.sb1{
  padding:2rem;
  color:#fff;
  background:linear-gradient(to bottom right, #F1FFFB, #238DFF);
  border-radius:1rem;
  box-sizing:border-box;
}

.sb1 div:nth-of-type(1){
  margin-top:7.2rem;
  padding:0.4rem;
  display:inline-block;
  background-color:#54AAFD;
  border-radius:0.4rem;

  font-family:"spoqaM";
  font-size:0.8rem;
}

.sb1 div:nth-of-type(2) h2{
  margin:1rem 0 0.5rem;
  font-family:"spoqaM";
  font-size:1.5rem;
  letter-spacing:0.1rem;
}

.sb1 div:nth-of-type(2) p{
  font-family:"spoqaR";
  font-size:1rem;
}

.sb1 button{
  position:absolute;
  left:0; bottom:0;
  width:130px;
  height:30px;
  line-height:30px;
  text-align:center;
  background-color:#707070;
  border:0;
  border-radius:0rem 1rem 0 1rem;
}

.sb1 button a{
  color:#fff;
}

.sb1 button:focus{
  outline:0;
}

.sb1 .sb1_i{
  position:absolute;
  right:5%; top:0;
}
/*슬라이드1===============================*/
/*슬라이드2,3===============================*/
.sb2{
  background:url(/img/sub/main_image/test_img1.jpg) no-repeat center;
  background-size:cover;
}

.sb3{
  background:url(/img/sub/main_image/test_img2.jpg) no-repeat center;
  background-size:cover;
}
/*슬라이드2,3===============================*/
/*슬라이드 배너===============================*/

/*커뮤니티===============================*/
.community{
  padding:1.8rem;
  width:48%;
  height:350px;
  background-color:#fff;
  border-radius:1rem;
  box-sizing:border-box;
}

.community .cm_title h2::after{
  content:"";
  display:inline-block;
  width:25px;
  height:25px;
  background:url(/img/sub/main_image/message_icon.png) no-repeat center;
  background-size:contain;
  transform:translate(8px,4px);
}

.cm_k{
  display:flex;
  justify-content:space-between;
  margin:1.5rem 0 2rem;
}

.cm_k li button{
  padding:0;
  font-family:"spoqaM";
  font-size:1.1rem;
  color:#C7C7C7;
}

.cm_k li.on button{
  color:#000;
}

.cm_k button{
  border:0;
  background-color:transparent;
}

.cm_k button:focus{
  outline:0;
}

.cm_t a{
  display:flex;
  justify-content:space-between;
  color:#000;
}

.cm_t h4{
  font-family:"spoqaR";
  font-size:1.05rem;
}

.cm_t p{
  font-family:"spoqaL";
  font-size:1.05rem;
}

.cm_t h4::after{
  content:"|";
  padding-left:1.5rem;
}

.cm_t > li{
  display:none;
}

.cm_t > li.on{
  display:flex;
  flex-direction:column;
  gap:1.8rem;
}
/*커뮤니티===============================*/
/*visual▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*container▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*챕터1===============================*/
.con_sec1 .con_wrap{
  max-width:1200px;
  width:1200px;
  margin:2.5rem auto;

  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
/*바이오코디네이션===============================*/
.bio_codi{
  position:relative;
  width:66%;
  height:360px;
  padding:2rem;
  background-color:#F9F9F9;
  border-radius:1rem;
  box-sizing:border-box;
}

.bioc_k{
  display:flex;
  margin:1.7rem 0;
  color:#C7C7C7;
}

.bioc_k li{
  padding:0.5rem 1.2rem;
  border-right:1px solid #C7C7C7;
  background-color:#fff;
  color:#C7C7C7
}

.bioc_k li:last-child{
  border:0;
}

.bioc_k li.on{
  color:#fff;
  background-color:#77BCFF
}

.bioc_k button{
  font-family:"spoqaM";
  font-size:1.1rem;
  border:0;
  background-color:transparent;
}

.bioc_k button:focus{
  outline:0;
}

.bioc_t li{
  display:none;
}

.bioc_t li.on{
  display:flex;
  flex-direction:column;
  gap:0.9rem;
}

.bioc_t li a{
  display:flex;
  justify-content:space-between;
  font-family:"spoqaR";
  font-size:1rem;
  color:#000;
}

.bioc_t li p:first-child:before{
  content:"";
  display:inline-block;
  margin-right:1rem;
  width:20px;
  height:20px;
  background:url(/img/sub/main_image/bio_bullet.png) no-repeat center;
  background-size:cover;
  vertical-align:middle;
}

.bioc_i{
  position:absolute;
  left:-5%; top:-8%;
}
/*바이오코디네이션===============================*/
/*추천검색어===============================*/
.best_search{
  width:30%;
  height:360px;
  display:flex;
  flex-direction:column;
  border-radius:1rem;
}

.best_search .cm_title{
  padding-bottom:1rem;
  border-bottom:1px solid #000;
}

.best_search .cm_title span{
  margin-right:0.2rem;
  font-size:1.2rem;
  color:#89C5FF;
}

.best_k{
  display:flex;
  flex-direction:column;
  flex:1;
}

.best_k li{
  height:100%;
  border-bottom:1px solid #ccc;
}

.best_k li:hover a{
  border-bottom:1px solid #000;
  font-family:"spoqaB";
  font-size:1.15rem;
  color:#000;
}

.best_k li a{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  height:100%;

  font-family:"spoqaR";
  font-size:1.15rem;
  color:#C7C7C7;
}

.best_k div:nth-of-type(1){
  margin-right:1.2rem;
  padding:0.5rem 1.2rem;
  background:#F6F6F6;
  border-radius:0.5rem;
}

.best_k li p{
  flex:1;
}
/*추천검색어===============================*/
/*챕터1===============================*/

/*챕터2===============================*/
.con_sec2 .con_wrap{
  max-width:1200px;
  width:1200px;
  margin:1rem auto ;

  display:flex;
  justify-content:space-between;
}
/*커뮤니티 종류===============================*/
.com_button_kind1{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.com_button_kind1 li a, .com_button_kind2 li a{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  gap:1rem;
}

.com_button_kind1 a, .com_button_kind2 a{
  color:#5B5B5B
}

.com_button_kind1 li{
  padding:1rem 1.5rem;
  height:100px;
  border-radius:1rem;
  box-sizing:border-box;
}

.com_button_kind1 h4{
  margin-bottom:0.6rem;
  padding:0.1rem 0.5rem;
  display:inline-block;
  border-radius:0.2rem;
  font-size:1.1rem;
  font-family:"spoqaL";
  color:#fff;
}

.com_button_kind1 span{
  font-family:"spoqaM";
  font-size:1.1rem;
}

.com_button_kind1 span::after{
  content:"|";
  margin:0 0.5rem;
}

.com_button_kind1 p{
  font-family:"spoqaR";
  font-size:1rem;
  color:#777777;
}

.com_button_kind1 li:nth-of-type(1) h4{
  background-color:#7DDBFF;
}

.com_button_kind1 li:nth-of-type(1){
  background-color:#DAF2FB;
}

.com_button_kind1 li:nth-of-type(2) h4{
  background-color:#FFBF77;
}

.com_button_kind1 li:nth-of-type(2){
  background-color:#FBE8D3;
}

.com_button_kind1 li:nth-of-type(3) h4{
  background-color:#77BCFF;
}

.com_button_kind1 li:nth-of-type(3){
  background-color:#DDEBFA;
}
/*커뮤니티 종류===============================*/
.info_event{
  display:flex;
  justify-content:space-between;
  width:68%;
}
/*바이오 정보===============================*/
.bio_information{
  padding:2rem;
  width:50%;
  height:320px;
  background-color:#F9F9F9;
  border-radius:1rem;
  box-sizing:border-box;
}

.bio_information h2::after{
  content:"";
  display:inline-block;
  margin-left:0.5rem;
  width:20px;
  height:20px;
  background:url(/img/sub/main_image/stack_i.png) no-repeat center;
  transform:translateY(2px);
}

.bio_information li{
  font-family:"spoqaR";
  font-size:1.1rem;
}

.bio_information li:hover{
  background-color: #ebf5ff;
}

.bi_1{
  margin:1rem 0;
  display:flex;
  gap:1rem;
}

.bi_1 li{
  text-align:center;
  flex:1;
  height:100px;
  background-color:#fff;
  border-radius:1rem;

  display:flex;
  justify-content:center;
  align-items:center;
}

.bi_1 li a{
  display:flex;
  flex-direction:row-reverse;
  justify-content:center;
  align-items:center;
  gap:1rem;
  color:#000;
}

.bi_2{
  display:flex;
  justify-content:space-between;
  gap:1rem;
}

.bi_2 li{
  position:relative;
  flex:1;
  height:100px;
  background-color:#fff;
  border-radius:1rem;
  text-align:center;

  display:flex;
  justify-content:center;
  align-items:center;
}

.bi_2 li a{
  display:flex;
  flex-direction:column;
  gap:0.5rem;
  color:#000;
}
/*바이오 정보===============================*/
/*바이오 행사===============================*/
.event_zone{
  position:relative;
  padding:2rem;
  width:44%;
  height:320px;
  background-color:#F9F9F9;
  border-radius:1rem;
  box-sizing:border-box;
}

.ez_subtext{
  margin:0.5rem 0;
  font-family:"spoqaL";
}

.event_picture{
  width:100%;
  height:200px;
  border-radius:1rem;
  overflow:hidden;
}

.event_picture ul{
  width:100%;
  height:100%;
}

.event_picture li{
  position:absolute;
  width:100%;
  height:100%;
}

.event_picture a{
  display:block;
  width:100%;
  height:100%;
}

.event_zone .custom-fraction{
  margin-right:0.7rem;
}

.event_zone .swiper-slide:nth-child(n){
  background:url(/img/sub/main_image/bio_event_p1.png) no-repeat center;
  background-size:cover;
}

.event_zone .swiper-slide:nth-child(2n){
  background:url(/img/sub/main_image/test_img1.jpg) no-repeat center;
  background-size:cover;
}

.event_zone .swiper-button-next, .event_picture .swiper-button-prev{
  position:absolute;
  top:48px;
}

.event_zone .swiper-button-next:after, .event_zone .swiper-button-prev:after{
  font-size:1rem;
  color:#000;
}

.event_zone .swiper-button-prev{
  left:265px;
}

.event_zone .swiper-button-next{
  right:18px;
}
/*바이오 행사===============================*/
/*챕터2===============================*/

/*챕터3===============================*/
/*바이오맵===============================*/
.container .con_sec3 .con_wrap{
  max-width:1200px;
  width:1200px;
  margin:0 auto;
  transform: translateY(1.5rem);
}

.bio_map{
  position:relative;
  width:100%;
  height:400px;
  background:url(/img/sub/main_image/bio_map.png) no-repeat center;
  background-size:cover;
  border-radius:1rem;
}

.map_info_input{
  display:flex;
  flex-direction:row;
  gap:0.5rem;
  margin:0rem auto;
  padding-top:1.5rem;
  width:70%;
  height:35px;
}

.map_info_input select{
  padding-left:0.3rem;
  width:120px;
  height:35px;
  border:0;
  border-radius:0.3rem;
  font-family:"spoqaR";
  font-size:0.95rem;
}

.map_info_input select:focus{
  outline:0;
}

.map_info_input form{
  position:relative;
  flex:1;
}

.map_info_input label{
  position:relative;
  width:100%;
  height:100%;
}

.map_info_input input{
  width:100%;
  height:100%;
  padding-left:1rem;
  border:0;
  border-radius:0.5rem;
  font-family:"spoqaR";
  font-size:0.95rem;
}

.map_info_input input[type=submit]{
  position:absolute;
  right:2%; top:50%;
  transform:translateY(-50%);
  width:20px;
  height:20px;
  background:url(/img/sub/main_image/search.svg) no-repeat center;
  background-size:contain;
  border:0;
  text-indent:-1000rem;
}

.map_info_input input:focus{
  outline:0;
}

.map_info_input button{
  width:100px;
  height:35px;
  border:0;
  border-radius:0.3rem;
  color:#fff;
  background-color:#54AAFD;
  font-family:"spoqaM";
  font-size:0.95rem;
}

.map_info_input button:focus{
  outline:0;
}

.map_icon_list{
  position:absolute;
  left:10px; top:50%;
  transform:translateY(-50%);
  display:flex;
  flex-direction:column;
}

.map_icon_list button{
  padding:0;
  width:40px;
  height:40px;
  background:none;
  border:0;
}

.map_icon_list button:focus{
  outline:0; 
}

.map_icon_list button:nth-of-type(1){
  margin-bottom:0.5rem;
}

.map_icon_list button:nth-of-type(1) img{
  border-radius:0.4rem;
}

.map_icon_list button:nth-of-type(2) img{
  border-radius:0.4rem 0.4rem 0 0 ;
}

.map_icon_list button:nth-of-type(3) img{
  border-radius:0 0 0.4rem 0.4rem ;
}

.recommend_list{
  position:absolute;
  left:10%; bottom:10%;
  width:50%;
  display:flex;
  flex-direction:column;
  gap:0.5rem;
  font-family:"spoqaR";
  font-size:1.1rem;
}

.recommend_list ul{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.recommend_list ul a{
  color:#fff;
}
/*바이오맵===============================*/
/*바이오맵 검색창 자동 X 지우기===============================*/
.map_info_input input::-ms-clear,

.map_info_input input::-ms-reveal {display:none; width :0; height:0;}

.map_info_input input::-webkit-search-decoration,

.map_info_input input::-webkit-search-cancel-button,

.map_info_input input::-webkit-search-results-button,

.map_info_input input::-webkit-search-results-decoration {display:none;}
/*바이오맵 검색창 자동 X 지우기===============================*/
/*바이오맵 배경===============================*/
.container_backcolor{
  position:relative;
  height:200px;
  background-color:#E9EFFF;
  z-index:-1;
}

.shadow_color{
  position:absolute;
  left:50%; top:50%;
  transform:translate(-50%,-50%);
  width:1200px;
  height:25px;
  background-color:#e0e8ff;
  border-radius:50%;
}
/*바이오맵 배경===============================*/
/*챕터3===============================*/
/*container▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/
@media screen and (max-width:px) {

}