@charset "UTF-8";
/*search===============================*/
.layer_search{
  position:fixed;
  left:0; top:0;
  width:100%;
  height:100%;
  z-index:100;

  display:none;
}

.layer_search::after{
  content:"";
  position:absolute;
  left:0; top:0;
  display:block;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
}

.layer_search_wrap{
  position:relative;
  width:100%;
  padding:4rem 2rem;
  background-color:#fff;
  z-index:200;
}

.layer_search_box{
  width:50%;
  margin:0 auto;
}

.search_input{
  position:relative;
  display:flex;
  gap:1rem;
  margin:1.5rem 0;
}

.search_input input{
  padding:1rem 0;
}

.search_input input:focus{
  outline:0;
}

.search_input input[type=search]{
  flex:1;
  padding-left:1rem;
  border:1px solid #000;
  border-radius:1rem;
}

/*search 검색창 자동 X 지우기===============================*/
.search_input input::-ms-clear,

.search_input input::-ms-reveal {display:none; width :0; height:0;}

.search_input input::-webkit-search-decoration,

.search_input input::-webkit-search-cancel-button,

.search_input input::-webkit-search-results-button,

.search_input input::-webkit-search-results-decoration {display:none;}
/*search 검색창 자동 X 지우기===============================*/

.search_input input[type=submit]{
  position:absolute;
  right:2%; top:50%;
  transform:translateY(-50%);
  width:25px;
  height:25px;
  background:url(/img/sub/main_image/search.svg) no-repeat center;
  background-size:contain;
  border:0;
  text-indent:-1000rem;
}

.search_content{
  display:flex;
  align-items:center;
  gap:2rem;
}

.search_content h3::before{
  content:"";
  display:inline-block;
  margin-right:1rem;
  width:20px;
  height:20px;
  background:url(/img/sub/main_image/goodsearch.png) no-repeat center;
  background-size:cover;
  transform:translateY(3px);
}

.search_content h3::after{
  content:"|";
  font-weight:bolder;
  margin-left:2rem;
  transform:translateY(3px);
}

.search_content ul{
  display:flex;
  gap:1.5rem;
}

.search_content ul a{
  color:#000;
}

.search_close_btn{
  position:absolute;
  left:50%; bottom:-5rem;
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:#fff;
  border:0;
}

.search_close_btn:focus{
  outline:0;
}

.search_close_btn a{
  width:100%;
  height:100%;
}

.search_close_btn img{
  width:50%;
  transform:translateY(1px);
}
/*search===============================*/
/*index.common===============================*/
.cm_title{
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding-bottom:1rem;
  border-bottom:1px solid #000;
}

.plus_icon{
  border:0;
  background-color:transparent;
}

.plus_icon a{
  display:block;
  width:100%;
}
/*index.common===============================*/
/*sns===============================*/
.sns{
  position:fixed;
  left:0;
  display:flex;
  width:62px;
  height:190px;
  background-color:#e3f1ff;
  border-radius:0 0.5rem 0.5rem 0;
  box-shadow:1px 1px 3px 0px #adadad;
  z-index:10;
  transition: all 0.3s;
}

.sns.on{
  transform:translateX(-38px);
}

.sns.on .sns_btn{
  transform:rotate(-180deg);
}

.sns_wrap{
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap:0.3rem;
}

.sns_wrap div{
  width:30px;
  height:30px;
}

.sns_wrap div button a{
  display:block;
  width:30px;
  height:30px;
}

.sns_wrap div img{
  width:100%;
}

.sns button{
  border:0;
  background-color:transparent;
}

.sns button:focus{
  outline:0;
}
/*sns===============================*/
/*QRcode===============================*/
.qr_code{
  position:fixed;
  right:0; top:30rem;
  padding:1rem;
  width:70px;
  height:230px;
  background-color:#fff;
  border:1px solid #808080;
  border-right:0;
  border-radius:0.5rem 0 0 0.5rem;

  display:flex;
  flex-direction: column;
  align-items:center;
  gap:0.2rem;
  z-index:10;
}

.qr_code strong{
  margin-bottom:0.4rem;
}

.qr_code ul{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.qr_code ul li:nth-of-type(1){
  margin-top:0.6rem;
  width:55px;
  height:55px;
}

.qr_code ul li img{
  width:100%;
}

.qr_code button{
  border:0;
  background-color:transparent;
}

.qr_code button:focus{
  outline:0;
}
/*QRcode===============================*/
/*visual▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
.visual{
  height:400px;
}
/*visual back color & img===============================*/
.visual_back{
  position:relative;
  width:100%;
  height:100%;
  display:flex;
}

.visual_back::before{
  position:absolute;
  left:0; top:0;
  content:"";
  display:block;
  width:30%;
  height:100%;
  background:#fff;
  z-index:-1;
}

.visual_back::after{
  position:absolute;
  right:0; top:0;
  content:"";
  display:block;
  width:70%;
  height:100%;
  background:#DDEBFA;
  z-index:-1;
}

.visual_limg{
  position:absolute;
  content:"";
  display:block;
  height:100%;
  z-index:-1;
}
/*visual back color & img===============================*/
/*slide banner===============================*/
.visual_wrap{
  max-width:1200px;
  width:1200px;
  margin:0px auto;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

.slide_banner{
  position:relative;
  width:48%;
  height:350px;
  border-radius:1rem;
  overflow:hidden;
}

.sb_nav{
  position:absolute;
  left:2rem; top:2rem;
  display:flex;
  gap:0.5rem;
  z-index:1;
}

.sb_nav button{
  width:18px;
  height:18px;
  background-color:#fff;
  border:0;
  border-radius:18px;
}

.sb_nav button:focus{
  outline:0;
}

.sb_nav li.active button{
  background-color:#77BCFF;
}

.slide_items{
  position:relative;
  width:100%;
  height:100%;
}

.slide_items li{
  position:absolute;
  width:100%;
  height:100%;
}

.sb1{
  padding:2rem;
  color:#fff;
  background:linear-gradient(to bottom right, #F1FFFB, #238DFF);
  border-radius:1rem;
  box-sizing:border-box;
}

.sb1 div:nth-of-type(1){
  margin-top:6rem;
  padding:0.4rem;
  display:inline-block;
  background-color:#54AAFD;
  border-radius:0.4rem;
}

.sb1 div:nth-of-type(2) h2{
  margin:1rem 0 0.5rem;
}

.sb1 button{
  position:absolute;
  left:0; bottom:0;
  width:130px;
  height:30px;
  line-height:30px;
  text-align:center;
  background-color:#707070;
  border:0;
  border-radius:0rem 1rem 0 1rem;
}

.sb1 button a{
  color:#fff;
}

.sb1 button:focus{
  outline:0;
}

.sb1 .sb1_i{
  position:absolute;
  right:5%; top:0;
}

.sb2{
  background:url(/img/sub/main_image/test_img1.jpg) no-repeat center;
  background-size:cover;
}

.sb3{
  background:url(/img/sub/main_image/test_img2.jpg) no-repeat center;
  background-size:cover;
}

/*slide banner===============================*/
/*community===============================*/
.community{
  width:48%;
  height:350px;
  padding:2rem;
  background-color:#fff;
  border-radius:1rem;
  box-sizing:border-box;
}

.community .cm_title h2::after{
  content:"";
  display:inline-block;
  width:25px;
  height:25px;
  background:url(/img/sub/main_image/message_icon.png) no-repeat center;
  background-size:contain;
  transform:translate(8px,4px);
}

.cm_k{
  display:flex;
  justify-content:space-between;
  margin:1.5rem 0 1.8rem;
  color:#8C8C8C;
}

.cm_k li.on button{
  font-size:1rem;
  font-weight:bolder;
  color:#000;
}

.cm_k button{
  border:0;
  background-color:transparent;
}

.cm_k button:focus{
  outline:0;
}

.cm_t li{
  display:flex;
  flex-direction:column;
  gap:1.6rem;
}

.cm_t a{
  display:flex;
  justify-content:space-between;
  color:#000;
}

.cm_t h4::after{
  content:"|";
  font-weight:bolder;
  padding-left:1.5rem;
}

.cm_t > li{
  display:none;
}

.cm_t > li.on{
  display:flex;
  flex-direction:column;
  gap:1.6rem;
}
/*community===============================*/
/*visual▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*container▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*con_sec1===============================*/
.con_wrap{
  max-width:1200px;
  width:1200px;
  margin:2.5rem auto;

  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
/*bio_cordination===============================*/
.bio_codi{
  position:relative;
  width:66%;
  height:360px;
  padding:2rem;
  background-color:#F9F9F9;
  border-radius:1rem;
  box-sizing:border-box;
}

.bioc_k{
  display:flex;
  margin:1.2rem 0;
}

.bioc_k button{
  border:0;
  background-color:transparent;
}

.bioc_k button:focus{
  outline:0;
}

.bioc_k li{
  padding:0.5rem 1.2rem;
  border-right:1px solid #C7C7C7;
  background-color:#fff;
}

.bioc_k li.on{
  color:#fff;
  font-weight:bolder;
  background-color:#77BCFF
}

.bioc_k li:last-child{
  border:0;
}

.bioc_k li a{
  color:#C7C7C7
}

.bioc_t li{
  display:none;
}

.bioc_t li.on{
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.bioc_t li a{
  display:flex;
  justify-content:space-between;
  color:#000;
}

.bioc_t li p:first-child:before{
  content:"";
  display:inline-block;
  margin-right:1rem;
  width:20px;
  height:20px;
  background:url(/img/sub/main_image/bio_bullet.png) no-repeat center;
  background-size:contain;
  vertical-align:middle;
}

.bioc_i{
  position:absolute;
  left:-5%; top:-8%;
}
/*bio_cordination===============================*/
/*best_search===============================*/
.best_search{
  width:30%;
  height:360px;
  display:flex;
  flex-direction:column;
  border-radius:1rem;
}

.best_search .cm_title span{
  color:#89C5FF;
}

.best_k{
  display:flex;
  flex-direction:column;
  flex:1;
}

.best_k li{
  height:100%;
  border-bottom:1px solid #ccc;
}

.best_k li.on{
  font-weight:bolder;
  border-bottom:1px solid #000;
}

.best_k li a{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;

  height:100%;
  color:#000;
}

.best_k div:nth-of-type(1){
  margin-right:1.2rem;
  padding:0.5rem 1.2rem;
  background:#F6F6F6;
  border-radius:0.5rem;
}

.best_k li p{
  flex:1;
}
/*best_search===============================*/
/*con_sec1===============================*/

/*con_sec2===============================*/
/*community_kind===============================*/
.con_sec2 .con_wrap{
  max-width:1200px;
  width:1200px;
  margin:2.5rem auto;

  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.community_kind1{
  display:flex;
  flex-direction:column;
  width:28%;
}

.com_button_kind1 li a, .com_button_kind2 li a{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

.com_button_kind1 a, .com_button_kind2 a{
  color:#5B5B5B
}

.com_button_kind1{
  display:flex;
  flex-direction:column;
}

.com_button_kind1 li{
  margin-bottom:10px;
  padding:1rem 1.5rem;
  width:100%;
  height:100px;
  border-radius:1rem;
  box-sizing:border-box;
}

.com_button_kind1 h4{
  margin-bottom:0.6rem;
  padding:0.1rem 0.5rem;
  display:inline-block;
  color:#fff;
}

.com_button_kind1 span::after{
  content:"|";
  margin:0 0.5rem;
}

.com_button_kind1 li:nth-of-type(1) h4{
  background-color:#7DDBFF;
}

.com_button_kind1 li:nth-of-type(1){
  background-color:#DAF2FB;
}

.com_button_kind1 li:nth-of-type(2) h4{
  background-color:#FFBF77;
}

.com_button_kind1 li:nth-of-type(2){
  background-color:#FBE8D3;
}

.com_button_kind1 li:nth-of-type(3) h4{
  background-color:#77BCFF;
}

.com_button_kind1 li:nth-of-type(3){
  background-color:#DDEBFA;
}

.com_button_kind2 li{
  margin-top:20px;
  padding:2rem 2rem;
  width:100%;
  height:150px;
  background-color:#F3F3F3;
  border-radius:1rem;
  box-sizing:border-box;
}

.com_button_kind2 div:nth-of-type(1){
  display:flex;
  flex-direction:column;
}

.com_button_kind2 h4{
  padding:0.1rem 0.5rem;
  width:max-content;
  color:#fff;
  background-color:#6C6C6C;
}

.com_button_kind2 span::after{
  display:block;
  content:"ㅡ";
}
/*community_kind===============================*/
/*photo_event===============================*/
.photo_event{
  display:flex;
  flex-direction:column;
  width:68%;
}

.pe_w{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  height:320px;
}

.equipment_photo{
  padding:2rem;
  width:50%;
  height:100%;
  background-color:#F9F9F9;
  border-radius:1rem;
  box-sizing:border-box;
}

.event_zone{
  position:relative;
  padding:2rem;
  width:44%;
  height:100%;
  background-color:#F9F9F9;
  border-radius:1rem;
  box-sizing:border-box;
}

.event_picture{
  margin-top:1rem;
  width:100%;
  height:200px;
  border-radius:1rem;
  overflow:hidden;
}

.event_picture ul{
  width:100%;
  height:100%;
}

.event_picture li{
  position:absolute;
  width:100%;
  height:100%;
}

.event_picture a{
  display:block;
  width:100%;
  height:100%;
}

.event_picture .swiper-slide{
  width:100%;
  height:100%;
  background:url(/img/sub/main_image/equip1.png) no-repeat center;
  background-size:cover;
  border-radius:1rem;
}

.event_zone .custom-fraction{
  margin-right:0.7rem;
}

.event_zone .swiper-slide:nth-child(n){
  background:url(/img/sub/main_image/bio_event_p1.png) no-repeat center;
  background-size:cover;
}

.event_zone .swiper-slide:nth-child(2n){
  background:url(/img/sub/main_image/test_img1.jpg) no-repeat center;
  background-size:cover;
}

.event_zone .swiper-button-next, .event_picture .swiper-button-prev{
  position:absolute;
  top:48px;
}

.event_zone .swiper-button-next:after, .event_picture .swiper-button-prev:after{
  font-size:1rem;
  color:#000;
}

.event_zone .swiper-button-prev{
  left:265px;
}

.event_zone .swiper-button-next{
  right:18px;
}
/*photo_event===============================*/
/*bio_information===============================*/
.bio_information{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:center;

  margin-top:40px;
  height:150px;
  border-radius:1rem;
}

.bio_information h2::after{
  content:"";
  display:inline-block;
  margin-left:0.5rem;
  width:20px;
  height:20px;
  background:url(/img/sub/main_image/stack_i.png) no-repeat center;
  transform:translateY(2px);
}

.bio_info_kind{
  display:flex;
  flex-direction:row;
  justify-content:space-between;;
  align-items:center;
  gap:1.5rem;
}

.bio_info_kind li{
  text-align:center;
  width:100px;
  height:100px;
  background-color:#F9F9F9;
  border-radius:0.5rem;
}

.bio_info_kind li div{
  margin:1rem auto 0;
  width:50px;
  height:50px;
  background-color:#fff;
  border-radius:50%;
}

.bio_info_kind li p{
  margin-top:0.1rem;
  color:#000;
}
/*bio_information===============================*/
/*con_sec2===============================*/

/*con_sec3===============================*/
/*bio_map===============================*/
.container .con_sec3 .con_wrap{
  max-width:1200px;
  width:1200px;
  margin:1rem auto 0;
  transform: translateY(1.5rem);
}

.bio_map{
  position:relative;
  width:100%;
  height:400px;
  background:url(/img/sub/main_image/bio_map.png) no-repeat center;
  background-size:cover;
  border-radius:1rem;
}

.map_info_input{
  display:flex;
  flex-direction:row;
  gap:0.5rem;
  margin:0rem auto;
  padding-top:1.5rem;
  width:70%;
}

.map_info_input select{
  padding-left:0.3rem;
  width:120px;
  border:0;
  border-radius:0.3rem;
}

.map_info_input select:focus{
  outline:0;
}

.map_info_input form{
  position:relative;
  flex:1;
}

.map_info_input label{
  position:relative;
  width:100%;
  height:100%;
}

.map_info_input input{
  width:100%;
  height:100%;
  padding-left:1rem;
  border:0;
  border-radius:0.5rem;
}

.map_info_input input[type=submit]{
  position:absolute;
  right:2%; top:50%;
  transform:translateY(-50%);
  width:20px;
  height:20px;
  background:url(/img/sub/main_image/search.svg) no-repeat center;
  background-size:contain;
  border:0;
  text-indent:-1000rem;
}

/*search 검색창 자동 X 지우기===============================*/
.map_info_input input::-ms-clear,

.map_info_input input::-ms-reveal {display:none; width :0; height:0;}

.map_info_input input::-webkit-search-decoration,

.map_info_input input::-webkit-search-cancel-button,

.map_info_input input::-webkit-search-results-button,

.map_info_input input::-webkit-search-results-decoration {display:none;}
/*search 검색창 자동 X 지우기===============================*/

.map_info_input input:focus{
  outline:0;
}

.map_info_input button{
  width:100px;
  height:35px;
  border:0;
  border-radius:0.3rem;
  color:#fff;
  background-color:#54AAFD;
}

.map_info_input button:focus{
  outline:0;
}

.map_icon_list{
  position:absolute;
  left:10px; top:50%;
  transform:translateY(-50%);
  display:flex;
  flex-direction:column;
}

.map_icon_list button{
  padding:0;
  width:40px;
  height:40px;
  background:none;
  border:0;
}

.map_icon_list button:focus{
  outline:0; 
}

.map_icon_list button:nth-of-type(1){
  margin-bottom:0.5rem;
}

.map_icon_list button:nth-of-type(1) img{
  border-radius:0.4rem;
}

.map_icon_list button:nth-of-type(2) img{
  border-radius:0.4rem 0.4rem 0 0 ;
}

.map_icon_list button:nth-of-type(3) img{
  border-radius:0 0 0.4rem 0.4rem ;
}

.recommend_list{
  position:absolute;
  left:10%; bottom:10%;
  width:50%;
  display:flex;
  flex-direction:column;
  gap:0.5rem;
}

.recommend_list ul{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.recommend_list ul a{
  color:#fff;
}
/*bio_map===============================*/
/*container_backcolor===============================*/
.container_backcolor{
  position:relative;
  height:200px;
  background-color:#E9EFFF;
  z-index:-1;
}

.shadow_color{
  position:absolute;
  left:50%; top:50%;
  transform:translate(-50%,-50%);
  width:1200px;
  height:50px;
  background-color:#e0e8ff;
  border-radius:50%;
}
/*container_backcolor===============================*/
/*con_sec3===============================*/
/*container▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/
@media screen and (max-width:px) {

}