@charset "UTF-8";
/*visual▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
.visual{
  width:100%;
  height:400px;
}
/*visual back color & img===============================*/
.visual_back{
  position:relative;
  width:100%;
  height:100%;
  display:flex;
}

.visual_back::before{
  position:absolute;
  left:0; top:0;
  content:"";
  display:block;
  width:40%;
  height:100%;
  background:#fff;
  z-index:-1;
}

.visual_back::after{
  position:absolute;
  right:0; top:0;
  content:"";
  display:block;
  width:70%;
  height:100%;
  background:#DDEBFA;
  z-index:-1;
}

.visual_limg{
  position:absolute;
  content:"";
  display:block;
  height:100%;
  z-index:-1;
}

/*visual back color & img===============================*/
.visual_wrap{
  max-width:1200px;
  width:1200px;
  margin:0px auto;

  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}
/*slide banner===============================*/
.slide_banner{
  position:relative;
  flex:0 1 48%;
  height:350px;
}

.slide_banner_nav{
  position:absolute;
  left:2rem; top:2rem;
  display:flex;
  gap:0.5rem;
  z-index:1;
}

.slide_banner_nav button{
  width:18px;
  height:18px;
  background:#fff;
  border:0;
  border-radius:18px;
}

.slide_banner_nav li:nth-of-type(1) button{
  background-color:#54AAFD;
}

.sb1{
  position:absolute;
  padding:2rem;
  height:350px;
  color:#fff;
  background:linear-gradient(to bottom right, #F1FFFB, #238DFF);
  border-radius:1rem;
  box-sizing:border-box;
}

.sb1 div:nth-of-type(1){
  margin-top:6rem;
  padding:0.4rem;
  display:inline-block;
  background-color:#54AAFD;
  border-radius:0.4rem;
}

.sb1 div:nth-of-type(2) h2{
  margin:1rem 0 0.5rem;
}

.sb1 button{
  position:absolute;
  left:0; bottom:0;
  width:130px;
  height:30px;
  line-height:30px;
  text-align:center;
  background-color:#707070;
  border:0;
  border-radius:0rem 1rem 0 1rem;
}

.sb1 button a{
  color:#fff;
}

.sb1 .sb_i{
  position:absolute;
  right:5%; top:0;
}
/*slide banner===============================*/
/*community===============================*/
.cm{
  flex:0 1 48%;
  height:350px;
  padding:2rem;
  background-color:#fff;
  border-radius:1rem;
  box-sizing:border-box;
}

.cm_title{
  display:flex;
  justify-content: space-between;
  align-items:center;

  padding-bottom:1rem;
  border-bottom:1px solid #000;
}

.cm .cm_title h2::after{
  content:"";
  display:inline-block;
  width:25px;
  height:25px;
  background:url(/img/sub/main_image/message_icon.png) no-repeat center;
  background-size:contain;
  vertical-align:middle;
  transform:translate(8px, -3px);
}

.cm ul:nth-of-type(1){
  display:flex;
  justify-content:space-between;

  margin:1.5rem 0 1.8rem;
}

.cm ul:nth-of-type(1) a{
  color:#000;
}

.cm ul:nth-of-type(2){
  display:flex;
  flex-direction:column;
  gap:1.6rem;
}

.cm ul:nth-of-type(2) li{
  display:flex;
  justify-content:space-between;
}

.cm ul:nth-of-type(2) li h4::after{
  content:"|";
  font-weight:bolder;

  padding-left:1.5rem;
}
/*community===============================*/
/*visual▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*container▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*con_sec1===============================*/
.container .con_sec1 .con_wrap{
  max-width:1200px;
  width:1200px;
  margin:2.5rem auto;

  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
/*bio_c===============================*/
.bio_c{
  position:relative;
  flex:0 1 66%;
  height:360px;

  padding:2rem;
  background-color:#F9F9F9;
  border-radius:1rem;
  box-sizing:border-box;
}

.bio_c ul:nth-of-type(1){
  display:flex;

  margin:1.2rem 0;
}

.bio_c ul:nth-of-type(1) li{
  padding:0.5rem 1.2rem;
  border-right:1px solid #C7C7C7;
  background:#fff;
}

.bio_c ul:nth-of-type(1) li:last-child{
  border:0;
}

.bio_c ul:nth-of-type(1) li a{
  color:#C7C7C7
}

.bio_c ul:nth-of-type(2){
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.bio_c ul:nth-of-type(2) li{
  display:flex;
  justify-content:space-between;
}

.bio_c ul:nth-of-type(2) li p:nth-of-type(1)::before{
  content:"";
  display:inline-block;
  margin-right:1rem;
  width:20px;
  height:20px;
  background:url(/img/sub/main_image/bio_bullet.png) no-repeat center;
  background-size:contain;
  vertical-align:middle;
}

.bio_ci{
  position:absolute;
  left:-5%; top:-8%;
}
/*bio_c===============================*/
/*best_s===============================*/
.best_s{
  flex:0 1 30%;
  height:360px;

  display:flex;
  flex-direction:column;

  border-radius:1rem;
}

.best_s .cm_title span{
  color:#89C5FF;
}

.best_s ul{
  display:flex;
  flex-direction:column;

  flex:1;
}

.best_s ul li{
  display:flex;
  flex-direction:row;
  justify-content:space-between;

  flex:1;
  align-items:center;
  border-bottom:1px solid #ccc;
}

.best_s ul li > div:nth-of-type(1){
  margin-right:1.2rem;
  padding:0.5rem 1.2rem;
  background:#F6F6F6;
  border-radius:0.5rem;
}

.best_s ul li > p{
  flex:1;
}
/*best_s===============================*/
/*con_sec1===============================*/
/*con_sec2===============================*/
.container .con_sec2 .con_wrap{
  max-width:1200px;
  width:1200px;
  margin:2.5rem auto;

  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.cm_w{
  display:flex;
  flex-direction:column;
  width:28%;
}

.cm_w ul{
  display:flex;
  flex-direction:column;
}

.cm_w ul h4{
  margin-bottom:0.6rem;
  padding:0.1rem 0.5rem;
  display:inline-block;
  color:#fff;
}

.cm_w ul div:nth-of-type(1) span, .cm_w ul div:nth-of-type(1) p{
  color:#5B5B5B
}

.cm_w ul:nth-of-type(1) span::after{
  content:"|";
  margin:0 0.5rem;
}

.cm_w ul:nth-of-type(2) span::after{
  display:block;
  content:"ㅡ";
}

.cm_w ul:nth-of-type(2) h4{
  width:max-content;
}

.cm_w ul:nth-of-type(1) li:nth-of-type(1) h4{
  background-color:#7DDBFF;
}

.cm_w ul:nth-of-type(1) li:nth-of-type(1){
  background-color:#DAF2FB;
}

.cm_w ul:nth-of-type(1) li:nth-of-type(2) h4{
  background-color:#FFBF77;
}

.cm_w ul:nth-of-type(1) li:nth-of-type(2){
  background-color:#FBE8D3;
}

.cm_w ul:nth-of-type(1) li:nth-of-type(3) h4{
  background-color:#77BCFF;
}

.cm_w ul:nth-of-type(1) li:nth-of-type(3){
  background-color:#DDEBFA;
}

.cm_w ul:nth-of-type(2) h4{
  background-color:#6C6C6C;
}

.cm_w ul:nth-of-type(1) li{
  margin-bottom:10px;
  padding:1rem 1.5rem;
  width:100%;
  height:100px;
  border-radius:1rem;
  box-sizing:border-box;
}

.cm_w ul:nth-of-type(1) li a{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

.cm_w ul:nth-of-type(2) li a{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

.cm_w ul:nth-of-type(2) li a div:nth-of-type(1){
  display:flex;
  flex-direction:column;
}

.cm_w ul:nth-of-type(2) li{
  margin-top:20px;
  padding:2rem 2rem;
  width:100%;
  height:150px;
  background-color:#F3F3F3;
  border-radius:1rem;
  box-sizing:border-box;
}

.pei_w{
  display:flex;
  flex-direction:column;
  width:68%;
}

.pe_w{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  height:320px;
}

.eq_pho{
  padding:2rem;
  width:50%;
  height:100%;
  background-color:#F9F9F9;
  border-radius:1rem;
  box-sizing:border-box;
}

.bi_eve{
  padding:2rem;
  width:44%;
  height:100%;
  background-color:#F9F9F9;
  border-radius:1rem;
  box-sizing:border-box;
}

.bi_w{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:center;

  margin-top:40px;
  height:150px;

  border-radius:1rem;
}

.bi_w h2::after{
  content:"";
  display:inline-block;
  margin-left:0.5rem;
  width:20px;
  height:20px;
  background:url(/img/sub/main_image/stack_i.png) no-repeat center;
  transform:translateY(2px);
}

.bi_w ul{
  display:flex;
  flex-direction:row;
  justify-content:space-between;;
  align-items:center;
  gap:1.5rem;
}

.bi_w ul li{
  text-align:center;
  width:100px;
  height:100px;
  background-color:#F9F9F9;
  border-radius:0.5rem;
}

.bi_w ul li div{
  margin:1rem auto 0;
  width:50px;
  height:50px;
  background-color:#fff;
  border-radius:50%;
}

.bi_w ul li p{
  margin-top:0.1rem;
  color:#000;
}
/*con_sec2===============================*/
/*con_sec3===============================*/
.container .con_sec3 .con_wrap{
  max-width:1200px;
  width:1200px;
  margin:1rem auto 0;
  transform: translateY(1.5rem);
}

.bio_map{
  position:relative;
  width:100%;
  height:400px;
  background:url(/img/sub/main_image/bio_map.png) no-repeat center;
  background-size:cover;
  border-radius:1rem;
}

.map_select_list{
  display:flex;
  flex-direction:row;
  gap:0.5rem;
  margin:0rem auto;
  padding-top:1.5rem;
  width:70%;
}

.map_select_list select{
  padding-left:0.3rem;
  width:120px;
  border:0;
  border-radius:0.3rem;
}

.map_select_list form{
  flex:1;
}

.map_select_list label{
  width:100%;
  height:100%;
}

.map_select_list input{
  width:100%;
  height:100%;
  padding-left:1rem;
  border:0;
  border-radius:0.5rem;
}

.map_select_list button{
  width:100px;
  height:35px;
  border:0;
  border-radius:0.3rem;
  color:#fff;
  background-color:#54AAFD;
}

.map_icon_list{
  position:absolute;
  left:10px; top:50%;
  transform:translateY(-50%);
  display:flex;
  flex-direction:column;
}

.map_icon_list button{
  padding:0;
  width:40px;
  height:40px;
  background:none;
  border:0;
}

.map_icon_list button img{
  width:100%;
  border-radius:0.4rem;
}

.recommend_list{
  position:absolute;
  left:10%; bottom:10%;
  width:50%;
  display:flex;
  flex-direction:column;
  gap:0.5rem;
}

.recommend_list ul{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.recommend_list ul a{
  color:#fff;
}

.container_backcolor{
  position:relative;
  height:200px;
  background-color:#E9EFFF;
  z-index:-1;
}

.shadow_color{
  position:absolute;
  left:50%; top:50%;
  transform:translate(-50%,-50%);
  width:1200px;
  height:50px;
  background-color:#e0e8ff;
  border-radius:50%;
}
/*con_sec3===============================*/
/*container▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/
@media screen and (max-width:px) {

}
