/*기본 웹진게시판-------------------------*/
.search_sort{
  display:flex;
}

/*총 검색 개수-------------------------*/
.total_search_view{
  padding:0.5rem 0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  clear:both;
}

.total_search_view P{
  font-size:1rem;
  font-family:'spoqaR';
}

.total_search_view span{
  font-family:'spoqaM';
}

.total_search_view p:nth-of-type(2){
  margin-left:0.5rem;
  flex:1;
}

.total_search_view .num_select{
  width: 7rem;
  border-radius: 5px;
  font-size: 0.85rem;
  font-family: 'spoqaR';
  height: 30px;
}

.total_search_view span{
  color:#6AA8F3;
}
/*총 검색 개수-------------------------*/

.wZine_gallery{
  width:100%;
  border-top:2px solid #000;
}

.wZ:hover{
  background-color:#f9f9f9;
}

.wZ{
  padding:20px 0 20px 20px;
  display:flex;
  align-items:center;
  gap:2rem;
  border-bottom:1px solid #ccc;
}

.wZ li a{
  display:block;
  width:100%;
  height:100%;
}

.wZ > li:nth-of-type(1){
  flex-shrink:0;
  width:250px;
  height:150px;
  overflow:hidden;
  border-radius:0.5rem;
}

.wZ > li:nth-of-type(1) img{
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
}

.wZ > .wZ_general{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  gap:1rem;
}

.wZ_general .wZ_top{
  width:100%;

  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items:center;
  gap:0.4rem;
  font-family:'spoqaB';
}

.wZ_general .wZ_top h3{
  flex:1;
}

.wZ_general .wZ_top h3 a{
  color:#000;
}

.wZ_general .wZ_top span{
  margin-left:0.1rem;
  color:#6AA8F3;
}

.wz_down{
  width:20px;
  height:20px;
  background:url(/img/sub/wz_image/wz_clip_blue.svg) no-repeat center;
  background-size:contain;
  border:0;
  background-color:transparent
}

.wz_clip{
  width:20px;
  height:20px;
  background:url(/img/sub/wz_image/clip_blue.svg) no-repeat center;
  background-size:contain;
  border:0;
  background-color:transparent
}

.wZ_general .wZ_middle{
  flex:1;
}

/* 웹진 본문 text-overflow */
.wz_middle_overhide{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* 웹진 본문 text-overflow */

.wZ_general .wZ_middle p{
  height:63px;
  overflow:hidden;
  text-overflow:ellipsis;
  word-break:break-all;
}

.wZbio_research .wZ_middle p{
  height:63px;
  overflow:hidden;
  text-overflow:ellipsis;
  word-break:break-all;
}

.wZ_general .wZ_bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.wZ_general .wZ_bottom div:nth-of-type(1){
  display:flex;
  align-items:center;
}

.calendar_bicon::before{
  content:"";
  margin-right:0.5rem;
  display:inline-block;
  width:15px;
  height:15px;
  background:url(/img/sub/wz_image/wz_calendar.png) center no-repeat;
  background-size:contain;
  transform: translateY(2px);
}

.view_bicon::before{
  content:"";
  margin-right:0.5rem;
  display:inline-block;
  width:15px;
  height:15px;
  background:url(/img/sub/wz_image/wz_views.png) center no-repeat;
  background-size:contain;
  transform: translateY(1px);
}

.wZ_bottom p::after{
  content:"";
  margin:0 1rem;
  width:2px;
  height:14px;
  display:inline-block;
  background-color:#a3a3a3;
}

.wZ_bottom p:last-child::after{
  display:none;
}
/*기본 웹진게시판-------------------------*/

/*바이오 연구시설 웹진게시판-------------------------*/
.wZbio_research{
  height:150px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.wZbio_research .wZ_top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-family:'spoqaB';
}

.wZ_top_title{
  display:flex;
  align-items:center;
  gap:0.5rem;
}

/* 웹진 스티커 모음 */
.wZ_sticker1{
  background-color:#8abfff;
  color:#fff;
  padding:0.3rem 0.5rem;
  border-radius:0.3rem;
  font-size:0.8rem
}

.wZ_sticker2{
  background-color:#FFBB71;
  color:#fff;
  padding:0.3rem 0.5rem;
  border-radius:0.3rem;
  font-size:0.8rem
}

.wZ_sticker3{
  background-color:#4882B6;
  color:#fff;
  padding:0.3rem 0.5rem;
  border-radius:0.3rem;
  font-size:0.8rem
}
/* 웹진 스티커 모음 */

.wZbio_research .wZ_top a{
  color:#000;
}

.wZbio_research .wZ_top .wz_down{
  width:20px;
  height:20px;
  background:url(/img/sub/wz_image/wz_clip_blue.svg) no-repeat center;
  background-size:contain;
  border:0;
  background-color:transparent
}

.wZbio_research .wZ_bottom{
  display:flex;
  align-items:center;
}
/*바이오 연구시설 웹진게시판-------------------------*/

/*바이오 서비스 웹진게시판-------------------------*/
.wZbio_service{
  width:100%;
  height:150px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  gap:1.5rem;
}

.wZbio_service .wZ_top{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
}

.wZbio_service .wZ_top h3 a{
  color:#000;
}

.wZbio_service .wZ_top .wz_down{
  width:20px;
  height:20px;
  background:url(/img/sub/wz_image/wz_clip_blue.svg) no-repeat center;
  background-size:contain;
  border:0;
  background-color:transparent
}

.wZbio_service .wZ_middle{
  flex:1;

  display:flex;
  flex-direction:column;
  gap:0.5rem;
}

.wZbio_service .wZ_bottom{
  display:flex;
  align-items:center;
}
/*바이오 서비스 웹진게시판-------------------------*/

/*바이오 장비 웹진게시판-------------------------*/
.searchWrap .equipment_classification,
.searchWrap .location_classification,
.searchWrap .operational_status,
.searchWrap .model_facility_name,
.searchWrap .full_search,
.searchWrap .full_button{
  display:flex;
  align-items:center;
}

.searchWrap h3{
  width:120px;
  flex-shrink:0;
}

.model_facility_name .subkeyBtn2{
  margin-top:0;
  width:200px;
  height:45px;
}

.searchWrap .full_search input{
  border-right:1px solid #999;
}

.full_button{
  justify-content:end;
}

.full_button button{
  margin-top:0;
} 

.wZ_equipment{
  width:100%;
  height:150px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.wZ_equipment .wZ_top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-family:'spoqaB';
}

.wZ_equipment .wZ_top h3 a{
  color:#000;
}

.wZ_equipment .wZ_top span{
  margin-left:0.1rem;
  color:#6AA8F3;
}

.wZ_equipment .wZ_middle p{
  height:63px;
  overflow:hidden;
  text-overflow:ellipsis;
  word-break:break-all;
}

.wZ_equipment .wZ_bottom{
  display:flex;
  align-items:center;
}
/*바이오 장비 웹진게시판-------------------------*/

/*바이오맵(Biomap)-------------------------*/
/* 바이오맵 좌측 검색창 첫 화면*/
.biomap_search_pop{
  padding:0.5rem 0;
  
  display:flex;
  align-items:center;
  justify-content:center;
  gap:0.5rem;

  text-align:center;
  background-color:#eceef2;
}

.biomap_search_pop button{
  width:10px;
  height:10px;

  background:url(../img/sub/main_image/top_popup_close.svg) no-repeat center;
  border:0;
}

.biomap_list .wZ{
  text-align:center;
}

.biomap_list .wZ li{
  position:relative;
}

.biomap_list .wZ li::before{
  content:"";

  position:absolute;
  left:95px; top:50%;
  transform:translateY(-50%);

  display:block;
  width:15px;
  height:15px;
  background:url(../img/sub/main_image/search.svg) no-repeat center;
  background-size:cover;
}
/* 바이오맵 좌측 검색창 첫 화면*/

/* 버이오맵 좌측 게시판 형태 */
.biomap .wZ{
  padding:20px 0;
}

.biomap .wZ > li:nth-of-type(1){
  width:100%;
  height:auto;
}

.biomap .wZ_equipment{
  height:auto;
  gap:1rem;
}

.biomap .wZ_top_title{
  width:100%;
  justify-content:space-between;
}
/* 버이오맵 좌측 게시판 형태 */

/*바이오맵(Biomap) 전체사이즈-------------------------*/
.biomap{
  width:100%;
  height:100vh;

  display:flex;
  overflow:hidden;
}
/*바이오맵(Biomap) 전체사이즈-------------------------*/
/*바이오맵(Biomap) 좌측 검색-------------------------*/
.map_search_box{
  padding:1rem 2rem;
  width:25%;
  height:100%;

  background-color:#fff;
  box-sizing:border-box;

  overflow-y:auto;
  
  align-items:center;
}

.search_logo .logo{
  width:110px;
}

.search_logo img{
  width:100%;
}  
/*바이오맵(Biomap) 좌측 검색 로고-------------------------*/
/*바이오맵(Biomap) 좌측 검색 input-------------------------*/
.search_box{
  position:relative;

  width:100%;
}

.search_box input[type=search]{
  width:100%;
  padding:0.7rem 1rem;
  border:1px solid #ccc;
  border-radius:0.5rem;
}

.search_box input[type=submit]{
  position: absolute;
  right:5%;
  top:50%;
  transform:translateY(-50%);
  width:18px;
  height:18px;
  background:url(/img/sub/main_image/search.svg) no-repeat center;
  background-size:contain;
  border:0;
  text-indent:-1000rem
}
/*바이오맵(Biomap) 좌측 검색 input-------------------------*/
/*바이오맵(Biomap) 좌측 검색 input image-------------------------*/
.search_ibox{
  margin:1.5rem 0;

  width:100%;
  height:200px;
  border-radius:0.5rem;
  background:url(../img/sub/noimg.svg) no-repeat 50% 50% #F6F6F6;
  background-size:120px;
}

.search_title_box{
  width:100%;
}
/*바이오맵(Biomap) 좌측 검색 input image-------------------------*/
/*바이오맵(Biomap) 좌측 검색 타이틀-------------------------*/
.search_title_info{
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.top_title li:nth-of-type(1){
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.top_title li:nth-of-type(1) button{
  padding:0.4rem 1.2rem;
  font-size:0.9rem;
  color:#fff;
  border:0;
  border-radius:0.3rem;
  background-color:#54AAFD;
}

.top_title li:nth-of-type(2){
  margin:0.5rem 0 0.1rem;
}

.top_title_info{
  display:flex;
  flex-direction:column;
  gap:0.2rem;
}

.top_title_info .FilelistWrap{
  float:none;
}

.top_title_info a{
  color:#555;
}

.top_title_info p{
  margin-left:1.5rem;
}

.equipment_event_wrap{
  margin:1.5rem 0 0;
}

.institution_equipment_wrap{
  border-top:1px solid #959595;
  padding:1.5rem 0;
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.eq_title{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.eq_title button{
  border:0;
  background-color:transparent;
}

.institution_equipment_wrap ul{
  display:flex;
  justify-content:space-between;
  gap:1rem;
}

.institution_equipment_wrap li{
  flex:1;
}

.institution_equipment_wrap a{
  color:#222;
}

.equipment_ibox{
  margin-bottom:0.5rem;
  height:100px;
  background:url(../img/sub/noimg.svg) no-repeat 50% 50% #F6F6F6;
  background-size:80px;
  border-radius:0.5rem;
}

.institution_event_wrap{
  border-top:1px solid #959595;
  padding:1.5rem 0 2rem;
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.event_title{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.event_title button{
  border:0;
  background-color:transparent;
}

.institution_event_wrap ul{
  display:flex;
  justify-content:space-between;
  gap:1rem;
}

.institution_event_wrap li{
  flex:1;
}

.institution_event_wrap a{
  color:#222;
}

.event_ibox{
  margin-bottom:0.5rem;
  height:100px;
  background:url(../img/sub/noimg.svg) no-repeat 50% 50% #F6F6F6;
  background-size:80px;
  border-radius:0.5rem;
}

.map_info_button{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:1rem;
}

.map_info_button a{
  flex:1;
  color:#555;
}

.map_info_button a button{
  padding:0.6rem 0;
  width:100%;
  border:0;
  border-radius:0.5rem;
}
/*바이오맵(Biomap) 좌측 검색 타이틀-------------------------*/
/*바이오맵(Biomap) 좌측 검색-------------------------*/
/*바이오맵(Biomap) 우측 지도-------------------------*/
.map_box{
  position:relative;

  padding:1rem 2rem;
  width:75%;

  background-color:#cde4ff;
  box-sizing:border-box;
}

.map_box button{
  cursor:pointer;
}

.map_top{
  width:100%;
  height:70px;

  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:1rem;
}

.map_top ul{
  display:flex;
  gap:1rem;
}

.map_top ul button{
  width:100px;
  height:40px;
  background-color:#fff;
  border:0;
  border-radius:0.5rem;
}

.map_top ul li.on button{
  color:#fff;
  background-color: #54AAFD;
}

.biomap_full_menu{
  width:45px;
  height:45px;
  background-color:#fff;
  border:0;
  border-radius:0.5rem;
  line-height:50px;
}

.biomap_full_menu button{
  width:100%;
  height:100%;
  background-color:transparent;
  border:0;
}

.biomap_plmi{
  position:absolute;
  right:2rem; top:20%;
  display:flex;
  flex-direction:column;
}

.biomap_plmi li{
  width:45px;
  height:45px;
  background-color:#fff;
}

.biomap_plmi li button{
  width:100%;
  height:100%;
  background-color:transparent;
  border:0;
}

.biomap_plmi li:nth-of-type(1){
  margin-bottom:1rem;
  border-radius:0.5rem;
}

.biomap_plmi li:nth-of-type(2){
  border-radius:0.5rem 0.5rem 0 0;
}

.biomap_plmi li:nth-of-type(3){
  border-radius:0 0 0.5rem 0.5rem;
}

.biomap_navigation{
  position:absolute;
  right:2rem; bottom:2rem;

  display:flex;
  flex-direction:column;
  gap:0.5rem;
}

.biomap_navigation li{
  width:45px;
  height:45px;
  background-color:#fff;
  border-radius:0.5rem;
}

.biomap_navigation li button{
  width:100%;
  height:100%;
  border:0;
  background-color:transparent;
}
/*바이오맵(Biomap) 우측 지도-------------------------*/
/*바이오맵(Biomap)-------------------------*/

/* 이용약관 */
/* 이용약관 탭버튼 */
.condition_nav{
  display:flex;
}

.condition_nav li{
  padding:1rem;
  border:1px solid #ccc;
}

.condition_nav li.on{
  border:1px solid #90C9FF;
}

.condition_nav li a{
  color:#555;
}

.condition_nav li.on a{
  color:#90C9FF;
}

.condition_nav button{
  border:0;
  background:transparent;
}
/* 이용약관 탭버튼 */
.condition_tbox{
  display:none;
}

.condition_tbox.on{
  display:flex;
  flex-direction:column;
  gap:2.5rem;

  padding:2rem 2.5rem;
  background:#F8F8F8;
}

.condition_tbox h4{
  display:inline-block;
  background:#ffcb90;
  color:#fff;
  padding:0.1rem 0.5rem;
}

.condition_tbox > ul{
  display:flex;
  flex-direction:column;
  gap:1.5rem;
}

.condition_tbox > ul > ul{
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.condition_title{
  position:relative;

  font-size:1.2rem;
  font-family:'spoqaB';
}

.condition_title::before{
  content:"";

  position:absolute;
  left:-0.8rem; top:50%;
  transform:translateY(-50%);

  display:inline-block;
  width:4px;
  height:16px;
  background:url(../img/sub/sub_han/bio_bullet.svg) center no-repeat;
  background-size:contain;
}

.condition_sub_title{
  font-family:'spoqaR';
  font-size:1.1rem;
}

.condition_sub_title p{
  margin-top:0.5rem;
}

.condition_text{
  display:flex;
  flex-direction:column;
  gap:0.8rem;
}
/* 이용약관 */

/* 개인정보의 수집 및 이용 목적 */
.processing_policy_tbox{
  display:none;
}

.processing_policy_tbox.on{
  display:flex;
  flex-direction:column;
  gap:1.5rem;

  padding:2rem 2.5rem;
  background:#F8F8F8;
}

.processing_policy_tbox h4{
  display:inline-block;
  background:#ffcb90;
  color:#fff;
  padding:0.1rem 0.5rem;
}

.processing_policy_tbox ul{
  display:flex;
  flex-direction:column;
  gap:0.5rem;
}

.processing_policy_tbox .condition_sub_title{
  margin-top:0.5rem;
}
/* 개인정보의 수집 및 이용 목적 */

/* 바이오맵 소개 */
.biomap_introduce_wrap{
  display:flex;
  flex-direction:column;
  gap:3rem;
}

.info_one li:nth-of-type(1), .info_two li:nth-of-type(1){
  display:inline-block;
  padding:0.4rem 1.5rem;
  color:#fff;
  background-color:#54AAFD;
  border-radius:0.3rem 0.3rem 0 0;
}

.info_one li:nth-of-type(2), .info_two li:nth-of-type(2){
  padding:1.5rem;
  background-color:#f7f7f7;
  border-radius:0 0.5rem 0.5rem 0.5rem;
}

.info_three{
  display:flex;
  flex-direction:column;
  gap:50px;

  text-align:center;
}

.info_three li:nth-of-type(1){
  position:relative;

  height:60px;
  line-height:60px;
  color:#fff;
  background-color:#83C2FF;
  border-radius:0.5rem;
}

.info_three li:nth-of-type(2)::before{
  position:absolute;
  left:50%;
  transform:translate(-50%,-35px);
  content:"";
  display:block;
  width:20px;
  height:20px;
  background:url(../img/sub/sub_han/introduce_allow.svg) center no-repeat;
  background-size:cover ;
}

.info_three li:nth-of-type(2){
  position:relative;
}

.info_three li:nth-of-type(2)::after{
  position:absolute;
  left:50%;
  transform:translate(-50%, 75px);
  content:"";
  display:block;
  width:20px;
  height:20px;
  background:url(../img/sub/sub_han/introduce_allow.svg) center no-repeat;
  background-size:cover;
}

.info_three li:nth-of-type(2), .info_three li:nth-of-type(3){
  display:flex;
  gap:50px;
}

.info_three li:nth-of-type(2) div{
  flex:1;
  height:60px;
  line-height:60px;
  color:#fff;
  background-color:#83C2FF;
  border-radius:0.5rem;
}

.info_three li:nth-of-type(3) div{
  flex:1;
}

.sub_info_three div:nth-of-type(1){
  height:60px;
  line-height:60px;
  color:#fff;
  background-color:#FFC88C;
  border-radius:0.5rem 0.5rem 0 0;
}

.sub_info_three div:nth-of-type(2){
  position:relative;
  height:100px;
  background-color:#f3f3f3;
}

.sub_info_three div:nth-of-type(2) p{
  position:absolute;
  left:50%; top:50%;
  transform:translate(-50%,-50%);
}

.info_three li:nth-of-type(4){
  height:60px;
  line-height:60px;
  color:#fff;
  background-color:#FFC88C;
  border-radius:0.5rem;
}
/* 바이오맵 소개 */

/* 찾아오시는 길 */
.come_on_wrap{
  display:flex;
  flex-direction:column;
  gap:1.5rem;
}

.come_on_title{
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.come_on_title div{
  width:80px;
  height:5px;
  background-color:#54AAFD;
}

.come_on_map{
  display:flex;
  flex-direction:column;
  gap:1rem
}

.come_on_map div{
  height:400px;
  border-radius:1rem;

  background:url(../img/sub/noimg.svg) no-repeat 50% 50% #F6F6F6;
  background-size:120px;
}

.come_on_address{
  display:flex;
  justify-content:space-between;
  gap:2rem;
}

.come_on_address li{
  flex:1;

  display:flex;
  flex-direction:column;
  gap:0.5rem;

  padding:1.5rem 0;

  border-top:1px solid #555;
  border-bottom:1px solid #ccc;
}
/* 찾아오시는 길 */

/* 전체검색(검색 엔진) 서브페이지 */
/* 통합검색 검색창 */
.total_search_result .searchWrap{
  width:50rem;
  margin:0px auto;
  padding:2rem 0 0;
  background-color:transparent;
}

.total_search_result .search_sort{
  border:1px solid #ccc;
  border-radius:2rem;
} 

.total_search_result input[type="text"]{
  padding:0 2rem;
  height:4rem;
  border:0;
  background-color:transparent;
}

.total_search_result input:focus{
  outline:none !important;
}

.total_search_result .searchBtn{
  width:4rem;
  height:4rem;
  border-radius:50%;
}

.total_search_result .good_search{
  display:flex;
  align-items:center;
  gap:1.5rem;
}

.total_search_result .good_search div{
  font-size:1.2rem;
}

.total_search_result .good_search_list{
  display:flex;
  gap:1.5rem;
}
/* 통합검색 검색창 */
/* 검색한 내용 건수 */
.total_search_result .search_total{
  padding:2rem 0;
  border-top:2px solid #000;
  font-size:0.89rem;
  text-align:center;
}

.search_engine_wrap h2 span{
  color:#54AAFD;
}
/* 검색한 내용 건수 */
/* 웹진 리스트 */
.search_engine_wrap{
  display:flex;
  flex-direction:column;
  gap:3rem;
}

.Wz_list{
  display:flex;
  flex-direction:column;
  gap:1.5rem;
}

.Wz_list_title{
  display:flex;
  align-items:center;
  gap:1rem;
}

.Wz_list_title h2{
  font-family:'spoqaR';
  font-size:1.8rem;
}

.Wz_board{
  border-top:1px solid #ccc;
}

.the_more{
  text-align:right;
}

.emphasis{
  background-color:#FAAC56;
  color:#fff;
}
/* 웹진 리스트 */
/* 웹진 검색 결과없습니다. */
.search_no{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:0.5rem;

  padding:5rem 0;
  border:1px solid #ccc;
  border-radius:1rem;

  font-size:1.2rem;
}

.search_no_i{
  width:50px;
  height:50px;

  background:url(../img/sub/sub_han/search_no.svg) no-repeat center;
  background-size: contain;
}
/* 웹진 검색 결과없습니다. */
/* 전체검색(검색 엔진) 서브페이지 */

/* 바이오맵 운영조직 */
.organization_text{
  margin-top:6rem;
  text-align:center;
}

.organization_text > ul{
  display:flex;
  flex-direction:column;
  gap:2rem;
}

.bio_director{
  position:relative;

  display:flex;
  justify-content:center;
}

.bio_director::after{
  position:absolute;
  left:50%; top:100%;

  content:"";
  display:block;
  width:1px;
  height:63px;
  background-color:#ccc;
}

.bio_director div{
  width:200px;
  height:60px;
  line-height:60px;
  color:#fff;
  background-color:#54AAFD;
  border-radius:0 1rem 0 1rem;
}

.bio_department_wrap{
  display:flex;
}

.bio_department{
  flex:1;

  display:flex;
  flex-direction:column;
  align-items:center;
  gap:4rem;
}

.bio_sub_department1::after{
  position:absolute;
  left:100%; top:50%;
  transform: translateY(-50%);

  content:"";
  display:block;
  width:205px;
  height:1px;
  background-color:#ccc;
}

.bio_sub_department2::after{
  position:absolute;
  right:100%; top:50%;
  transform: translateY(-50%);

  content:"";
  display:block;
  width:205px;
  height:1px;
  background-color:#ccc;
}

.bio_sub_department{
  position:relative;

  width:200px;
  height:60px;
  color:#fff;
  background-color:#FAAC56;
  border-radius:0 1rem 0 1rem;
}

.bio_sub_department p{
  position:absolute;
  left:50%; top:50%;
  transform:translate(-50%,-50%);
}

.bio_ssub_department{
  display:flex;
  gap:2rem;
}

.bio_ssub_department li{
  position:relative;

  width:150px;
  height:60px;
  line-height:60px;
  border:1px solid #ccc;
  border-radius:0 1rem 0 1rem;
}

.bio_ssub_department li::after{
  position:absolute;
  left:50%; bottom:100%;
  transform:translateX(-50%);

  content:"";
  display:block;
  width:1px;
  height:40px;
  background-color:#ccc;
}

.bio_ssub_department li:nth-of-type(1)::before{
  content:"";

  position:absolute;
  left:50%; top:-66%;

  display:block;
  width:184.5px;
  height:1px;
  background-color:#ccc;
}


.bio_ssub_department li:nth-of-type(3)::before{
  content:"";

  position:absolute;
  right:50%; top:-66%;

  display:block;
  width:184.5px;
  height:1px;
  background-color:#ccc;
}

.bio_ssub_department li:nth-of-type(2)::after{
  height:65px;
}
/* 바이오맵 운영조직 */
.Full_subCombo{
  width:100%;

  display:flex;
}

.searchWrap .Full_subCombo .combo{
  width:calc(100%/3);
}

/* ---------------------------------------------------------------------- */

/*서브페이지 반응형▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
@media screen and (max-width:1400px) {

}

@media screen and (max-width:1300px) {

}

@media screen and (max-width:1250px) {

}

@media screen and (max-width:1100px) {

}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:930px) {
/* 기관정보 > 기관/인력 > 기관정보 웹진 게시판 */
  .wZ_general .wZ_bottom div:nth-of-type(1){
    flex-direction:column;
    align-items:flex-start;
  }

  .wZ_bottom p::after{
    display:none;
  }

  .wZ_general .wZ_bottom{
    flex-direction:column;
    align-items:flex-start;
  }
/* 기관정보 > 기관/인력 > 기관정보 웹진 게시판 */

/* 연구자원 > 바이오서비스 웹진 게시판 반응형 */
.wZbio_service .wZ_bottom{
  flex-direction:column;
  align-items:flex-start;
}

.wZbio_service{
  height:auto;
  gap:0.5rem;
}

.wZbio_service .wZ_middle{
  gap:0;
}
/* 연구자원 > 바이오서비스 웹진 게시판 반응형 */

/* 연구자원 > 시설/장비 > 연구시설 웹진 게시판 반응형 */
  .wZbio_research .wZ_bottom{
    flex-direction:column;
    align-items:flex-start;
  }
/* 연구자원 > 시설/장비 > 연구시설 웹진 게시판 반응형 */

/* 연구자원 > 시설/장비 > 바이오장비 웹진 게시판 반응형 */
  .wZ_equipment .wZ_bottom{
    flex-direction:column;
    align-items:flex-start;
  }
/* 연구자원 > 시설/장비 > 바이오장비 웹진 게시판 반응형 */

/* 연구자원 > 교육프로그램 웹진 게시판 반응형 */
.wZ > li:nth-of-type(1){
  height:160px;
}

.wZ > .wZ_general{
  gap:0.5rem;
}
/* 연구자원 > 교육프로그램 웹진 게시판 반응형 */
}

@media screen and (max-width:768px) {
/* 기관정보 > 기관/인력 > 기관정보 웹진 게시판 반응형 */
  .wZ{
    flex-direction:column;
    padding:15px 0 15px 0;
    gap:1rem;
  }

  .wZ > li:nth-of-type(1){
    width:100%;
    height:200px;
  }

  .wZ li a{
    width:100%;
    height:100%;
  }

  .wZ > li:nth-of-type(1) img{
    height:100%;
    object-fit:cover;
  }
  /* noimg 클래스가 이미지일 경우 */
  .wZ .noimg{
    min-height:200px;
  }
  /* noimg 클래스가 이미지일 경우 */
  .wZ > .wZ_general{
    width:100%;
    gap:0.5rem;
  }

  .wZ_general .wZ_top{
    flex-direction:column;
    align-items:flex-start;
    gap:0;
  }
/* 기관정보 > 기관/인력 > 기관정보 웹진 게시판 반응형 */

/* 연구자원 > 시설/장비 > 연구시설 웹진 게시판 반응형 */
  .wZbio_research{
    height:auto;
    gap:0.5rem;
  }
/* 연구자원 > 시설/장비 > 연구시설 웹진 게시판 반응형 */
}

@media screen and (max-width:700px) {

}

@media screen and (max-width:600px) {

}

@media screen and (max-width:550px) {
/* 연구자원 > 시설/장비 > 연구시설 웹진 게시판 반응형 */
  .wZ_top_title{
    flex-direction:column;
    align-items:flex-start;
    gap:0;

    font-size:1rem;
  }
/* 연구자원 > 시설/장비 > 연구시설 웹진 게시판 반응형 */

/* 연구자원 > 시설/장비 > 바이오장비 웹진 게시판 반응형 */

/* 연구자원 > 시설/장비 > 바이오장비 웹진 게시판 반응형 */
}

@media screen and (max-width:480px) {
/* 기관정보 > 기관/인력 > 기관정보 웹진 게시판*/
  .wZ > li:nth-of-type(1){
    height:190px;  
  }
  /* noimg 클래스가 이미지일 경우 */
  .wZ .noimg{
    min-height:190px;
  }
  /* noimg 클래스가 이미지일 경우 */
  .wZ_top p{
    font-size:1rem;
  }

  .wZ_top h3 a{
    font-size:1.1rem;
  }

  .wZ_general .wZ_bottom{
    font-size:1rem;
  }
/* 기관정보 > 기관/인력 > 기관정보 웹진 게시판*/

/* 연구자원 > 바이오서비스 웹진 게시판 반응형 */
  .wZbio_service .wZ_middle{
    font-size:1rem;
  }

  .wZbio_service .wZ_bottom{
    font-size:1rem;
  }
/* 연구자원 > 바이오서비스 웹진 게시판 반응형 */

/* 연구자원 > 교육프로그램 웹진 게시판 반응형 */
.wZ_general .wZ_middle p{
  font-size:1rem;
}


/* 연구자원 > 교육프로그램 웹진 게시판 반응형 */
}

@media screen and (max-width:400px) {

}

@media screen and (max-width:300px) {
/* 기관정보 > 기관/인력 > 기관정보 웹진 게시판*/
  .wZ > li:nth-of-type(1){
    height:160px;  
  }
  /* noimg 클래스가 이미지일 경우 */
  .wZ .noimg{
    min-height:160px;
  }
  /* noimg 클래스가 이미지일 경우 */
/* 기관정보 > 기관/인력 > 기관정보 웹진 게시판*/
}
/*서브페이지 반응형▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/