/*동향/뉴스-------------------------*/
.wZine_gallery{
  width:100%;
  border-top:2px solid #000;
}

.wZ1{
  padding:20px 0 20px 20px;
  height:180px;
  display:flex;
  align-items:center;
  gap:2rem;
  border-bottom:1px solid #ccc;
}

.wZ1 > li:nth-of-type(1){
  flex-shrink:0;
  width:40px;
  height:40px;
  line-height:40px;
  text-align:center;
  color:#fff;
  background-color:#54AAFD;
  border-radius:0.5rem;
}

.wZ1 > li:nth-of-type(2){
  flex-shrink:0;
  width:300px;
  height:180px;
  background-color:#EAEAEA;
  border-radius:0.5rem;
}

.wZ1 > li:nth-of-type(3){
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  gap:1rem;
}

.wZ1 .wZ_top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:1rem
}

.wZ1 .wZ_top p{
  width:50px;
  height:25px;
  line-height:25px;
  text-align:center;
  color:#fff;
  background-color:#AAD5FF;
  border-radius:0.5rem;
}

.wZ1 .wZ_top h3{
  flex:1;
}

.wZ1 .wZ_top button{
  margin-right:1rem;
  width:16px;
  height:18px;
  background:url(/img/sub/wz_image/wz_download.png) center no-repeat;
  background-size:cover;
  background-color:transparent;
  border:0;
} 

.wZ_middle{
  flex:1;
}

.wZ_middle p{
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
  height:63px;
  overflow:hidden;
  text-overflow:ellipsis;
  word-break:break-all;
}

.wZ_bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.wZ_bottom div:nth-of-type(1){
  display:flex;
  align-items:center;
  gap:1.2rem;
}

.wZ_bottom p:nth-of-type(1)::before{
  content:"";
  margin-right:0.5rem;
  display:inline-block;
  width:15px;
  height:15px;
  background:url(/img/sub/wz_image/wz_calendar.png) center no-repeat;
  background-size:contain;
  transform: translateY(2px);
}

.wZ_bottom p:nth-of-type(1):after{
  content:"";
  margin-left:1rem;
  width:2px;
  height:14px;
  display:inline-block;
  background-color:#a3a3a3;
}

.wZ_bottom p:nth-of-type(3)::before{
  content:"";
  margin-right:0.5rem;
  display:inline-block;
  width:15px;
  height:15px;
  background:url(/img/sub/wz_image/wz_views.png) center no-repeat;
  background-size:contain;
  transform: translateY(1px);
}

.wZ_bottom p:nth-of-type(2):after{
  content:"";
  margin-left:1rem;
  width:2px;
  height:14px;
  display:inline-block;
  background-color:#a3a3a3;
}

.wZ_bottom span{
  margin-left:0.1rem;
  color:#6AA8F3;
}
/*동향/뉴스-------------------------*/