@charset "UTF-8";

/*basic===============================*/
*{
  margin:0;
  padding:0;
}
  body {
  position: relative;
  font-family: 'spoqaL';
  overflow-y: scroll;
  overflow-x: hidden;
  color: #555;
  -webkit-print-color-adjust: exact;
  font-size: 17px;
  width:100%;
  margin: 0;
  padding: 0;
}
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul {
  padding:0;
  margin:0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

button{
  cursor: pointer;
}
input[type="submit"],
input[type="button"]{
  cursor: pointer;
}
input:read-only{
  background:#f6f6f6;
}
table{
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}
table td {
  word-break: break-all;
}
/*class===============================*/
.hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.none{
  display: none;
}
.bold{
  font-weight: 700;
}
/*영역관련===============================*/
.inWrapper {
  position: relative;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}
/*[flex]*/
.makeFlexWrap{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
}
.makeFlex {
  display: flex;
  position: relative;
  box-sizing: border-box;
}
/*justify-content*/
.jc_SB {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.jc_FS {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.jc_FE {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.jc_C {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*aline*/
.ai_FS {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.ai_C {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*[flex]*/
/*영역관련 끝===============================*/
/*스크롤*/
.scrollCss{
  overflow: auto;
}
.scrollCss::-webkit-scrollbar {
  width: 15px;
}
.scrollCss::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}
.scrollCss::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
/*텍스트관련===============================*/
/*align*/
.toLeft {
  text-align: left;
}
.toCenter {
  text-align: center;
}
.toRight {
  text-align: right;
}
.keyColor{
  color:#54AAFD;
}
.subColor{
  color:#FAAC56;
}
.keyColor_BG{
  background:#54AAFD;
}
.subColor_BG{
  background:#FAAC56;
}
/*텍스트관련 끝===============================*/

/*하이퍼링크/버튼관련===============================*/

/*하이퍼링크/버튼관련 끝===============================*/


/*인풋관련===============================*/
input[type='text'],
input[type='password'],
input[type='date'],
select{
  text-indent: 7px;
  height:45px;
  font-size: 1rem;
  border:0.5px solid #999;
  border-radius: 0px;
}
select{
  border: none;
  font-family: 'conCM';
  line-height: 50px;
}
select option{
  padding:0.3rem 0;
  line-height: 50px;
}
input[type='text'],
input[type='password'],
select,
button {
  position: relative;
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
}
input[type='password'] {
  font-family: 'Malgun Gothic';
}
input:focus,
select:focus,
button:focus,
textarea:focus,
a:focus {
  outline: 2.5px dashed #bebebe;
  box-sizing: border-box;
}
input::placeholder {
  font-family: inherit;
  color: #999;
  font-size: 0.9rem;
}
input[type='password']::placeholder {
  font-family: 'NanumSquare';
}
textarea {
  position: relative;
  box-sizing: border-box;
  padding: 1em;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  resize: none;
  border:0.5px solid #ccc;
  border-radius: 0px;
  height: 250px;
  width:100%;
}
/* [라벨] */
label input{
  vertical-align:text-bottom;
}
.check_One,
.allchk{
  text-align: right;
  display: block;
  font-weight: 500;
  color:#000;
}
.join_type_Wrap .type_Wrap .form .check_One input[type='checkbox'],
.join_type_Wrap .type_Wrap .form .allchk input[type='checkbox'],
.check_One input[type='checkbox'],
.allchk input[type='checkbox']{
  vertical-align: sub;
  width:18px;
  height:18px;
  display: inline-block;
  vertical-align: sub;
}
.allchk span{
  color:#54AAFD;
  font-size: 1.2rem;
  font-weight: 600;
}
.join_type_Wrap .type_Wrap .form .allchk input[type='checkbox']{
  width:20px;
  height:20px;
}
/* label {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-right: 3rem;
} */
.info_label {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 12ch;
  padding-right: 1.5rem;
  font-weight: 800;
  font-size: 0.85rem;
  color: #666;
}
.info_label.must:after {
  content: '●';
  display: inline;
  margin-left: 0.25em;
  color: red;
}
.info_ipt {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #999;
}
input[type="checkbox"], 
input[type="radio"]{
  width:15px;
  height:15px;
}
/*인풋관련 끝===============================*/
/*팝업*/
.popUp{
  display: none;
}
.popup_mask{
  width: 100px;
  
}
/*input===============================*/
/*fonts===============================*/
/*서브해딩B*/
@font-face {
  font-family: 'headB';
  src: url('../fonts/바른공군체Bold.woff') format('woff');
  font-weight: 800;
}
/*서브해딩M*/
@font-face {
  font-family: 'headM';
  src: url('../fonts/바른공군체Medium.woff') format('woff');
  font-weight:800;
}
/*콘해딩B*/
@font-face {
  font-family: 'conB';
  src: url('../fonts/한수원_한돋음_B.woff') format('woff');
}
/*콘해딩L*/
@font-face {
  font-family: 'conL';
  src: url('../fonts/한수원_한돋음_R.woff') format('woff');
}
@font-face {
  font-family: 'conCM';
  src: url('../fonts/esamanru-Light.woff') format('woff');
}
/*SpoqaHanSansNeo Bold*/
@font-face {
  font-family: 'spoqaB';
  src: url('../fonts/spoqahan/SpoqaHanSansNeo-Bold.ttf') format('TrueType');
}
/*SpoqaHanSansNeo Medium*/
@font-face {
  font-family: 'spoqaM';
  src: url('../fonts/spoqahan/SpoqaHanSansNeo-Medium.ttf') format('TrueType');
}
/*SpoqaHanSansNeo Regular*/
@font-face {
  font-family: 'spoqaR';
  src: url('../fonts/spoqahan/SpoqaHanSansNeo-Regular.ttf') format('TrueType');
}
/*SpoqaHanSansNeo Light*/
@font-face {
  font-family: 'spoqaL';
  src: url('../fonts/spoqahan/SpoqaHanSansNeo-Light.ttf') format('TrueType');
}
/*SpoqaHanSansNeo Thin*/
@font-face {
  font-family: 'spoqaT';
  src: url('../fonts/spoqahan/SpoqaHanSansNeo-Thin.ttf') format('TrueType');
}
/*fonts===============================*/
@media screen and (max-width:1300px) {
/*basic===============================*/
/*class===============================*/
/*영역관련===============================*/
/*텍스트관련===============================*/
/*인풋관련===============================*/
/* [라벨] */
}
