@charset "UTF-8";xt-overxt-over
/*basic===============================*/
@charset "utf-8";
/* CSS Document */

body {margin:0; padding:0; color: #444; font-size: 13px;}
div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, li, ol, input, th, td, form, fieldset {margin: 0;padding:0;}
img, fieldset {	border:0 none;}
img {vertical-align:middle;}
ol, ul, dl, li {list-style: none;}
table {border-collapse: collapse; font-size:1em; width:100%; border-spacing:0px;}
table td, table th {font-size:1em;}
a:link, a:visited {	color: inherit ;text-decoration: none;	cursor: pointer;}
a:hover, a:active {color: inherit;text-decoration: none;	cursor: pointer;}
input, textarea, select {margin:0; color:#4b4b4b;font-family: Dotum, "돋움",sans-serif;}
input {padding:0; background:#FFF;}
[disabled] {background: #f5f5f5; color: #a9a9a9; border: 1px solid;}
fieldset {border:0; margin:0px; padding:0px;}
legend ,caption{border:0; margin:0px; padding:0px; display:none;}
html, body{height:100%;}
a {text-decoration:none; color:inherit;}
img {border:0; vertical-align:middle;}

html{height:100%;}
body{margin:0px; height:100%; padding:0px; display:block;}
body{font-size:13px; color:#555555; font-family:"NanumBarunGothic";}
table, div{border-collapse:collapse;}
div{display:block;}
select, textarea{border:1px solid #B7B6B6; background:#FFF; vertical-align:middle; box-sizing:border-box;}
strong, b{font-weight:bold;}
form, ul, ol, dl, table, div, h1, h2, h3, h4, h5{margin:0; padding:0;}
img, fieldset, button{border:0; padding:0px; margin:0px;}
input{vertical-align:middle; outline:0;}
select, input, li img{vertical-align:middle; outline:0;}
ul, li, ol{list-style-type : none;}
ul, ol, li{list-style: none; margin:0px; padding:0px;}
legend, hr, caption{border:0; margin:0px; padding:0px; display:none;}
table{border-collapse: collapse;border-spacing: 0;}
a{text-decoration:none; color:#2a2a2c;}
label{padding:0px; margin:0px;}
button, p, select, a, input, dl, dt, dd{margin:0px; padding:0px; vertical-align:middle;}

input.bold{border:solid 1px #a3b1b7; font-weight:bold; letter-spacing:-1px; padding:5px 7px 6px 7px; color:#353535; box-sizing:border-box;}
input.bold:hover{border:solid 1px #999;}
input.bold:focus{border:solid 1px #999;}
input.normal{border:solid 1px #a3b1b7; letter-spacing:-1px; padding:5px 7px 6px 7px; color:#353535; box-sizing:border-box;}
input.normal:hover{border:solid 1px #999;}
input.normal:focus{border:solid 1px #999;}
input.readonly{background:#e9e9e9;}
input.readonly:hover{border:solid 1px #a3b1b7;}
input.readonly:focus{border:solid 1px #a3b1b7 !important;}
input.btn{margin:0 0 0 5px;}
input[type="radio"]{cursor:pointer; width:14px; height:14px; margin-top:-1px;}
img.btn{padding:0 0 0 7px; cursor:pointer;}
select.normal{border:solid 1px #a3b1b7; vertical-align:middle; padding:6px 2px; color:#353535; font-size:12px; box-sizing:border-box;}
select.normal:hover{border:solid 1px #a3b1b7;}
select.normal:focus{border:solid 1px #a3b1b7;}
select.cho{border:solid 1px #a3b1b7; letter-spacing:-1px; vertical-align:middle; height:19px; line-height:19px; padding:0px 0 0px 0px; color:#353535;}
select.cho2{border:solid 1px #a3b1b7; letter-spacing:-1px; vertical-align:middle; height:23px; line-height:19px; padding:0px 0 0px 0px; color:#353535;}
strong.title{font-size:16px; color:#2c7bca;}
td#titleTd{font-size:16px; color:#2c7bca; font-weight:bold;}
strong.name{padding:0 1px 0 0;}

ol.select{display:block; overflow:hidden; margin:0px; padding:0px;}
ol.select li{padding:0 15px 0 0px; margin:0px; float:left;}
ol.select li.first{}
ol.select li.first_2{padding:0 15px 10px 0px;}

.w50{width:50px !important;}
.w75{width:75px !important;}
.w100{width:100px !important;}
.w125{width:125px !important;}
.w150{width:150px !important;}
.w175{width:175px !important;}
.w200{width:200px !important;}
.w300{width:300px !important;}
.wquarter {width:25% !important;} 
.whalf {width:50% !important;}
.wfull {width:100% !important;}
.whalfc {width:calc(50% - 5px) !important;}
.wquarterc {width:calc(75% - 5px) !important;}

.baseline {vertical-align: baseline;}
.break-spaces { white-space: break-spaces !important; }

input.check{width:13px; height:13px;}

textarea.ad_normal{border:solid 1px #bebebe; line-height:17px; height:17px; font-size:12px;}
textarea.ad_normal:focus{border:solid 1px #000;}

input::placeholder {color:#c4c3d0 !important; font-style:italic;}
input::-webkit-input-placeholder {color:#c4c3d0 !important; font-style:italic;}
input:-ms-input-placeholder {color:#c4c3d0 !important; font-style:italic;}
 
textarea::placeholder {color:#c4c3d0 !important; font-style:italic;}
textarea::-webkit-input-placeholder {color:#c4c3d0 !important; font-style:italic;}
textarea:-ms-input-placeholder {color:#c4c3d0 !important; font-style:italic;}

input[readonly], input[readonly='readonly'],
textarea[readonly], textarea[readonly='readonly'] {
  background-color: #f4f8fa;
}

dl.intable{float:left; border-top:solid 1px #dedede; border-left:solid 1px #dedede; border-right:solid 1px #dedede; width:551px;}
dl.intable dt{float:left; width:72px; letter-spacing:-1px; font-size:11px; border-right:solid 1px #dedede; border-bottom:solid 1px #dedede; background:#f7f7f7; vertical-align:middle; line-height:22px; height:22px; padding:2px 0 4px 8px; }
dl.intable dd{float:left; width:462px; border-bottom:solid 1px #dedede; vertical-align:middle; line-height:22px; height:22px; padding:2px 0 4px 8px;}
tr td div.list_goods{border:1px solid #cdcdcd; padding: 5px 5px 5px 5px;margin-bottom: 4px; font-weight: bold; font-size: 12px; width: 25%; float: left;  margin-right: 10px;}



.wrap{height:100%;}

/* 헤더부분 */
#headerwrap{position:fixed; top:0px; z-index:99; width: 100%; min-width:360px; height: 50px; background:#1d2128; clear: both; border-bottom:solid 2px #0682ff; }
.headerlogo_wrap{width: 100%;}
.headerlogo_wrap:AFTER{content: ""; display: block; overflow: hidden; clear: both;}
.headerlogo_wrap > h1{display:block; float:left;}
.headerlogo_wrap > h1 > a{display:block; width:79px; height:50px;}
.headerlogo_wrap > h1 > a img{margin-top:12px; margin-left:15px;width:75%;}
.headerlogo_wrap > ul{display:block; float:left;}
.headerlogo_wrap > ul > li{display:block; float:left;}
.headerlogo_wrap > ul > li a{display:block; font-size:16px; font-weight:bold; color:#55575a;padding:0 15px; height:50px; line-height:50px;}
.headerlogo_wrap > ul > li.on a{background:#171a20; color:#fff;}
.headerlogo_wrap > ul > li:hover a{background:#171a20; color:#fff;}
.admin_profile{display: block; position:relative; float: right; /* background: url("/images/cms/header/heard_05.gif") no-repeat 0px 0px ; */ padding-left:13px;  margin: 0px 12px 0px 0px; color: #efefef;}
.admin_profile p{display: block; float: left; padding:13px 0px 14px 0px;}
.admin_profile > ul{}
.admin_profile > ul:AFTER{content: ""; display: block; overflow: hidden; clear: both;}
.admin_profile > ul > li{float:left; height:50px; cursor:pointer; transition:all .3s;}
.admin_profile > ul > li:hover{background:black;}
.admin_profile > ul > li.acnt_menu_open{width:150px;}
.admin_profile > ul > li.acnt_menu_open span{color:#00b0ff;}
.admin_profile > ul > li:first-child{
	padding:0 15px 0 0;
	}
.admin_profile > ul > li:first-child input.bt_small_bt4{
	border: none;
    height: 20px;
    cursor: pointer;
    background: #8fc43e;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 0 8px;
    font-weight: bold;
    font-size: 12px;
}
.adm_menu{display:none; background:#fff; border-left:1px solid #dddee0; border-right:1px solid #dddee0; border-bottom:1px solid #dddee0}
p.profileico{padding:19px 12px 18px 0px; background:url(/images/cms/cms_top_curs.png) no-repeat right 0 top 25px; float: none;}
p.profileico > span{display:block; text-align:center;}
p.profileico .sir {color: #fff !important;}
.adm_menu li a{display:block; padding:10px 0 10px 40px; color:#555; transition:all .3s;}
.adm_menu li a.acnt_set{background: url("/images/cms/cms_aaa.png") no-repeat 17px 9px;}
.adm_menu li:hover a.acnt_set{background: url("/images/cms/cms_aaa.png") no-repeat 17px 9px #eee;}
.adm_menu li a.log_out{background: url("/images/cms/cms_logout.png") no-repeat 18px 9px;}
.adm_menu li:hover a.log_out{background: url("/images/cms/cms_logout.png") no-repeat 18px 9px #eee;}
.moblie_menubt{display:none; }

.admin_profile #btn_time_extension {padding:3px 5px; margin-top:16px; border:none; color:#fff; font-size:11px; background:#00b0ff; border-radius:3px; letter-spacing:-0.5px; cursor:pointer;}
#logout_timer {margin-top:6px; padding-right:10px; text-align: right;}

#dgChangeUserPassword {display:none;}
/* 헤더부분 end */

/* 콘테이너 */
.container{overflow:hidden; width:100%; min-width:1400px; padding-top:52px; background:#ffffff;}

/* 콘테이너 end*/


/* 레프트메뉴 */
.left_wrap{position:fixed; top:52px; left:0px; width:290px; height:100%; z-index: 99; background:#3e3e3e;}
.m_sel_box{display:none;}
.menutap{position: relative; top:0px; left:0px; z-index: 200;}
.menutap ul{overflow:hidden; display:table; table-layout:fixed; width:94%;}
.menutap ul.site_setting{}
.menutap ul.system_setting{display:none;}
.menutap ul li{display:table-cell; position:relative; margin-right:4px; text-align:center;}
.menutap ul li a{display:block; padding:52px 0 13px 0; color:#b1b1b1;}
.menutap ul li a:hover{color:#fff;}
.menutap ul li a.on{color:#fff;}
.menutap ul li.leftmenu1_1 a{background:url(/images/cms/cms_sys_icon1_off.svg) no-repeat 50% 34% #5f5f5f;}
.menutap ul li.leftmenu1_1 a:hover{background:url(/images/cms/cms_sys_icon1_on.svg) no-repeat 50% 34% #727272;}
.menutap ul li.leftmenu1_1 a.on{background:url(/images/cms/cms_sys_icon1_on.svg) no-repeat 50% 34% #3e3e3e;}
.menutap ul li.leftmenu1_2 a{background:url("/images/cms/cms_sys_icon2_off.svg") no-repeat 50% 34% #5f5f5f;}
.menutap ul li.leftmenu1_2 a:hover{background:url("/images/cms/cms_sys_icon2_on.svg") no-repeat 50% 34% #727272;}
.menutap ul li.leftmenu1_2 a.on{background:url("/images/cms/cms_sys_icon2_on.svg") no-repeat 50% 34% #3e3e3e;}
.menutap ul li.leftmenu1_3 a{background:url("/images/cms/cms_sys_icon3_off.svg") no-repeat 50% 34% #5f5f5f;}
.menutap ul li.leftmenu1_3 a:hover{background:url("/images/cms/cms_sys_icon3_on.svg") no-repeat 50% 34% #727272;}
.menutap ul li.leftmenu1_3 a.on{background:url("/images/cms/cms_sys_icon3_on.svg") no-repeat 50% 34% #3e3e3e;}
.menutap ul > li:hover > a:before{width:100%;}
.menutap > div{position: absolute; top:-1px; right:-1px;}

/* 메뉴펼치기, 닫기, 추가 */
.menuwrap{display:inline-block; width:290px; height:100%; position:relative; left:0px; z-index: 100}
.menuwrap .menu_top{overflow: hidden; padding: 7px 0px 7px 15px;}
.menuwrap .menu_top p{text-indent: -99999px; float: left; margin-top:3px; margin-bottom:3px;}
.menuwrap .menu_top p a{display:block;}
.bt_open{background: url(/images/cms/menu_open_de.svg) no-repeat; width: 57px ; height: 23px;}
.bt_re{background: url(/images/cms/menu_close_de.svg) no-repeat; width: 57px ; height: 23px; margin-left: 6px;}
.bt_array{background: url(/images/cms/menu_array_de.svg) no-repeat; width: 57px ; height: 23px; margin-left: 6px;}
.bt_plus{background: url(/images/cms/menu_plus_de.svg) no-repeat; width: 67px ; height: 23px; margin-left: 7px;}

.bt_open:HOVER{background: url(/images/cms/menu_open_on.svg) no-repeat; }
.bt_re:HOVER{background: url(/images/cms/menu_close_on.svg) no-repeat; }
.bt_plus:HOVER{background: url(/images/cms/menu_plus_on.svg) no-repeat;}
.bt_array:Hover{background: url(/images/cms/menu_array_on.svg) no-repeat; }

/* 레프트메뉴 end*/


.menu_scroll{margin-bottom:50px;}
.menu_scroll > ul{}
.menu_scroll > ul > li{    
	background: #5f5f5f;
    color: #ffffff;
    border-bottom: solid 1px #3e3e3e;
    transition: all .3s;
    }
.menu_scroll > ul > li:hover{
	color: #a5cfff;
    background: #7a7a7a;}
.menu_scroll > ul > li.active{color:#a5cfff; background:#2e588a;}
.menu_scroll > ul > li > div{overflow:hidden; padding:10px 0; position:relative; z-index:10;}
.menu_scroll ul li div span.name{overflow:hidden; white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; position:relative; z-index:15;}
.menu_scroll ul li div span.name a{ position:relative; z-index:25;}
.menu_scroll ul li.on > div span.name{overflow:hidden; white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; color:#a5cfff;}
.menu_scroll > ul > li > div > span.name{display:block; float:left; width:200px; padding-left:36px; margin-top:2px;}
.menu_scroll > ul > li > div > span.menu_plus{
	display: block;
    float: right;
    margin: 1px 13px 0 0;
    background: url(/images/cms/cms_m01_m_off.svg)no-repeat center;
    width: 10px;
    height: 10px;
    text-indent: -99999px;
    background-size: contain;
    line-height: normal;
	}
.menu_scroll > ul > li > div > span.menu_plus:hover{ background: url("/images/cms/cms_m01_m_on.svg") no-repeat center; background-size: contain; }
.menu_scroll > ul > li > div > span.menu_plus a{display:block;}
.menu_scroll ul li.off > div span.name{background:url(/images/cms/cms_left_m01_icon_off.svg) no-repeat 18px 1px;}
.menu_scroll ul li.on > div span.name{background:url(/images/cms/cms_left_m01_icon_on.svg) no-repeat 15px 3px;}

/* 2뎁스 */
.menu_scroll > ul > li > ul{background:#3e3e3e; font-size:12px; border-bottom:solid 1px #3e3e3e; border-top:solid 1px #3e3e3e;}
.menu_scroll > ul > li > ul > li{
	color:#d8eeff;
    border-bottom: solid 0.5px #7a7a7a;
}
.menu_scroll > ul > li > ul > li+li{margin-top:1px;}
.menu_scroll > ul > li > ul > li.active{color:#7dcade;}
.menu_scroll > ul > li > ul > li > div{overflow:hidden; padding:7px 0;}
.menu_scroll > ul > li > ul > li > div:HOVER{    
	color: #ffffff;
    background: #5c5c5c;}
.menu_scroll > ul > li > ul > li > div > span.name{display: block; float: left; width:174px; padding-left:50px;}
.menu_scroll > ul > li > ul > li > div > span.name.sel{color:#7dcade;}

.menu_scroll > ul > li > ul > li.on > div{overflow:hidden;}
.menu_scroll > ul > li > ul > li.active > div > span.name{}
.menu_scroll > ul > li > ul > li.active.on > div > span.name{}
.menu_scroll > ul > li > ul > li.active > div > span.nameplus > a:last-child{display:block; width:14px; height:15px; background:url("/images/cms/left/leftbt_11.png") no-repeat 0px 1px;}
.menu_scroll > ul > li > ul > li.last > div > span.name{background:none;}
.menu_scroll > ul > li > ul > li.off > div span.name{background:url(/images/cms/cms_left_m02_icon_off.png) no-repeat 34px 1px;background-size: 9px;}
.menu_scroll > ul > li > ul > li.on > div span.name{background:url(/images/cms/cms_left_m02_icon_on.png) no-repeat 31px 3px; color:#a5cfff;background-size: 9px;}


/* 3뎁스 */
.menu_scroll > ul > li > ul > li > ul{padding: 0px 0px 0px 0px; background:#303030; font-size:12px;}
.menu_scroll > ul > li > ul > li > ul > li{    
	color: #b2b2b2;
    border-bottom: 0.5px solid #606060;
}
.menu_scroll > ul > li > ul > li > ul > li+li{margin-top:1px;}
.menu_scroll > ul > li > ul > li > ul > li.active{color:#fff;}
.menu_scroll > ul > li > ul > li > ul > li > div{overflow:hidden; padding:7px 0;}
.menu_scroll > ul > li > ul > li > ul > li > div:HOVER{color:#dddddd;}
.menu_scroll > ul > li > ul > li > ul > li > div > span.name{display: block; float: left; width:160px; padding-left:64px;}
.menu_scroll > ul > li > ul > li > ul > li > div > span.menu_plus{
	display: block; 
	float: right; 
	text-indent: -999998px; 
	width: 10px; height: 10px; 
	margin:0px -32px 0px 0px; 
	transition:margin .3s; 
	background: url("/images/cms/cms_m01_m_off.svg") no-repeat 0px 0px;
	background-size:contain;
}
.menu_scroll > ul > li > ul > li > ul > li > div > span.menu_plus:hover{background: url("/images/cms/cms_m01_m_on.svg") no-repeat 0px 0px;background-size:contain;}
.menu_scroll > ul > li > ul > li > ul > li > div > span.menu_plus > a{display: block;float:left; width: 12px; height: 12px; }
.menu_scroll > ul > li > ul > li > ul > li > div > span.menu_plus > a:first-child{margin-left: 0px;}
.menu_scroll > ul > li > ul > li > ul > li > div > span.menu_plus{margin:0px -32px 0px 0px; transition:margin .3s;}
.menu_scroll > ul > li > ul > li > ul > li > div > span.menu_plus.in{margin:0px 11px 0px 0px;}

.menu_scroll > ul > li > ul > li > ul > li.on > div{overflow:hidden;}
.menu_scroll > ul > li > ul > li > ul > li.active > div > span.name{}
.menu_scroll > ul > li > ul > li > ul > li.active.on > div > span.name{}
.menu_scroll > ul > li > ul > li > ul > li.active > div > span.nameplus > a:last-child{display: block;  width: 14px; height: 15px;}
.menu_scroll > ul > li > ul > li > ul > li.last > div > span.name{background:none;}
.menu_scroll > ul > li > ul > li > ul > li.off > div span.name{background:url(/images/cms/cms_left_m02_icon_off.png) no-repeat 47px 1px;}
.menu_scroll > ul > li > ul > li > ul > li.on > div span.name{background:url(/images/cms/cms_left_m02_icon_on.png) no-repeat 44px 3px; color:#7dcade;}


/* 4뎁스 */
.menu_scroll > ul > li > ul > li > ul > li > ul{background-color:#294b78; font-size:12px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li{color:#85a6d1; }
.menu_scroll > ul > li > ul > li > ul > li > ul > li+li{margin-top:1px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li.active{color:#7dcade;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div{overflow:hidden; padding:7px 0;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div:HOVER{color:#7dcade;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div.on2{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div > span.name{display: block; float: left; width:148px;  padding-left:78px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div > span.nameplus{display: block; float: right; text-indent: -999998px; width: 32px; height: 15px; margin:0px -32px 0px 0px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div > span.nameplus > a{display: block;float:left; width: 14px; height: 15px; margin-left:4px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div > span.nameplus > a.on{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div > span.nameplus > a:first-child{margin-left: 0px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div > span.nameplus.out{margin:0px -32px 0px 0px; transition:margin .3s;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div > span.nameplus.in{margin:0px 11px 0px 0px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div:hover > span.nameplus{margin:0px 11px 0px 0px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div:HOVER > span.nameplus > a{display: block; width: 14px; height: 15px; }
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div:HOVER > span.nameplus > a.favorite{width: 14px; height: 15px; }
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div:HOVER > span.nameplus > a.favorite:hover{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > div:HOVER > span.nameplus > a.on{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li.on > div{overflow:hidden;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li.active > div > span.name{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li.active.on > div > span.name{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li.active > div > span.nameplus > a:last-child{display: block;  width: 14px; height: 15px;  }
.menu_scroll > ul > li > ul > li > ul > li > ul > li.last > div > span.name{background:none;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li.off > div span.name{background:url(/images/cms/cms_left_m02_icon_off.png) no-repeat 60px 1px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li.on > div span.name{background:url(/images/cms/cms_left_m02_icon_on.png) no-repeat 56px 3px; color:#7dcade;}


/* 5뎁스 */
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul{font-size:12px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li{color:#85a6d1;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li+li{margin-top:1px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li.active{color:#7dcade;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div{overflow:hidden; padding:7px 0;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div:HOVER{color:#7dcade;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div.on2{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.name{display: block; float: left; width:132px; padding-left:92px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.nameplus{display: block; float: right; text-indent: -999998px; width: 32px; height: 15px; margin: 5px 11px 0px 0px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.nameplus > a{display: block;float:left; width: 14px; height: 15px; margin-left:4px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.nameplus > a.on{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.nameplus > a:first-child{margin-left: 0px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.nameplus.out{margin:0px -32px 0px 0px; transition:margin .3s;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.nameplus.in{margin:0px 11px 0px 0px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div:HOVER > span.nameplus{margin:0px 11px 0px 0px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div:HOVER > span.nameplus > a{display: block; width: 14px; height: 15px; }
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div:HOVER > span.nameplus > a.favorite{width: 14px; height: 15px; }
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div:HOVER > span.nameplus > a.favorite:hover{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > div:HOVER > span.nameplus > a.on{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li.on > div{overflow:hidden;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li.active > div > span.name{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li.active.on > div > span.name{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li.active > div > span.nameplus > a:last-child{display: block;  width: 14px; height: 15px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li.last > div > span.name{background:none;}

/* 6뎁스 */
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul{font-size: 12px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li{color: #85a6d1; }
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > div{overflow: hidden;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.name{display: block; float: left; padding-left: 58px; height: 14px; padding-top: 7px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.name > a{ padding-left: 16px; padding-top: 4px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.name > a.on{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.name > a.on2{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.nameplus{display: block; float: right; text-indent: -999998px; width: 32px; height: 15px; margin: 5px 11px 0px 0px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.nameplus > a{display: block;float:left; width: 14px; height: 15px; margin-left: 3px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.nameplus > a:first-child{margin-left: 0px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li.active{color: #7dcade;  }
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li.active:HOVER{color: #7dcade; }
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li:HOVER{color: #7dcade;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li:HOVER > div > span.nameplus > a{display: block;  width: 14px; height: 15px;  }
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li:HOVER > div > span.nameplus > a:first-child{width: 14px; height: 15px; }
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li:HOVER > div > span.nameplus > a:first-child:hover{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li.on > div{overflow: hidden; height: 24px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li.on > div > span.name{display: block; float: left; padding-left: 58px; height: 14px; padding-top: 7px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li.on > div > span.name > a{ padding-left: 16px;padding-top: 4px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li.on > div > span.name > a.on{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li.on > div > span.name > a.on2{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li.active > div > span.nameplus{display: block; float: right; text-indent: -999998px; width: 32px; height: 15px; margin: 5px 11px 0px 0px;}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li.active > div > span.nameplus > a{display: block;  width: 14px; height: 15px; }
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li.active > div > span.nameplus > a:first-child{width: 14px; height: 15px; }
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li.active > div > span.nameplus > a.on:first-child{width: 14px; height: 15px; }
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > div > span.nameplus > a.on:first-child{}
.menu_scroll > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li.last > div > span.name{background:none;}

.menu_scroll > ul > li > ul > li div > span.menu_plus{display: block; float: right; text-indent: -999998px; width: 10px; height: 10px; margin:0px -32px 0px 0px; transition:margin .3s; background: url("/images/cms/cms_m01_m_on.svg") no-repeat 0px 0px; background-size:contain;}
.menu_scroll > ul > li > ul > li div > span.menu_plus:hover{background: url("/images/cms/cms_m01_m_off.svg") no-repeat 0px 0px;background-size:contain;}
.menu_scroll > ul > li > ul > li div > span.menu_plus > a{display: block;float:left; width: 12px; height: 12px; }
.menu_scroll > ul > li > ul > li div > span.menu_plus > a:first-child{margin-left: 0px;}
.menu_scroll > ul > li > ul > li div > span.menu_plus{margin:0px -32px 0px 0px; transition:margin .3s;}
.menu_scroll > ul > li > ul > li div > span.menu_plus.in{margin:0px 11px 0px 0px;}


.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{margin-right:0px !important;}
.mCSB_inside>.mCSB_container{margin-right:9px !important;}

.menu_select{ text-align:center; padding-bottom:13px; margin-top: 8px; cursor: pointer;}
.menu_select select{width:180px; height:34px; background:#1d2128; border:none; font-size:13px; color:#fff; border:1px solid #464646;  cursor: pointer;}


.menu_scroll2{margin-bottom:50px;}
.menu_scroll2 > ul{padding-top:15px;}
.menu_scroll2 > ul > li{ color:#ffffff; transition:all .3s; }
.menu_scroll2 > ul > li:hover{color:#eec046;}
.menu_scroll2 > ul > li.active{color:#eec046;}
.menu_scroll2 > ul > li > div{overflow:hidden; padding:10px 0; position:relative; z-index:10;}
.menu_scroll2 ul li div span.name{overflow:hidden; white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; position:relative; z-index:15; background:url(/images/cms/cms_left_m01_icon_off.png) no-repeat 18px 1px; padding-left:36px;}
.menu_scroll2 ul li div span.name a{ position:relative; z-index:25;}
.menu_scroll2 ul li.on > div span.name{overflow:hidden; white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; color:#eec046;}

/* 사이트정보관리*/
.menu_scroll2 ul li div.sy24 span.name{ background:url(/images/systemicon/site_icon_06.png) no-repeat 14px 0px;}
/* 회원관리*/
.menu_scroll2 ul li div.sy1 span.name{ background:url(/images/systemicon/site_icon_10.png) no-repeat 14px 0px;}
/* 메뉴권한관리*/
.menu_scroll2 ul li div.sy2 span.name{ background:url(/images/systemicon/site_icon_18.png) no-repeat 14px 0px;}
/* 게시판관리*/
.menu_scroll2 ul li div.sy3 span.name{ background:url(/images/systemicon/site_icon_24.png) no-repeat 14px 0px;}
/* 공통코드관리*/
.menu_scroll2 ul li div.sy4 span.name{ background:url(/images/systemicon/site_icon_37.png) no-repeat 14px 0px;}
/* 프로그램관리*/
.menu_scroll2 ul li div.sy5 span.name{ background:url(/images/systemicon/site_icon_29.png) no-repeat 14px 0px;}
/* 접근권한IP관리*/
.menu_scroll2 ul li div.sy6 span.name{ background:url(/images/systemicon/site_icon_33.png) no-repeat 14px 0px;}
/* 예약업데이트관리*/
.menu_scroll2 ul li div.sy7 span.name{ background:url(/images/systemicon/site_icon_45.png) no-repeat 14px 0px;}
/* 웨표준검사*/
.menu_scroll2 ul li div.sy8 span.name{ background:url(/images/systemicon/site_icon_47.png) no-repeat 14px 0px;}
/* 만족도검사*/
.menu_scroll2 ul li div.sy9 span.name{ background:url(/images/systemicon/site_icon_40.png) no-repeat 14px 0px;}
/* SNS댓글계정관리*/
.menu_scroll2 ul li div.sy10 span.name{ background:url(/images/systemicon/site_icon_42.png) no-repeat 14px 0px;}
/* 방문자 통계*/
.menu_scroll2 ul li div.sy11 span.name{ background:url(/images/systemicon/site_icon_50.png) no-repeat 14px 0px;}
/* 관리자접속로그*/
.menu_scroll2 ul li div.sy12 span.name{ background:url(/images/systemicon/site_icon_52.png) no-repeat 11px 0px;}
/* 필터링관리*/
.menu_scroll2 ul li div.sy13 span.name{ background:url(/images/systemicon/site_icon_56.png) no-repeat 13px 0px;}
/* 현재로그인회원목록*/
.menu_scroll2 ul li div.sy14 span.name{ background:url(/images/systemicon/site_icon_60.png) no-repeat 16px 0px;}
/* 스타일가이드*/
.menu_scroll2 ul li div.sy15 span.name{ background:url(/images/systemicon/site_icon_64.png) no-repeat 14px 0px;}
/* SMS발송*/
.menu_scroll2 ul li div.sy16 span.name{ background:url(/images/systemicon/site_icon_67.png) no-repeat 14px 0px;}
/* E메일발송관리*/
.menu_scroll2 ul li div.sy17 span.name{ background:url(/images/systemicon/site_icon_72.png) no-repeat 14px 0px;}
/* 푸쉬발송*/
.menu_scroll2 ul li div.sy18 span.name{ background:url(/images/systemicon/site_icon_69.png) no-repeat 14px 0px;}
/* 통계*/
.menu_scroll2 ul li div.sy19 span.name{ background:url(/images/systemicon/site_icon_75.png) no-repeat 14px 0px;}

/* 기본설정*/
.menu_scroll2 ul li div.sy20 span.name{ background:url(/images/systemicon/site_icon_03.png) no-repeat 14px 0px;}
/* 메인페이지설정*/
.menu_scroll2 ul li div.sy21 span.name{ background:url(/images/systemicon/site_icon_13.png) no-repeat 14px 0px;}
/* 화면관리*/
.menu_scroll2 ul li div.sy22 span.name{ background:url(/images/systemicon/site_icon_20.png) no-repeat 14px 0px;}
/* 예약 업데이트 관리*/
.menu_scroll2 ul li div.sy23 span.name{ background:url(/images/systemicon/site_icon_26.png) no-repeat 14px 0px;}

/* 메인콘텐츠 */
#main{height:auto; margin:0 0 0 290px; /* padding-top: 47px; */}
#main:AFTER{content: "" ; clear: both; display: block;}

/* 타이틀바 */
.titlebar{/* background: url("/images/cms/title/title_03.png") repeat-x 0px 0px; */background:#fff; border-bottom:solid 1px #c9c9c9;}
.titlebar:AFTER{content: "" ; clear: both; display: block;}
.titlebar h2{display:block; float:left; font-size: 25px; color: #222; padding: 23px 0px 23px 55px; /* background:url(/images/cms/cms_main_dash_top.png) no-repeat 50px 50%; */ font-weight:normal;}
.titlebar div{display:block; float:right; background: url(/images/cms/cms_stastic_icon_home.png) no-repeat 15px 32px; padding: 31px 37px 31px 35px;}
.titlebar div span{margin:0 3px; background:url(/images/cms/cms_stastic_icon_curs.png) no-repeat top 0px right 0px; padding-right:15px; color:#adadad;}
.titlebar div span:last-child{background:none; padding:0px; color:#222;}

/* 콘텐츠 */
.contents_wrap{position:relative; padding:39px 25px 59px 50px;}
.ct_wrap {padding:0; margin-right:272px; background:#fff;}
.cts_wrap {padding:0; margin:0; background:#fff;}
.contents{position:relative;  min-height:670px; background:#fff;}
.contents:after{display:block; clear:both; content:"";}

/* 콘텐츠탭 */
.conwrap_tap{position:relative; z-index:9; margin-bottom:10px; border-bottom:1px solid #d4d4d4;}
.conwrap_tap ul{}
.conwrap_tap ul:AFTER{content:""; display:block; clear:both;}
.conwrap_tap ul li{float:left; display:block;}
.conwrap_tap ul li a{border-left:1px solid #fff; border-right:1px solid #fff; font-size:17px; color:#999999; display:block; text-align:center; height:41px; line-height:44px; transition:all .3s; padding:0 33px; background:#eeeeee;}
.conwrap_tap ul li:hover a{background:#dcdcdc;}
.conwrap_tap ul li.on a{color:#fff; background:#00a1e9; font-weight:600;}
.conwrap_tap ul li:first-child a{border-left:none;}
.conwrap_tap ul li:last-child a{border-right:none;}

/*로그인 */
#login_wrao{background:url(/images/bg/bg_login_1.jpg) no-repeat center; width:100%; height:100%; position:relative; /* background-size:100% 100%; */}
#login_wrao h1{font-size:17px; color:#f5f8fc; position:absolute; top:10px; left:10px;}
.login_box{
	width: 470px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffffff4a;
    border-radius: 10px;
    margin-top: -250px;
    margin-left: -235px;
}
.loginfrom{padding:99px 85px 0px 85px;}
.loginfrom > p{
	    border-radius: 5px;
}
.loginfrom > p:first-child{}
.loginfrom > p:first-child input{width:100%; height:42px; text-indent:10px; font-family:'NanumBarunGothic'; font-size:15px; border:none; border-radius: 5px;}
.loginfrom > p:nth-child(2){margin-top:13px;}
.loginfrom > p:nth-child(2) input{width:100%; height:42px; text-indent:10px; font-family:'NanumBarunGothic'; font-size:15px;border:none; border-radius: 5px;}
.loginfrom > p:nth-child(3){margin-top:13px;}
.loginfrom > p:nth-child(3) span{
	color: #fff;
    font-family: 'NanumBarunGothic';
    font-size: 16px;
    vertical-align: text-top;
    padding-left: 6px;
}
.loginfrom > p:nth-child(3) input{
	width: 16px;
    height: 16px;
}
.loginbt{text-align:center; margin-top:46px;}
.loginbt input{
	width: 296px;
    height: 45px;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-family: 'NanumBarunGothic';
    font-size: 18px;
    background: #3eb5eb;
}
.login_box > p{position:absolute; width:100%; bottom:45px; text-align:center; padding:0 10px; color:#dcdcdc; line-height:21px; -moz-box-sizing: border-box;}

.essential_desc {text-align:right;font-size:13px;margin-bottom:3px;}
.essential_desc strong {color:#f17418;padding-right:5px;}

.layout_g1{
	border: 0.5px solid #b3b3b3;
    padding: 8px;
    margin-top: 8px;
    background: #f6f6f6;
    border-radius: 3px;
}

.layout_g1 span span{
	display: inline-block;
    padding: 5px 5px 4px 8px;
    margin-right: 5px;
    margin-bottom: 2px;
    color: #fff !important;
    background: #5d5d5d !important;
    border-radius: 3px;
    letter-spacing: -0.5px !important;
	}

.layout_g1 span span a{display:inline-block; margin:-1px 0 0 2px;}
	
/* Calendar */
span.monthWrap,
span.dateWrap { overflow:hidden; display:inline-block; width:141px; vertical-align:middle; }
span.monthWrap > input[type='text'],
span.dateWrap > input[type='text'] { width:calc(100% - 33px); text-align:center; display:inline-block; height:28px; padding:0; border:1px solid #a3b1b7; color:#666; vertical-align:middle; }
span.monthWrap > button,
span.dateWrap > button { margin:0; min-width:31px; height:30px; padding:0; }
span.dateWrap ~ em { display:inline-block; margin:0; font-size:1rem; text-align:center; vertical-align:middle; }
span.dateWrap + button.small { margin-left:10px; }
span.dateWrap + span.select { margin:0 0 0 5px; }

/* ============================== [TOP 위로 버튼] ============================== */
#btn_toTop {
  position: fixed;
  box-sizing: border-box;
  right: 25px;
  bottom: 10px;
  width: 4em;
  height: 4em;
  background: #fff url('/images/homepage/gotop.png') no-repeat
    center center;
  /* background-size: 80% auto; */
  border: 2px solid #d2d2d2;
  border-radius: 100%;
  color: rgb(0,0,0,0);
  display:none;
}
@media only screen
and (max-width : 1024px) {
	ol.select li{padding:0 15px 0 0px; margin:0px; float:left; margin-bottom:4px;}
	/* 헤더부분 */
	#headerwrap{position:fixed; top:0px; z-index:499; width: 100%; height: 43px; background:#1d2128; clear: both; border-bottom:none; }
	.headerlogo_wrap{width: 100%;}
	.headerlogo_wrap > h1{display:block; float:left;}
	.headerlogo_wrap > h1 > a{display:block; width:60px; height:50px;}
	.headerlogo_wrap > h1 > a img{margin-top:8px; margin-left:15px;}
	.headerlogo_wrap > ul{display:none;}
	.headerlogo_wrap > ul > li{display:block; float:left;}
	.headerlogo_wrap > ul > li a{display:block; font-size:16px; font-weight:bold; color:#55575a;padding:0 15px; height:50px; line-height:50px;}
	.headerlogo_wrap > ul > li.on a{background:#171a20; color:#fff;}
	.headerlogo_wrap > ul > li:hover a{background:#171a20; color:#fff;}
	.admin_profile{display:block;float:left; margin: 0px 0px 0px 10px; padding-left: 0px;}
	.admin_profile ul li:first-child{display: none;} 
	.admin_profile ul li:last-child{display: none;} 
	.admin_profile > ul > li{float:left; height:43px; cursor:pointer; transition:all .3s; padding: 0px !important;}
    .admin_profile > ul > li:hover{background:none;}
    
    .menu_select{ text-align:center; padding-bottom:0px; margin-top: 4px; cursor: pointer;}
	.menu_select select{width:180px; height:34px; background:none; border:none; font-size:13px; color:#fff; border:1px solid #464646;  cursor: pointer;}
	    
    
	.moblie_menubt{display:block; float:right; margin-right:10px; margin-top:13px;}
	
	/* 헤더부분 end */
	
	/* 콘테이너 */
	.container{overflow:hidden; width:100%; min-width:360px; padding-top:43px; background:#ffffff;}
	
	/* 콘테이너 end*/
	
	
	/* 레프트메뉴 */
	.left_wrap{position:fixed; top:0px; left:-291px; width:290px; height:100%; z-index: 5000; background:#284c77; }
	.m_sel_box{display:block;}
	.m_sel_box_in1{background:#1d2128; height:42px; border-bottom:1px solid #20262f; overflow:hidden;}
	.m_sel_box_in2{background:#1d2128; height:49px;overflow:hidden;}
	.m_sel_box_in1 > p{display:block; float:left; font-size:15px; color:#c6a75c; margin-left:10px; line-height:42px;}
	.m_sel_box_in1 > p span{color:#fff;}
	.m_sel_box_in1 > div{display:block; float:right;}
	.m_sel_box_in1 > div > p {float:left; color:#9ca7b9; font-size:15px; padding:0 15px;}
	.m_sel_box_in1 > div > p.m_acc_1{height:42px; line-height:42px; background:url(/images/cms/cms_aaa.png) no-repeat 0px 13px; padding-left:20px;}
	.m_sel_box_in1 > div > p.m_acc_1 a {display:block;}
	.m_sel_box_in1 > div > p.m_acc_2{height:42px; line-height:42px; background:url(/images/cms/cms_logout.png) no-repeat 0px 13px; padding-left:20px;}
	.m_sel_box_in1 > div > p.m_acc_2 a {display:block;}
	.m_sel_box_in2 > p{ float:left; width:58px; text-align:center; height:49px;}
	.m_sel_box_in2 > p img{margin-top:10px;}
	.m_sel_box_in2 > ul{display:block; float:left;}
	.m_sel_box_in2 > ul > li{display:block; float:left; width:83px; height:49px; font-weight:bold; font-size:16px; color:#55575a; text-align:center; line-height:47px;}
	.m_sel_box_in2 > ul > li:first-child{width:66px;}
	.m_sel_box_in2 > ul > li.on{color:#fff; background:black;}
	.menutap > div{display:none;}
	.menutap ul{overflow:hidden; display:table; table-layout:fixed; width:100%;}
	
	/* 메인콘텐츠 */
	#main{height:auto; margin:0 0 0 0px; /* padding-top: 47px; */}
	#main:AFTER{content: "" ; clear: both; display: block;}
	
	/* 타이틀바 */
	.titlebar{/* background: url("/images/cms/title/title_03.png") repeat-x 0px 0px; */background:#fff; border-bottom:solid 1px #c9c9c9;}
	.titlebar h2{display:block; float:left; font-size: 25px; color: #222; padding: 15px 0px 15px 55px; background:url(/images/cms/cms_main_dash_top.png) no-repeat 21px 15px; font-weight:normal;}
	.titlebar div{display:block; float:right; background: url(/images/cms/cms_stastic_icon_home.png) no-repeat 15px 18px; padding: 18px 27px 26px 35px;}
	
	
	/* 콘텐츠 */
	.contents_wrap{position:relative; padding:39px 25px 59px 50px;}
	.ct_wrap {padding:0; margin-right:272px; background:#fff;}
	.cts_wrap {padding:0; margin:0; background:#fff;}
	.contents{position:relative;  min-height:670px; background:#fff;}
	.contents:after{display:block; clear:both; content:"";}
		
	/* 대시보드 */
	.cs_text span.cs_l{color:#fff; font-weight:600; background:#ec826a; box-sizing:border-box; width:100%; }
	.cs_text span.cs_r{color:#777; font-weight:600; background:#e7eaee;  width:100%; margin-top:5px;}
	.dash_bottom{overflow:hidden;}
	.dash_left{float:left; width:100%;  box-sizing:border-box; background:#fff; /* border-top:solid 4px #7bdbc4; */}
	.dash_right{float:right; width:100%; box-sizing:border-box; margin-top:50px;}
	.dash_r1{width:60%;  box-sizing:border-box; background:#fff; /* border-top:solid 4px #7bdbc4; */ float:left; margin-right:5%;}
	.dash_r2{width:35%; background:#fff; box-sizing:border-box; margin-top:0px;  float:right;}
	.sys_m1{width:100%;}
	.sys_mtop{}
	.dt_left ul{display:block; width:100%; overflow:hidden;}
	.dt_left ul li{display:block; text-align:center; width:50%; float:left; }
	.dt_left ul li div{margin:0 0 3px 0;}
	.dt_left ul li div:nth-child(2n-1){margin-right:3px;}	
}
@media only screen
and (max-width : 768px) {
	/* 콘텐츠 */
	.contents_wrap{position:relative; padding:20px 10px;}
	
	/* 타이틀바 */
	.titlebar{/* background: url("/images/cms/title/title_03.png") repeat-x 0px 0px; */background:#fff; border-bottom:solid 1px #c9c9c9;
	 position:relative; padding-top:31px;
	}
	.titlebar h2{display:block; float:left; font-size: 20px; height:42px; color: #222; padding: 0px 0px 0px 42px; background:url(/images/cms/cms_main_dash_top.png) no-repeat 10px 9px; font-weight:normal; background-size:23px 23px; line-height:41px;}
	.titlebar div{display:block; float:none; background: url(/images/cms/cms_stastic_icon_home.png) no-repeat 12px 8px; padding: 0px 0px 0px 31px;
	 position:absolute; top:0px; left:0px; width:100%; border-bottom:1px solid #d4d4d4; height:30px; line-height:31px;
	}
	
	/* 대시보드 */
	.dash_top{margin-bottom:30px;}
	.current_state > ul{display:block; table-layout:fixed; width:100%; margin-top:15px; overflow:hidden;}
	.current_state > ul > li{display:block; padding:0 2%; border-left:solid 1px #ddd; float:left; width:44%; margin-bottom:30px;}
	.current_state > ul > li:nth-child(odd){border-left:none; padding-left:3%;}
	.current_state > ul > li:nth-child(even){padding-right:3%;}
	.cs_text span.cs_l{color:#fff; font-weight:600; background:#ec826a; box-sizing:border-box; width:auto; }
	.cs_text span.cs_r{color:#777; font-weight:600; background:#e7eaee;  width:auto; margin-top:0px;}
	.dash_r1{width:100%;  box-sizing:border-box; background:#fff; /* border-top:solid 4px #7bdbc4; */ float:left; margin-right:0px;}
	.dash_r2{width:100%; background:#fff; box-sizing:border-box; margin-top:0px;  float:right; margin-top:30px;}
	.sys_m2{width:100%;}
	.dt_left ul{display:block; width:100%; overflow:hidden;}
	.dt_left ul li{display:block; text-align:center; width:50%; float:left; }
	.dt_left ul li div{margin:0 0 3px 0;}
	.dt_left ul li div:nth-child(2n-1){margin-right:3px;}
	
	.conwrap_tap ul li{width:25%;}
	.conwrap_tap ul li a{ padding:0px; text-align:center; font-size:15px;}
}


@media only screen
and (max-width : 510px) {
	#login_wrao h1{font-size:17px; color:#f5f8fc; position:absolute; top:10px; left:0px; z-index:100; text-align:center; width:100%;}
	.login_box{width:100%; height:100%; position:relative; top:0%; left:0%; margin-top:0px; margin-left:0px; background: rgba(54, 54, 54, 0.3);}
	.loginfrom{padding:99px 25px 0px 25px;}
	.loginfrom > p:first-child{}
	.loginfrom > p:first-child input{width:100%; height:35px; text-indent:10px; font-family:'NanumBarunGothic'; font-size:15px; border:none;}
	.loginfrom > p:nth-child(2){margin-top:13px;}
	.loginfrom > p:nth-child(2) input{width:100%; height:35px; text-indent:10px; font-family:'NanumBarunGothic'; font-size:15px;border:none; background:#e9ebd9;}
	.loginfrom > p:nth-child(3){margin-top:13px;}
	.loginfrom > p:nth-child(3) span{color:#fff; font-family:'NanumBarunGothic'; font-size:13px; padding-left:6px;}
	.loginbt{text-align:center; margin-top:46px; padding:0px 25px;}
	.loginbt input{width:100%; height:39px; color:#fff; border-radius:3px; border:none;  font-family:'NanumBarunGothic'; font-size:15px; background:#3964af;}
	.login_box > p{position:absolute; width:100%; bottom:20px; text-align:center; padding:0 15px; color:#dcdcdc; line-height:21px;  
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}

}
    

* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: 'Nanum Gothic','Noto Sans KR', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #555;
  -webkit-print-color-adjust: exact;
  font-size: 17px;
  width:100%;
  margin: 0;
  padding: 0;
}
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul {
  padding:0;
  margin:0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

button{
  cursor: pointer;
}
input[type="submit"],
input[type="button"]{
  cursor: pointer;
}
input:focus {
  outline:none;
}
table{
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}
table td {
  word-break: break-all;
}
/*class===============================*/
.hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.none{
  display: none;
}
.bold{
  font-weight: 600;
}
/*영역관련===============================*/
.inWrapper {
  position: relative;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}
/*[flex]*/
.makeFlexWrap{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
}
.makeFlex {
  display: flex;
  position: relative;
  box-sizing: border-box;
}
/*justify-content*/
.jc_SB {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.jc_FS {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.jc_FE {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.jc_C {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*aline*/
.ai_FS {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.ai_C {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*[flex]*/
/*영역관련 끝===============================*/

/*텍스트관련===============================*/
/*align*/
.toLeft {
  text-align: left;
}
.toCenter {
  text-align: center;
}
.toRight {
  text-align: right;
}
.keyColor{
  color:#54AAFD;
}
.subColor{
  color:#FAAC56;
}
/*텍스트관련 끝===============================*/

/*하이퍼링크/버튼관련===============================*/

/*하이퍼링크/버튼관련 끝===============================*/


/*인풋관련===============================*/
input[type='text'],
input[type='password'],
select,
button {
  position: relative;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
input[type='password'] {
  font-family: 'Malgun Gothic';
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: 1px solid #999;
}
input::placeholder {
  font-family: inherit;
  color: #999;
}
input[type='password']::placeholder {
  font-family: 'NanumSquare';
}
textarea {
  position: relative;
  box-sizing: border-box;
  padding: 1em;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  resize: none;
}
/* [라벨] */
label {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-right: 3rem;
}
.info_label {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 12ch;
  padding-right: 1.5rem;
  font-weight: 800;
  font-size: 0.85rem;
  color: #666;
}
.info_label.must:after {
  content: '●';
  display: inline;
  margin-left: 0.25em;
  color: red;
}
.info_ipt {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #999;
}
input[type="checkbox"], 
input[type="radio"]{
  width:15px;
  height:15px;
}
input[type="checkbox"]:checked:after{
  position: absolute;
  width:15px;
  height:15px;
  content:"";
  background-repeat: no-repeat;
  background:url("../image/checkBox.svg");
  background-size: contain;
  top:0px;
  left:0px;
}
input[type="radio"]:checked:after {
  position: absolute;
  width: 15px;
  height: 15px;
  content: "";
  background-repeat: no-repeat;
  background: url(../image/checkBox.svg);
  background-size: contain;
  top: 0px;
  left:0px;
  border-radius: 100%;
}
/*인풋관련 끝===============================*/
/*fonts===============================*/
        /*서브해딩B*/
        @font-face {
          font-family: 'headB';
          src: url('../fonts/바른공군체Bold.woff') format('woff');
          font-weight: 800;
      }
      /*서브해딩M*/
      @font-face {
          font-family: 'headM';
          src: url('../fonts/바른공군체Medium.woff') format('woff');
          font-weight:800;
      }
      /*콘해딩B*/
      @font-face {
          font-family: 'conB';
          src: url('../fonts/한수원_한돋음_B.woff') format('woff');
      }
      /*콘해딩L*/
      @font-face {
          font-family: 'conL';
          src: url('../fonts/한수원_한돋음_R.woff') format('woff');
      }

@media screen and (max-width:px) {

}
