@charset "UTF-8";

/*subCommon▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
.subWrap{
    font-family:'conL';
    font-weight: 200;
    font-size: 18px;
}
.cmWrap{
    width:1220px;
    margin:0 auto;
    background-color: #f9f9f9;
    padding:1.5rem 0 3rem;    
}
/*브레드칼럼bc_Wrap*/
.bc_Wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.bc_Wrap .bc{
 display: flex;
  justify-content: space-between;
  align-items: center;   
}
.bc_Wrap .bc>li{
    position:relative;
    margin-right: 1rem;
    padding-right: 2rem;
}
.bc_Wrap .bc>li a::after{
    content: ">";
    color: #000;
    font-weight: 900;
    border-radius: 4px;
    border: 1px solid #555;
    display: inline-block;
    line-height: 20px;
    padding: 0 6px;
    font-size: 13px;
    transform: rotate(91deg) translateX(-2px);
    height: 20px;
    margin-left:1rem;
}
.bc_Wrap .bc>li ol{
    position: absolute;
    width: 100%;
    position: absolute;
    width: 100%;
    padding: 0;
    top: 43px;
    border-radius: 5px;
}
.bc_Wrap .bc>li ol li{
    padding: 0.5rem 0.5rem;
    
}
/*subCommon▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*sub▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*sub▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*sub▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*sub▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*sub▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*sub▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*sub▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*sub▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*sub▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*sub▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/


@media screen and (max-width:px) {

}
