@charset "UTF-8";
.noheaderWrap{
    border-bottom:0.5px solid #a0a0a0;
}
.noheaderWrap .headerWrap{
    padding:1rem 0;
    width:98%;
    margin:0 auto;
    display: flex;
    align-items:end;
}
.logoWrap{
    width:90px;
    height:50px;
}
.logoWrap a{
    background:url(../img/sub/main_image/logo.svg) no-repeat left;
    background-size:cover;
    display:block;
    width:100%;
    height:100%;
}
.noheaderWrap .headerWrap span{
    font-family:'headB';
    font-size: 1.5rem;
    color:#000;
    margin-left:0.5rem;
    line-height: 1;
}

/*00. 불릿*/
/*01.아이콘,배경*/
/*02.영역*/
/*03.버튼*/
/*04.셀렉트박스,메뉴셀렉트박스*/
/*05.서브메뉴,브레드칼럼*/
/*06.공유 및 프린트*/
/*07.콘텐츠상단==타이틀,서칭*/
/*08.게시판*/
/*09.웹진*/
/*10.회원가입,로그인*/
/*11.콘텐츠 탭*/
img{
    image-rendering: -moz-crisp-edges; /* firefox */
    image-rendering: -o-crisp-edges; /* opera */
    image-rendering: -webkit-optimize-contrast; /* chrome(비표준) */
    image-rendering:pixelated;
    image-rendering:-webkit-optimize-contrast;
    transform:translateZ(0);
    backface-visibility:hidden;
}
.flexRit{
    display: flex;
    justify-content: end;
}
.flexLft{
    display: flex;
    justify-content:start;
}
/*00. 불릿▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
.ing{
    position: relative;
}
.ing:before{
    content: "진행중";
    font-size: 0.6rem;
    color: #fff;
    font-weight: bold;
    background-color: #faac56;
    /* padding: 0.2rem 0.3rem; */
    width: 41px;
    vertical-align: bottom;
    height: 20px;
    text-align: center;
    display: inline-block;
    line-height: 20px;
}
.caution{
    color:#faac56;
    font-size: 0.85rem;
    font-weight: 600;
}
.caution.Write{
    text-align: right;
}
.tit_Bullet_M{
    position: relative;
    padding-left:31px;
    font-family: 'headM';
    font-size: 1.35rem;
    margin-bottom: 0.5rem; 
}
.tit_Bullet_M:after{
    position: absolute;
    content:"";
    top:1px;
    left:0;
    background: url(../img/sub/addBullet3.svg) no-repeat;
    background-size: contain;
    width:25px;
    height:25px;
}
.H_Bullet{
    position: relative;
    padding-left:25px;
    font-family: 'conL';
    font-size: 18px;
    margin-bottom: 0.5rem;
}
.H_Bullet:after{
    position: absolute;
    content:"";
    top:1px;
    left:0;
    background: url(../img/sub/addBullet4.svg) no-repeat;
    width:18px;
    height:18px;
}
.line_Bullet{
    font-size: 1.5rem;
    font-family: 'conB';
    position: relative;
    display: inline-block;
    background: linear-gradient(360deg, #3fa1ff 40%, #000 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.S_Bullet{
    position: relative;
    padding-left:15px;
    margin:5px;
}
.S_Bullet:after{
    position: absolute;
    content:"";
    top:50%;
    left:0;
    transform: translateY(-50% );
    border-radius: 18px;
    border:3px solid #3fa1ff;
    width:5px;
    height:5px;
}
.Bullet{
    position: relative;
    padding-left:23px;
}
.Bullet:after{
    position: absolute;
    content:"";
    top:1px;
    left:10px;
    background: url(../img/sub/addBullet2.svg) no-repeat;
    background-size: contain;
    width:18px;
    height:18px;
}

/*01.아이콘,배경 subVS▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*icon*/
.ic_worker,
.Wz_PhotoWrap .Photo_infoWrap h3.ic_worker {
    padding-left:45px;
    position:relative;
    background: url(../img/sub/3D_cap.svg) #000000 no-repeat center left 10px;
    background-size:30px;
} 
.ic_worker:after{
}
.ico_area{
   padding-left:18px;
   position: relative;
   border-bottom:0.5px solid #f9f9f9;
   display: inline !important;
}
.ico_area:hover{
    border-bottom:0.5px solid #999;
 }
.ico_area:after{
    content:"";
    width: 15px;
    height: 20px;
    background: url(../img/sub/ic_area.svg) no-repeat 100% 0;
    background-size:contain;
    position: absolute;
    left:0;
    top: 0;
}
.noti_icBox{
    width: 200px;
    height: 200px;
    top: -90px;
    right: 0px;
    position:absolute;  
}
.employ_icBox{
    width: 175px;
    height: 175px;
    top: -78px;
    right: 22px;
    position: absolute;
}
.inquiry_icBox{
    width: 170px;
    height: 170px;
    top: -100px;
    right: 21px;
    position: absolute;
}
.free_icBox{
    width: 190px;
    height: 190px;
    top: -50px;
    right: 21px;
    position: absolute;  
}
.bioQna_icBox{
    width: 190px;
    height: 190px;
    top: -100px;
    right: 21px;
    position: absolute; 
    transform: rotate(10deg);
}
.Map_icoBox{
    width: 252px;
    height: 166px;
    top: -50px;
    right: 14px;
    position: absolute;  
}
.WzDtl0_icoBox{
    width: 252px;
    height: 166px;
    top: -50px;
    right: 14px;
    position: absolute; 
}
.WzDtl0_icoBox:after{
    position: absolute;
    width:100%;
    height:100%;
    content: "";
    background: url(../img/sub/3D_WzDtl0.svg) no-repeat 100% 0;
    background-size:contain;
}
.Map_icoBox:after{
    position: absolute;
    width:100%;
    height:100%;
    content: "";
    background: url(../img/sub/3D_map.svg) no-repeat 100% 0;
    background-size:contain;
}
.bioQna_icBox:after{
    position: absolute;
    width:100%;
    height:100%;
    content: "";
    background: url(../img/sub/3D_research.svg) no-repeat 100% 0;
    background-size:contain;
}
.free_icBox:after{
    position: absolute;
    width:100%;
    height:100%;
    content: "";
    background: url(../img/sub/3D_free.svg) no-repeat 100% 0;
    background-size:contain;
}
.inquiry_icBox:after{
    position: absolute;
    width:100%;
    height:100%;
    content: "";
    background: url(../img/sub/3D_inquery.svg) no-repeat 100% 0;
    background-size:contain;
}
.noti_icBox:after{
    position: absolute;
    width:100%;
    height:100%;
    content: "";
    background: url(../img/sub/3D_noti.svg) no-repeat 100% 0;
    background-size:contain;
}
.employ_icBox:after{
    position: absolute;
    width:100%;
    height:100%;
    content: "";
    background: url(../img/sub/3D_employ.svg) no-repeat 100% 0;
    background-size:contain;
}
.notiIco{
    width:100%;
    height:100%;
}
.sticker{
    position: relative;
}
.Attatchfile:after{
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
    content: "";
    background: url(../img/sub/ic_Attatchfile.svg) no-repeat center;
    background-size: contain;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.notiIco:after{
    top: 50%;
    width: 18px;
    height: 18px;
    content: "";
    background: url(../img/sub/ic_noti.svg) no-repeat center;
    background-size: contain;
    left: 50%;
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
}
.Addarrow{
    padding-left:30px;
    position: relative;
}
.Addarrow::before{
    content: ">";
    font-weight: 900;
    transform: rotate(270deg) scaleY(1.8);
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 11px;;
}
.Addarrow.Btarrow::before{
    transform: rotate(90deg) scaleY(1.8);
}
/*첨부파일*/
.ic_File{
    background: url(../img/sub/AT_file.svg) no-repeat left;
    background-size: contain;
} 
.ic_ppt,
.ic_File.ic_ppt{   
    background: url(../img/sub/AT_ppt.svg) no-repeat left;
    background-size: contain;
}
.ic_excel,
.ic_File.ic_excel{   
    background: url(../img/sub/AT_excel.svg) no-repeat left;
    background-size: contain;
}  
.ic_pdf,
.ic_File.ic_pdf{   
    background: url(../img/sub/AT_pdf.svg) no-repeat left;
    background-size: contain;
}  
.ic_word,
.ic_File.ic_word{   
    background: url(../img/sub/AT_word.svg) no-repeat left;
    background-size: contain;
}     
.ic_hangle,
.ic_File.ic_hangle{
    background: url(../img/sub/AT_hangle.svg) no-repeat left;
    background-size: contain;
}
/*BG*/
.searchVS:after{
    position: absolute;
    background: url(../img/sub/BGsearch1.svg) no-repeat 100% 100%;
    background-size: cover;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.1;   
}
.searchVS:before{
    position: absolute;
    background: url(../img/sub/BGsearch2.svg) no-repeat;
    background-size: cover;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.1;   
}
.noimg{
    background:url(../img/sub/noimg.svg) no-repeat 50% 50% #f0f0f0;
    background-size:120px;
    min-height:150px;
    width:100%;
}
/*subCommon▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*02.영역-------------------------*/
.subWrap{
    font-size: 17px;
}
.conWrap{
    margin-bottom:1.5rem;
}
.TitleWrap{
    margin-bottom:3rem;
}
.TitleWrap h3{
    font-family:'conL';
    font-size: 18px;
}
.TitleWrap_addBtn{
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
}
.TitleWrap_addBtn .subkeyBtn,
.TitleWrap_addBtn .subkeyBtn2{
    margin-top:0;
}
.imforWrap{
    font-size: 15px;
}
.imforWrap>*{
    padding-left:25px;
    text-align: left;
}
.cmWrap{
    width:1220px;
    margin:0 auto;
    padding:1.5rem 0 8rem;    
}


/*03.버튼-------------------------*/
/*라디오버튼*/
.rdoWrap {
    position: relative;
    width:100%;
}
.rdoWrap label {
    display: inline-flex;
    align-items: center;
    margin-right: 1.15rem;
    gap:5px;
    width:20%;
}

.rdoWrap label:hover {
    cursor: pointer;
}

.rdoWrap label span {
    font-size: 1.25rem;
    font-weight: 600;
}
.rdoWrap .textBox{
    width:50%;
}
.rdoWrap .textBox input[type='text']{
    width:calc(100% - 41px);
}
.rdoWrap>*::before,
.rdoWrap>*::after {
    box-sizing: border-box;
}

.rdoWrap [type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: border 0.1s ease-in-out;
}

.rdoWrap [type="radio"]:checked {
    border: 0.4em solid #0075ff;
}

.rdoWrap [type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #0075ff;
}

.rdoWrap [type="radio"]:hover {
    box-shadow: 0 0 0 max(3px, 0.2em) lightgray;
}

.rdoWrap [type="radio"]:disabled {
    background-color: lightgray;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
}

.rdoWrap [type="radio"]:disabled+span {
    opacity: 0.7;
    cursor: not-allowed;
}
/*라디오버튼 끝*/
.ckWrap{
    display:inline-flex;
    align-items: center;
    margin-right:7px;
}
.searchBtn {
    width:50px;
    flex: none;
    position: relative;
    border:none;
    height:45px;
}
.searchBtn:hover{
    filter: hue-rotate(20deg);
} 
.searchBtn:after{
    width:80%;
    content:"";
    background:url(../img/sub/🦆\ ic_search0.svg)no-repeat center;
    background-size: 60%;
    position: absolute;
    width:100%;
    height:100%;
    left:50%;
    top:50%;
    transform: translate(-50% , -50%);
}
.commonBtn{
    font-family:'conCM';
    width:100px;
    height:40px;   
    border-radius:3px;
}
.listBtn{
    padding-left:30px;
    color:#fff;
    background-color:#000;
    border:none;
    position: relative;
} 
.listBtn:after{
    content:'ㅡ';
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    left:20px;
}
.listBtn:before{
    content:'ㅡ';
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    left:20px;
    top: 1px;
}
button{
}
.keyBtn{
    background:#54AAFD;
    border:none;
    color:#fff;
    width:150px;
    height:50px;
    margin-top:0.5rem;
    font-family:'conCM';
    text-align: center;
    line-height: 50px
}
.subkeyBtn{
    background:#000;
    border:none;
    color:#fff;
    width:150px;
    height:50px;
    margin-top:0.5rem;
    font-family:'conCM';
    text-align: center;
    line-height: 50px
}
.subkeyBtn2{
    background:#6a6a6a;
    border:none;
    color:#fff;
    width:150px;
    height:50px;
    margin-top:0.5rem;
    font-family:'conCM';
    text-align: center;
    line-height: 50px
}
.subkeyBtn3{
    background:#e5e5e5;
    border:none;
    color:#000;
    width:150px;
    height:50px;
    margin-top:0.5rem;  
    font-family:'conCM';
    text-align: center;
    line-height: 50px
}
.SmallBtn.subkeyBtn3,
.SmallBtn.subkeyBtn2,
.SmallBtn.subkeyBtn,
.SmallBtn.keyBtn{
    font-size: 0.6rem;
    width:auto;
    height:18px;
    line-height: 18px;
    margin-top: 0;
    padding:0 3px;
    vertical-align: bottom;
}
.BtnWrap{
    display: flex;
    justify-content: end;
    gap:0.5rem;
    margin:1rem 0;
}
input[type=file]::file-selector-button {
    background:#000;
    border:none;
    color:#fff;
    width:150px;
    height:45px;
    font-family:'conCM';
    text-align: center;
    line-height: 50px;
  cursor: pointer;
font-size: 17px;
float: right;
margin:0;
width:130px;
}
input[type=file]{
    border:0.5px solid #999;
    margin:0;
    font-size: 15px;
    line-height: 45px;
    text-indent: 10px;
    color:#999;
}
/*04.셀렉트박스,메뉴셀렉트박스-------------------------*/
.optionList {
    padding: 0;
    overflow: hidden;
    height: 0;
}
.selectBox.active .optionList {
    height: auto;
}
.combo{
    width:100%;
    border:0.5px solid #999;
    background: url(../img/sub/common_arrow.svg) no-repeat #fff;
    background-position:calc(100% - 5px) center;
    background-size:22px;
    appearance:none;
    position: relative;
    box-sizing: border-box;
}
.combo.active ul.optionList{
    border-bottom:0.5px solid #999;
    font-family: 'conL';
}
.combo button{
    width:100%;
    height:100%;
    border:none;
    background:none;
    text-align: left;
}
.combo ul{
    position: absolute;
    background-color: #fff;
    width: calc(100% + 1px);
    left: -0.5px;
    top: 101%;
    border: 0.5px solid #999;
    box-sizing: border-box;
    border-top: none;
    border-bottom:none;
    z-index: 1;
}
.combo ul li{
    cursor: pointer;
    padding: 0.6rem 1rem;
    border-bottom:0.5px solid #999;
}

.combo ul li:last-of-type{
    border-bottom:none;
}
.combo ul li:hover{
    background-color: #54aafd;
    color:#fff;
}
/*---서브메뉴&&콘텐츠서비스----*/
/*05.서브메뉴,브레드칼럼bc_Wrap*/
.bc_Wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.bc_Wrap .bc{
 display: flex;
  justify-content: space-between;
  align-items: center; 
  font-family: 'headM';  
}
.bc_Wrap .bc>li{   
    position: relative;
}
.bc_Wrap .bc>li:nth-of-type(1){
    margin-right:1rem;
    position: relative;
    width: 20px;
    height: 20px;
}
.bc_Wrap .bc>li:nth-of-type(1):after{
    background: url('../img/sub/ic_home.svg') no-repeat 100%;
    content:"";
    width:20px;
    height:20px;
    display: block;
}
.bc_Wrap .bc>li>a::before{
    content: "/";
    font-weight: 900;
    font-family: 'headB';
    font-size: 0.95rem;
    position: absolute;
    top: 50%;
    left: 0.2rem;
    transform: translateY(-50%);
    color: #000;
}
.bc_Wrap .bc>li:nth-of-type(1)>a::before{
   display: none;
}

.bc_Wrap .bc>li>a{
    margin-right: 1rem;
    padding-left: 2.5rem;
    position: relative;
    
}
.bc_Wrap .bc>li>a::after{
    content: ">";
    color: #000;
    font-weight: 900;
    border-radius: 4px;
    border: 1px solid #555;
    display: inline-block;
    line-height: 20px;
    padding: 0 6px;
    font-size: 13px;
    transform: rotate(91deg) translateX(-2px) scaleY(1.1);
    height: 20px;
    margin-left:1rem;
}
.noMenue:after{
    display: none !important;
}
.bc_Wrap .bc>li>div{
    background: linear-gradient(90deg, #54aafd, #4591e2bf);
    position: absolute;
    width: 100%;
    padding: 0;
    top:35px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 9px;
    overflow:hidden;   
    z-index: 100;
}
.bc_Wrap .bc>li>div>a{
    padding: 0.85rem 0rem;
    color:#fff;
    font-size: 16px;
    border-bottom: 0.54px solid #ffffff78;
    text-align: center;
    display: block;
    font-family: 'conCM'
}
.bc_Wrap .bc>li>div>a:nth-last-of-type(1){
    border-bottom:none;
}
.bc_Wrap .bc .depth_Wrap.on a::after{
    color:#fff;
    background: #54aafd;
    border:1px solid #54aafd;
} 
/*06.공유 및 프린트 topSvc_Wrap*/
.topSvc_Wrap{
    position: relative;
    display: flex;
}
.topSvc_Wrap button{
    width:31px;
    height:31px;
    margin-left:7px;
    border:none;
    position: relative;
}
.topSvc_Wrap button:hover{
    filter: hue-rotate(88deg);
}
.topSvc_Wrap>button:nth-of-type(1){
    background:url(../img/sub/ic_share.svg) center no-repeat;
    background-size:78%;
}
.topSvc_Wrap>div.selectBox>button{
    background:url(../img/sub/ic_url.svg) center no-repeat;
    background-size:contain;
}
.topSvc_Wrap>button:nth-of-type(2){
    background:url(../img/sub/ic_print.svg) center no-repeat;
    background-size:82%;
}
.ShowPopCon{
    display: none;
}
/*sns공유*/
.snsBtnWrap{
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;
    left:2px;
    transform: translateX(-50%);
    padding:0rem;
    background-color: #fff;
    border-radius: 0;
    z-index: 2; 
}
.selectBox.snsWrap.active .optionList {
    padding:0.4rem 0.5rem;
    border:1px solid #e9e9e9;
    background: #f9f9f9;
}
.snsBtnWrap>button{
    width:27px;
    height:27px;
    border:none;
    margin-right:0.5rem;
}
.snsBtnWrap>button:hover{
    filter: none;
}
.snsBtnWrap>button:last-of-type{
    margin-right:0;
}
.snsBtnWrap>button.faceBook{
    background:url(../img/sns_faceBookBtn.svg) center no-repeat;  
}
.snsBtnWrap>button.googleBtn{
    background:url(../img/sns_googleBtn.svg) center no-repeat;   
}
.snsBtnWrap>button.instarBtn{
    background:url(../img/sns_instarBtn.svg) center no-repeat;
}  
.snsBtnWrap>button.naverBtn{
    background:url(../img/sns_naverBtn.svg) center no-repeat;   
}
.snsBtnWrap>button.kakaoBtn{
    background:url(../img/sns_kakaoBtn.svg) center no-repeat;   
}

/*----07.콘텐츠상단==타이틀,서칭-----*/
.TitleWrap h2{
    font-family: 'headB';
    color:#000;
    margin:0 0 1.25rem 0;
    font-size: 2.2rem;
}
.searchWrap{
    padding:5rem 1rem 1.5rem;
    margin-top:1.25rem;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #f9f9f9;
    gap:1rem;
}
.search{
    display: flex;
}
.searchWrap .combo{
    width:26%;
    margin-right:10px;  
}
.combo>button{
    padding:0 1rem;
    height:45px;
    font-family: 'conL';
}
.searchWrap input[type="text"]{
    padding:0.9rem 0.5rem;
    width:100%;
    border:0.5px solid #999;
    border-right:none;
    height:45px;
    border-radius: 0;
}
.imforWrap{
    border:2px solid #000;
    padding:1.5rem;
}
/*인력장비검색*/
.searchBox{
    position: relative;
    overflow: hidden;
}
.searchBox.instiBox:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../img/sub/BGsearch4.svg)no-repeat right 15%;
    background-size: 26%;
    top: 2%;
    right: 0;
}
.searchBox:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../img/sub/BGsearch3.svg)no-repeat right 15%;
    background-size: 26%;
    top: 2%;
    right: 0;
}
.searchTit_Wrap{
    position: relative;
    color: #000;
    padding: 3rem 0rem 6rem 5rem;
    background: linear-gradient(88deg, #e1f0ff, white 80%);
}
.searchBox.instiBox .searchTit_Wrap{
    background: linear-gradient(88deg, #e0fbff, white 80%);
}
.searchTit_Wrap h3{
    font-size: 3rem;
    font-family:'conB';
}
.searchTit_Wrap p{
    width:55%;
    margin-top:0.5rem;
    font-weight:600;
    word-break:keep-all;
}
.searchBox .searchWrap{
    width: 550px;
    background-color: #fff;
    padding: 1.2rem 1.5rem;
    gap: 0.5rem;
    transform: translateY(-92px);
    z-index: 2;
    border: 3px solid #ccc;
    margin-left: 3rem;
    border-radius: 0 15px 0 0px;
}
.searchBox .searchWrap input[type="text"],
.searchBox .searchBtn{
    height: 55px;
}

.searchTip{
    background:#efefef;
    line-height:2.2rem;
    padding:0 1rem;
    font-weight: 600;
    /* font-family: 'conL'; */
    color:#999;
    font-size: 0.85rem;
}
.searchTip span{
   color:#fff;
   font-weight:bold;
   padding:0.2rem 0.5rem;
   background:#faac56; 
   margin-right:0.5rem;
}
/*----08.게시판-----*/
.cmTb{
    width:100%;
    border-top:2px solid #000;
}
.cmTb thead th{
    position: relative;
    font-size: 18px;
    padding:1rem 0;
}
.cmTb thead th:after{
    content:"|";
    font-size: 0.8rem;
    font-weight: 300;
    color:#999;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}
.cmTb thead th:last-of-type:after{
    display: none;
}
.cmTb tbody tr:nth-of-type(1){
    background-color: #f9f9f9;
}
.cmTb tbody tr:hover{
    background:#f9f9f9;
}
.cmTb tr:last-of-type td{
    border-bottom:0.5px solid #999;
}
.cmTb td{
    position: relative;
    text-align: center;
    font-weight:500;
    padding:0.8rem;
    border-top:0.5px solid #999;
}
.cmTb td.toLeft{
    text-align: left;
}
.cmTb td a{
    display: block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.toLeft a{
    color:#555;
}
.PGnation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:3.5rem 0 0;
}
.PGnation a{
    font-family:'headM';
    text-align: center;
    width:35px;
    height: 35px;
    line-height: 35px;
    margin:0 0.2rem;
    border-radius: 30px;
   font-size:18px;
}
.PGnation a:hover{
    background-color:#efefef;
}
.PGnation a.on{
    background: #000;
    color:#fff;
}
.PGnation a.PGarrow{
    width:28px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    font-size: 15px;
}
.lock{
    background: url(../img/sub/ic_lock.svg) no-repeat;
    content: "";
    width: 18px;
    height: 18px;
    background-size: contain;
    display: inline-block;
    vertical-align:bottom;
}
td.done{
    font-weight:900;
    color:#000;
}
/*flex게시판0*/
.tbFlex0{
    border-top:2px solid #000;
}
.trF_Wrap{
    display:flex;
}
.trF_Wrap>p{
    font-weight: 600;
    width:130px;
}
.trF_Wrap>div{
    padding: 1rem 0.5rem 1rem 1rem;
}
/*1*/
/*게시판상세*/
.cmTbDtl thead th{
    font-size: 1.35rem;
    font-family:'conL';
    color:#000;
}
.cmTb.cmTbDtl tbody tr:nth-of-type(1) {
    background:none;
}
.cmTb td.tbDtl_Con{
    padding:4rem;
    text-align: left;
}
.cmTbDtl tbody tr.Bd_info td{
    color:#a0a0a0;
    font-weight: 600;
}
.cmTbDtl tbody tr.Bd_info td:nth-of-type(2):before{
    background: url(../img/sub/ic_man.svg) no-repeat;
    content: "";
    width: 19px;
    height: 19px;
    background-size: contain;
    vertical-align: text-bottom;
    display: inline-block;
}
.cmTbDtl tbody tr.Bd_info td:nth-of-type(3):before{
    background: url(../img/sub/ic_view.svg) no-repeat;
    content: "";
    width: 19px;
    height: 19px;
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
}
.cmTbDtl tbody tr.Bd_info td:last-child:before{
    background: url(../img/sub/ic_calendar.svg) no-repeat;
    content: "";
    width: 19px;
    
    height: 19px;
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
}
.FilelistWrap{
    display: inline-flex;
    flex-direction: column;
    float: right;
}
.cmTbDtl .FilelistWrap a,
.fileList{
    display:flex;
    align-items:end;
    color:#555;
    padding-left:26px;
}
.fileList{
    margin-bottom:0.3rem;
}
.cmTbDtl .FilelistWrap a:hover{
    border-bottom: 0.5px solid #999;
}
.cmTbDtl .FilelistWrap a p,
.fileList p{
    font-weight: 600;
}
.fileList p{
    font-size: 0.85rem;
}
.FilelistWrap .sticker{
    margin-left:3px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.clear {
    color: #000;
    margin-left: 0.5rem;
    width: 18px;
    height: 17px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    font-weight: bold;
    background: #f1f1f1;
    border: 1.5px solid #ccc;
}

.fileBox .fileDrop {
    height: 95px;
    border: 0.5px solid #999;
    display: block;
    padding: 0.5rem;
    width: 100%;
    overflow-y:auto;
}
.fileDrop .fileName {
    font-size: 0.9rem;
}
.fileDrop .fileSize {
    font-size: 0.7rem;
    margin-left: 0.5rem;
}
.cmTb.cmTbDtl tbody tr:nth-last-of-type(1):hover,
.cmTb.cmTbDtl tbody tr:nth-last-of-type(2):hover{
    background:#f9f9f9;
}
.qnaTit{
    text-align: left;
    display: block;
    font-family: 'headB';
    font-size: 1.25rem;
    color: #000; 
}
.Bd_img{
    width: 100%;
    min-height: 100px;
}
/*----08.폼-----*/
.inquiry_form {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}
.inquiry_form button.subkeyBtn,
.inquiry_form button.subkeyBtn2,
.inquiry_form button.subkeyBtn3 {
    height:45px;
    margin-top:0;
}
.inquiry_label {
    font-weight: 500;
    color:#000;
    width:170px;
}
.inquiry_value{
    width:calc(100% - 170px);
    display: flex;
    align-items: end;
    gap:5px;
}
.inquiry_value .rdoWrap span{
    font-size:1rem;
    font-weight:400;
}
.KoMoney{
    display: block;
    position: relative;
}
.KoMoney:after{
    content: '원';
    font-size:1.2rem;
    top:50%;
    transform: translateY(-50%);
    position: absolute;
    right:-20px;
}
.form_Half{
    width:calc(50% - 170px);
}
.form_Half div{
    width:100%;
}
.inquiry_value input,
.inquiry_value textarea,
.inquiry_value .fullBox,
.inquiry_value select{
    width:100%;
}
.postBox{
    display: flex;
    gap:5px;
}
#postcode{
    flex:0 0 20%;
}
/*댓글*/
.person_comments .user_report a:nth-of-type(1){
    color:#3eb5eb;
}

.person_comments .user_report a:nth-of-type(2){
    margin-left:0.3rem;
    margin-right:0.3rem;
}

.person_comments li:nth-child(3n-1), .ps2{
    padding-left:2rem;
}

.person_comments li:nth-child(3n), .ps3{
    padding-left:4rem;
}

.comments_chat{
    margin:0.5rem 0 3.5rem;
}

.textarea_cover > div:nth-of-type(1){
    margin-top:1rem;
}
.textarea_cover .BtnWrap{
    margin-top:0;
}
.textarea_cover > div:nth-of-type(1){
    align-items:center;
}

.textarea_cover #btnCommentWrite{
    padding:0.5rem 1.2rem;
    color:#fff;
    background-color:#6a6a6a;
    border:0;
    border-radius:0.15rem;
}

.person_comments .userbox_top{
    align-items:center;
}

.person_comments .userbox_bottom{
    margin-top:1rem;
    font-size:0.95rem;
    color:#3eb5eb;
}

.person_comments #reCommentArea{
    margin-top:1rem;
}

.person_comments #reCommentArea textarea{
    margin:1rem 0;
    padding:0.5rem 1rem;
    height:1.2rem;
    line-height:1.2rem;
}

.person_comments #reCommentArea div:nth-of-type(1){
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.person_comments #reCommentArea #btnCommentReWrite{
    padding:0.5rem 1.2rem;
    color:#fff;
    background-color:#3eb5eb;
    border:0;
    border-radius:0.4rem;
}

.person_comments #btnCommentClose{
    margin-top:1rem;
    padding:1rem 0;
    background-color:#efefef;
    text-align:center;
}

.person_comments #btnCommentClose span::after{
    content:"▲";
    margin-left:0.2rem;
}
.noticeDtl_Comments_box{
    margin-top: 5rem;
}
.noticeDtl_Comments_box .comments_chat > p {
padding: 1rem 1rem;
border-radius: 10px;
border: 1px solid #ccc;
font-size: 0.8rem;
color: #b5b5b5;

}

.noticeDtl_Comments_box .comments_chat .textarea_cover > div:nth-child(1) {
margin-bottom: 5px;
width: 100%;
display: flex;
align-items: end;
justify-content: space-between;
}
.noticeDtl_Comments_box .comments_chat .textarea_cover > div:nth-child(1)>div{
display: flex;
align-items: center;
} 
.noticeDtl_Comments_box .comments_chat .textarea_cover .user_image {
background: url(../img/sub/ic_man2.svg) center  bottom no-repeat;
background-size: 75%;
width: 25px;
height: 25px;
border: 1px solid #ccc;
border-radius: 50%;
margin-right: 5px;
}
.textCoWrap{
font-size:0.8rem;
}
.textCo{
font-weight:bold;
}
.noticeDtl_Comments_box .comments_chat .chat {
height: 6em;
font-size: 0.9rem;
}
.Comments_amount h4{
font-size:1.2rem;
font-family:"headM";
}
/*----09.테이블-----*/
/*----11.콘텐츠탭-----*/
.conTab_btnWrap{
    display: flex;    
}
.conTab_btnWrap button{
    width:120px;
    height:50px;
    border-radius: 0;
    border:0.5px solid #000;
    border-bottom:none;
    border-left:none;
}
.conTab_btnWrap button.on{
    background: #6a6a6a;
    border:none;
    color:#fff;
}

/*subCommon▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*sub Bd▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*Bd_employ분야별*/
.part_txt {
    font-size: 0.75rem;
    font-weight: bold;
    background: #e6e6e6;
    padding: 0.2rem 0.1rem;
    min-width: 58px;
    border-radius: 4px;
    display: inline-block;
}
/*09.웹진▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
.titleCon{
    padding:2rem;
    background:#f0f0f0;
    position: relative;
    margin-bottom:0.5rem;
}
.VS_titCon{
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    right: 0;
}
.VS_titCon:after{
    content: '';
    background: url(../img/sub/BGtit1.svg) no-repeat bottom right;
    background-size:contain;
    width: 100%;
    height: 100%;
    display:inline-block;
    opacity: 0.2;
    position: absolute;
    filter: grayscale(1);
}
.VS_titCon:before{
    content: '';
    background: url(../img/sub/BGtit2.svg) no-repeat top left;
    background-size:contain;
    width: 100%;
    height: 100%;
    display:inline-block;
    opacity: 0.15;
    position: absolute;
    filter: grayscale(1);
}
.wZ li a{
    display: block;
}
  /*사진없는웹진01*/
  .wZine_noGallery .wZ.addBtn{
    background:#f9f9f9;
    padding:20px;
  }
  .wZine_noGallery .wZ.addBtn > li:nth-of-type(1){
    width:calc(100% - 150px - 2rem);
  }
  .wZ_general .wZ_top a.Attatchfile{
    width:23px;
    height:23px;
    display: inline-block;
    vertical-align: bottom;
  }
  .wZ_general .wZ_top .Attatchfile:after {
    width: 23px;
    height: 23px;
}
.wZine_noGallery .wZ > li:nth-of-type(1){
    width:100%;
    height:auto;
  }
  .wZine_noGallery .wZ > .wZ_general {
    gap: 0.5rem;
}
.wZine_noGallery .wZ_general .wZ_top h3 a{
    font-size:1.2rem;
  }
  /*프로필웹진02*/
  .wZine_noGallery .wZ.profile > li:nth-of-type(1){
    width:120px;
    height:150px;
  }
  .profile .wZ_top h3 a{
    font-size: 1.75rem;
    font-weight: 600;
  }
  .profile li{
    justify-content: center;
    gap: 0.5rem;
  }
  .profile .noimg {
    background-size: 50%;
}
.profile.wZ{
    padding:10px 0 10px 0;
  }
  /*프로필웹진*/

/*웹집상세01*/
.Wz_DtlWrap{
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin-top: 4rem;
}
.Wz_PhotoWrap{
    display: flex;
    gap:1rem;
}
.Wz_PhotoWrap .PhotoWrap{
    width:50%;
    min-height: 400px;
    background-size: 30%;
}
.Wz_PhotoWrap.Wz_workerWrap .PhotoWrap {
    width: 140px;
    min-height: 160px;
    background-size: 60%;
}
.Wz_PhotoWrap.Wz_workerWrap .Photo_infoWrap{
    flex:1 1 0;
}
.Wz_PhotoWrap .Photo_infoWrap{
    width:50%;
}
.Wz_PhotoWrap .Photo_infoWrap h3{
    background:#54aafd;
    color:#fff;
    font-family:"headM";
    padding:0.5rem 1rem;
    font-size:1.35rem;
}
.cmTb.lftcmTb head tr{
    border-bottom:0.5px solid #999;    
}
.cmTb.lftcmTb tr:after{
    display:none;    
}
.cmTb.lftcmTb tr:hover,
.cmTb.lftcmTb tr:nth-of-type(1):hover,
.trF_Wrap>div:hover{
    background-color: #f9f9f9;
}
.cmTb.lftcmTb tr:nth-of-type(1){
    background: none;
}
.cmTb.lftcmTb th,
.trF_Wrap>p{
    background-color: #f9f9f9;
}
.cmTb.lftcmTb td,
.cmTb.lftcmTb th,
.trF_Wrap>p,
.trF_Wrap>div{
    border-right:0.5px solid #999;
    border-top:none;    
    border-bottom:0.5px solid #999;
    text-align: left;
    padding:1rem 0.5rem 1rem 1rem;
}
.WriteWrap .cmTb.lftcmTb td,
.WriteWrap .cmTb.lftcmTb th,
.WriteWrap .trF_Wrap>p,
.WriteWrap .trF_Wrap>div{
    display: flex;
    align-items: center;
    padding:0.5rem;
}
.Write_Tb .cmTb.lftcmTb td,
.Write_Tb .cmTb.lftcmTb th,
.Write_Tb .trF_Wrap>p,
.Write_Tb .trF_Wrap>div{
    padding:0.5rem;
}
.WriteWrap .comboWrap{
    gap:5px;
}
.WriteWrap select{
    width:100%;
}
.trF_Wrap>div{
    flex:1 1 0;
}
.cmTb.lftcmTb td:last-child,
.cmTb.lftcmTb th:last-child,
.trF_Wrap>p:last-child,
.trF_Wrap>div{
    border-right:none;
}
/*웹진상세02*/
.Wz_DtlWrap .FilelistWrap{
    float:none;
}
.Wz_Dtl_Sticker{
    font-size: 0.8rem;
    font-family:'spoqaB';
    color:#3eb5eb;
    background-color: #fff;
    padding:0.15rem 0.5rem;
    display: inline-block;
    border-radius: 5px;
    vertical-align:middle;
}
/*웹집폼01*/
.WriteWrap input,
.Write_Tb input{
    width:100%;
}
.WriteWrap .dateWrap,
.Write_Tb .dateWrap{
    display:flex;
    gap:5px;
    align-items: center;
}
.WriteWrap .Photo_infoWrap h3 input[type='text']{
    background:#ffffff;
    display: block;
    color:#000;
    width:50%;
}
.nodata{
    position: relative;
    padding:5.5rem 0;
}
/* .nodata:after{
    content:"";
    position:absolute;
    background-color: #00000010;   
    width: 100%;
    height:100%;
    top:0;
    left:0;
}
.nodata::before{
    content:"''정보가 없습니다.''";
    position:absolute;
    background-color:#ffffff;
    border:1px solid #999;   
    border-radius: 4px;
    width:50%;
    padding:1rem;
    display: block;
    height:auto;
    top:50%;
    left:50%;
    font-size: 0.9rem;
    transform: translate(-50%,-50%);
    z-index: 2;
} */
.tot{
    font-size:1.5rem;
    font-weight:bold;
    color:#fff;
    background-color: #999;
    width:50px;
    text-align: center;
    height:35px;
}
/*웹진▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/
/*10.회원가입,로그인▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*login*/
.joincm_Wrap{
    display: flex;
    justify-content: end;
    gap: 3%;
    margin:8rem 0; 
}
.Vs_Wrap{
    padding-left: 80px;
}
.Vs_Wrap .slide::after{
    content: "";
    padding-left:200px;
    background: url(../img/sub/BGmoafter2.svg) no-repeat;
    background-size: contain;
    position: absolute;
    left: -80px;
    top:40px;
    width: 332px;
    height: 645px;
    z-index: -2;
}
.Vs_Wrap .slide{
    width: 332px;
    height: 645px;
    background: url(../img/sub/BGmoframe2.svg) no-repeat center;
    background-size:cover;
    position: relative;
}
.Vs_Wrap .slide img{
 width:91%;
 height:92%;
 position: absolute;
 top:52.5%;
 left:50%;
 transform: translate(-50%, -50%);
 z-index: -1;
 border-radius:0 0 40px 40px;
}
.login_form_Wrap{
    width:400px;
}
.loginWrap{
    display: flex;
    margin:3rem auto 8rem;
    gap:4rem;
    justify-content: center;
    align-items:center;
}
.tabBtnWrap{
    display: flex;
}
.tabBtnWrap button,
.NotabBtnWrap button{
    font-family: 'headM';
    width: 100%;
    padding: 1.5rem 0;
    background: #f1f1f1;
    border: none;
    color: #838383;
    border-bottom:1px solid #000;
    border-radius: 7px 7px 0 0 ;
    text-indent: 30px;
}
.NotabBtnWrap button:focus{
    outline:none;
}
.NotabBtnWrap button{
    cursor:auto;
}
.tabBtnWrap button.on{
    background-color: #fff;
}
.tabBtnWrap button:last-child.on{
    border:1px solid #000;
    border-bottom:none;
}
.tabBtnWrap button:first-child.on{
    border:1px solid #000;
    border-bottom:none;
}
.tabBtnWrap button:after,
.NotabBtnWrap button:after{
    content:"";
    position: absolute;
    left: 30%;
    top:50%;
    transform: translateY(-50%);
}
.tabBtnWrap button.co:after,
.NotabBtnWrap button.co:after{
    background: url(../img/sub/ic_domain.svg) no-repeat;
    background-size: contain;
    width:16px;
    height:14px;
}
.tabBtnWrap button.per:after,
.NotabBtnWrap button.per:after{
    background: url(../img/sub/ic_mans.svg) no-repeat;
    background-size: contain;
    width:22px;
    height:20px;
}
.userPsbox,
.userCobox{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border:0.5px solid #000;
    border-top:none;
    border-radius:0 0 10px 10px;
    padding:2rem 2.5rem 3.5rem;
    overflow: hidden; 
}

.userPsbox .logoWrap{
    margin: 0 auto;
    width: 90px;
    height: 50px;
}
.userForm{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
} 
.userForm>*{
    display:block;
    width: 100%;

}
.userForm input[type=text]{
    border:0.5px solid #ccc;
    padding:0.8rem 0;
    width:100%;
}
.userForm input[type=password]{
    border:0.5px solid #ccc;
    padding:0.8rem 0;
    width:100%;
}
.userForm label{
    font-size: 15px;
    text-align: right;
}
.userForm label input{
    vertical-align:middle;
    margin:0;
}
.userForm .keyBtn{
    border-radius: 5px;
    font-size: 1.35rem;
}
.userForm>a{
    text-align: right;
    margin-top:0.35rem;
    font-size: 15px;
    color:#000;
}
.userForm>a strong{
    font-weight: 800;
}
.userForm>h3{
    font-family: 'conB';
    color:#000;
    font-size:1.5rem;
}
.userForm>h3 span{
    font-size: 0.9rem;
    font-family: 'conL';
}
.findNoti{

}
.snsWrap p,
.certiWrap p{
    font-family:'conL';
    text-align: center;
    padding-bottom:0.5rem;
    border-bottom:0.5px solid #555;
    margin-bottom:1rem;
    font-size: 1.2rem;
}
.certiWrap .TbtnWrap button.on{
    background:#000;
    color:#fff;
}
.memberWrap .snsWrap .snsBtnWrap{
    position: relative;
    background: none;
    transform: none;
    left: 0;
}
.memberWrap .snsWrap .snsBtnWrap button{
    width:50px;
    height:50px;
    background-size: cover;
}
.joinBtn{
    background: #54aafd;
    display: block;
    margin-top:1rem;
    border-radius: 10px;
    padding:1.5rem;
    color:#fff;
    font-size: 1.2rem;
    line-height:1.25;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
}
.joinBtn::before{
    background: url(../img/sub/BGmember.svg) no-repeat;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    top: 0;
    left: 0;
    opacity: 20%;
}
.joinBtn strong{
    font-family:'conB';
    font-size: 1.3rem;
}
.joinBtn>span{
    font-size: 1rem;
}
.joinBtn>span:after{
    content:">";
    padding-left: 0.5rem;
}
/*아이디비번찾기*/

.findWrap .userPsbox{
    border-radius: 10px;
    padding: 2rem 1.5rem 3.5rem;
    border:0.5px solid #000;
}
.findWrap .tabBtnWrap{
    display: none;
} 
.findWrap .logoWrap{
    margin-top:1rem;
}
.findPart{
    padding: 1rem 0;
}
.findPart.phonBox{
    background: #efefef;
    border-radius: 2px 10px 2px 2px;
    border: 1px solid #ccc;
}
.findBrn_Wrap{
    display: flex;
    gap:10px;
    justify-content: space-between;
    width:85%;
    margin:0 auto;
}
.findPart.phonBox button{
    background: #fff;
}
.findPart.mailBox{
    border:1px solid #54aafd;
    border-radius: 2px 10px 2px 2px;
}
.findPart.mailBox button{
    background:#54aafd;
    color:#fff;
}
.findPart h3{
    font-size: 1.1rem;
    color:#000;
    margin-bottom:0.7rem;
    margin-left:7.5%;
}
.findPart button{
    width:100%;
    height:45px;
    border:none;
    font-size: 0.9rem;
    font-weight: bold;
}
#timer{
    display: block;
    font-size: 1rem;
    font-weight:bold;
    color:#54aafd;
    margin-top:5px;
}
.findResult_Wrap{
    font-size: 1rem;
    text-align: center;
}
.findResult_Wrap>*{
    padding-left:0;
    display: block;
    text-align: center;
}
.findResult_Wrap>strong{
    display: block;
    font-size: 1.2rem;
    color: #000;
    
}
.findResult_Wrap>strong span{
    font-family: 'conB';
}
/*회원가입*/
/*01*/
.memberWrap .rdoWrap input[type='radio']{
    zoom:0.8;
    margin-left:0.2rem;
}
.memberWrap .rdoWrap span{
    font-size:1rem;
}
.memberWrap .imforWrap{
    padding:1rem 0;
}
.userCobox{
    padding:1.5rem;
}

.join_type_Wrap{
    display: flex;
    justify-content: center;
}
.certiTab2{
    padding:0.75rem 0;
}
.joinSlider{
    width:600px;
    height:100%;
    background-color: #000;
}
.joinSlider {
    width: 500px;
    position: relative;
    height: 630px;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
    filter: brightness(0.9);
}
.joinSlider .slides{
    overflow: hidden;
    position: relative;
    height:100%;
}
.joinSlider>.slides>.bn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.joinSlider>.slides>.bn.on {
    opacity: 1;
    visibility: visible;
}

.joinSlider>.page-btns {
    position: absolute;
    top:10px;
    left:10px;
    z-index: 1;
    color:#fff;
}

.joinSlider>.page-btns>.page-btn {
    cursor: pointer;
    background:none;
    border:none;
}

.joinSlider>.page-btns>.next-btn {
    margin-left: 45px;
}

.joinSlider>.page-btns>.page-no {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-no .current-slide-no {
    font-size: 1.2rem;
}
.page-no {
    font-weight: 600;
    font-size: 16px;
    color:#fff;
}
.join_type_Wrap section{
    padding:4rem 3rem;
    min-height:500px;
}
.join_type_Wrap .Vs_Wrap .logoWrap{
    margin: 0 auto 1rem;
    width: 138px;
    height: 76px;
}
.join_type_Wrap .Vs_Wrap .logoWrap a{
    background: url(../img/sub/logo2.svg) no-repeat;
    background-size: contain;
    filter: brightness(1000);
}
.join_type_Wrap .Vs_Wrap,
.join_type_Wrap .type_Wrap{
    width:400px;
}
.join_type_Wrap .type_Wrap .form .rdoWrap label input {
    width:20px;
}
.join_type_Wrap .type_Wrap .form .rdoWrap label{
    width:auto;
}
.join_type_Wrap .type_Wrap .form label input{
    width:100%;
    display: block;
}
.join_type_Wrap .type_Wrap .form span{
    font-weight: 600;
}
.join_type_Wrap .Vs_Wrap{
    color:#fff;
    background:url(../img/sub/BGmember2.svg) #54aafd left top no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid #54aafd;
    border-radius: 10px 0 0 10px;
}
.join_type_Wrap .Vs_Wrap:after{
    background: url(../img/sub/BGmember3.svg) no-repeat;
    width: 250px;
    height:300px;
    content: "";
    position: absolute;
    bottom: 0px;
    right: -174px;
}
.join_type_Wrap .type_Wrap{
    position: relative;
    border:0.5px solid #999;
    border-left:none;
    border-radius: 0 15px 15px 0;
}
.join_type_Wrap .tabBtnWrap,
.NotabBtnWrap{
    position: absolute;
    flex-direction: column;
    width: 150px;
    top: 269px;
    left: -150px;
}
.join_type_Wrap .tabBtnWrap button,
.NotabBtnWrap button{
    background:#54aafd;
    color:#fff;
}
.join_type_Wrap .tabBtnWrap button:after,
.NotabBtnWrap button:after{
    filter: brightness(3);
}
.join_type_Wrap .tabBtnWrap button.on:after,
.NotabBtnWrap button.on:after{
    filter: brightness(0);
}
.join_type_Wrap .tabBtnWrap button.on,
.NotabBtnWrap button.on{
    background-color: #fff;
    color:#000;
}
.join_type_Wrap .tabBtnWrap button,
.join_type_Wrap .tabBtnWrap button.on,
.NotabBtnWrap button,
.NotabBtnWrap button.on{
    border:none;
    border-radius:10px 0 0 10px;
}
.join_type_Wrap .tabBtnWrap button:after,
.NotabBtnWrap button:after{
    left: 22%;
}
.join_type_Wrap .toptxt p{
    font-size:1.15rem;
    text-align: center;
    line-height: 1.25;
}
.join_type_Wrap .toptxt p strong{
   font-weight: 700;  
   font-size:1.5rem;  
}
.join_type_Wrap .toptxt{

}
.join_type_Wrap .info{
    font-size: 0.85rem;
    line-height: 1.25;
    position: relative
}
.join_type_Wrap .info::before{
    content: "i";
    font-size: 0.7rem;
    font-family: 'conB';
    color: #54aafd;
    background-color: #fffffff0;
    padding: 0 0.35rem;
    position: absolute;
    left: -18px;
    top: 2px;
}
.join_type_Wrap .userPsbox,
.join_type_Wrap .userCobox{
    border:none;
    padding:0;
}
.joinFormBtn.per{
    width:100%;
}
.joinFormBtn{
    border:none;
    padding:1.5rem 0;
    color:#fff;
    background-color: #000;
    border-radius: 5px;
    letter-spacing: 2px;
}
.joinFormBtn:hover{
    filter: brightness(3);
}
.join_type_Wrap .userPsbox {
    gap:2rem;
}
.join_type_Wrap .userPsbox .certiWrap p{
    border-bottom:none;
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
} 
.join_type_Wrap .snsBtnWrap{
    justify-content: start;
}

.txtloginBtn a{
    font-weight:800;
    color:#555;
}
.txtloginBtn a:hover{
    color:#54aafd;
}
/* .memberWrap .formBtn_Wrap{
    flex-direction: row;
} */
/*02*/
.joinTxt{
    font-size: 0.9rem;
}
/*기관*/
.Coformbox{
 display: flex;
 flex-direction: column;
 gap: 9px;
}
.Coformbox>p{
    font-size: 1.25rem;
    font-weight: 600;
}
.addBtn_Wrap{
    display: flex;
    align-items: center;
    gap:5px;
}
.formBtn_Wrap{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.addBtn_Wrap button,
.formBtn_Wrap button{
    width:100px;
    height:45px;
    border: none;
    padding: 0 0.5rem;
    flex: none;
    margin-top: 0;
}
.formBtn_Wrap button.joinFormBtn.per{
    height:auto;
    padding:1.5rem 0;
}
.Coformbox{
 display: flex;
 flex-direction: column;
 gap: 9px;
}
.Coformbox>p{
    font-size: 1.25rem;
    font-weight: 600;
}
.ECertiWrap{
    display: flex;
    align-items: baseline;
    gap:5px;
    margin-top: 5px;
}
/*회원가입,로그인▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*시설정보/인력정보▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*인력상세정보*/

/*sub▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*sub▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*sub▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*sub▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*sub▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

/*sub▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*sub▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/


@media screen and (max-width:1300px) {
/*00. 불릿*/
/*01.아이콘,배경*/
/*02.영역*/
/*03.버튼*/
/*04.셀렉트박스,메뉴셀렉트박스*/
/*05.서브메뉴,브레드칼럼*/
/*06.공유 및 프린트*/
/*07.콘텐츠상단==타이틀,서칭*/
/*08.게시판*/
/*09.웹진*/
/*10.회원가입,로그인*/
/*11.콘텐츠 탭*/
/*00. 불릿▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*01.아이콘,배경 subVS▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*icon*/
/*첨부파일*/
/*BG*/
/*subCommon▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*02.영역-------------------------*/
.cmWrap {
    width: 95%;
    padding: 1.5rem 0 3rem;
}
/*03.버튼-------------------------*/
/*라디오버튼*/
/*버튼*/
/*04.셀렉트박스,메뉴셀렉트박스-------------------------*/
/*---서브메뉴&&콘텐츠서비스----*/
/*05.서브메뉴,브레드칼럼bc_Wrap*/
/*06.공유 및 프린트 topSvc_Wrap*/
/*sns공유*/
/*----07.콘텐츠상단==타이틀,서칭-----*/
/*----08.게시판-----*/
/*flex게시판0*/
/*1*/
/*게시판상세*/
.cmTb td.tbDtl_Con {
    padding: 2rem 0;
}
/*----08.폼-----*/
/*댓글*/
/*----11.콘텐츠탭-----*/
/*sub Bd▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*Bd_employ분야별*/
/*09.웹진▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
  /*사진없는웹진01*/
  /*프로필웹진02*/
/*웹집상세01*/
/*웹진상세02*/
/*10.회원가입,로그인▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*login*/
/*회원가입*/
/*01*/
/*기관*/
}
@media screen and (max-width:1024px) {
/*00. 불릿*/
/*01.아이콘,배경*/
/*02.영역*/
/*03.버튼*/
/*04.셀렉트박스,메뉴셀렉트박스*/
/*05.서브메뉴,브레드칼럼*/
/*06.공유 및 프린트*/
/*07.콘텐츠상단==타이틀,서칭*/
/*08.게시판*/
/*09.웹진*/
/*10.회원가입,로그인*/
/*11.콘텐츠 탭*/
/*00. 불릿▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*01.아이콘,배경 subVS▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*icon*/
/*첨부파일*/
/*BG*/
/*subCommon▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*02.영역-------------------------*/
/*03.버튼-------------------------*/
/*라디오버튼*/
/*버튼*/
/*04.셀렉트박스,메뉴셀렉트박스-------------------------*/
/*---서브메뉴&&콘텐츠서비스----*/
/*05.서브메뉴,브레드칼럼bc_Wrap*/
/*06.공유 및 프린트 topSvc_Wrap*/
/*sns공유*/
/*----07.콘텐츠상단==타이틀,서칭-----*/
/*----08.게시판-----*/
/*flex게시판0*/
/*1*/
/*게시판상세*/
/*----08.폼-----*/
/*댓글*/
/*----11.콘텐츠탭-----*/
/*sub Bd▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*Bd_employ분야별*/
/*09.웹진▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*사진없는웹진01*/
    /*프로필웹진02*/
/*웹집상세01*/
/*웹진상세02*/
/*10.회원가입,로그인▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*login*/
/*회원가입*/
/*01*/
/*기관*/
}
@media screen and (max-width:900px) {
/*00. 불릿*/
/*01.아이콘,배경*/
/*02.영역*/
/*03.버튼*/
/*04.셀렉트박스,메뉴셀렉트박스*/
/*05.서브메뉴,브레드칼럼*/
/*06.공유 및 프린트*/
/*07.콘텐츠상단==타이틀,서칭*/
/*08.게시판*/
/*09.웹진*/
/*10.회원가입,로그인*/
/*11.콘텐츠 탭*/
/*00. 불릿▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*01.아이콘,배경 subVS▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*icon*/
/*첨부파일*/
/*BG*/
/*subCommon▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*02.영역-------------------------*/
/*03.버튼-------------------------*/
/*라디오버튼*/
/*버튼*/
/*04.셀렉트박스,메뉴셀렉트박스-------------------------*/
/*---서브메뉴&&콘텐츠서비스----*/
/*05.서브메뉴,브레드칼럼bc_Wrap*/
/*06.공유 및 프린트 topSvc_Wrap*/
/*sns공유*/
/*----07.콘텐츠상단==타이틀,서칭-----*/
/*----08.게시판-----*/
/*flex게시판0*/
/*1*/
/*게시판상세*/
/*----08.폼-----*/
/*댓글*/
/*----11.콘텐츠탭-----*/
/*sub Bd▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*Bd_employ분야별*/
/*09.웹진▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*사진없는웹진01*/
    /*프로필웹진02*/
/*웹집상세01*/
/*웹진상세02*/
/*10.회원가입,로그인▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*login*/
/*회원가입*/
/*01*/
/*기관*/
}
@media screen and (max-width:768px) {
/*00. 불릿*/
/*01.아이콘,배경*/
/*02.영역*/
/*03.버튼*/
/*04.셀렉트박스,메뉴셀렉트박스*/
/*05.서브메뉴,브레드칼럼*/
.bc_Wrap {
    align-items: baseline;
    flex-direction: column-reverse;
    gap: 0.5rem;
}
/*06.공유 및 프린트*/
/*07.콘텐츠상단==타이틀,서칭*/
/*08.게시판*/
/*09.웹진*/
/*10.회원가입,로그인*/
/*11.콘텐츠 탭*/
/*00. 불릿▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*01.아이콘,배경 subVS▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*icon*/
/*첨부파일*/
/*BG*/
/*subCommon▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*02.영역-------------------------*/
/*03.버튼-------------------------*/
/*라디오버튼*/
/*버튼*/
/*04.셀렉트박스,메뉴셀렉트박스-------------------------*/
/*---서브메뉴&&콘텐츠서비스----*/
/*05.서브메뉴,브레드칼럼bc_Wrap*/
/*06.공유 및 프린트 topSvc_Wrap*/
.topSvc_Wrap > button:first-of-type{
    margin:0;
}
/*sns공유*/
/*----07.콘텐츠상단==타이틀,서칭-----*/
/*----08.게시판-----*/
/*flex게시판0*/
/*1*/
/*게시판상세*/
/*----08.폼-----*/
/*댓글*/
/*----11.콘텐츠탭-----*/
/*sub Bd▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*Bd_employ분야별*/
/*09.웹진▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*사진없는웹진01*/
/*프로필웹진02*/
/*웹집상세01*/
/*웹진상세02*/
/*10.회원가입,로그인▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*login*/
/*회원가입*/
/*01*/
/*기관*/
}
@media screen and (max-width:900px) {
    /*00. 불릿*/
    /*01.아이콘,배경*/
    /*02.영역*/
    /*03.버튼*/
    /*04.셀렉트박스,메뉴셀렉트박스*/
    /*05.서브메뉴,브레드칼럼*/
    /*06.공유 및 프린트*/
    /*07.콘텐츠상단==타이틀,서칭*/
    /*08.게시판*/
    /*09.웹진*/
    /*10.회원가입,로그인*/
    /*11.콘텐츠 탭*/
    /*00. 불릿▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*01.아이콘,배경 subVS▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*icon*/
    /*첨부파일*/
    /*BG*/
    /*subCommon▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*02.영역-------------------------*/
    /*03.버튼-------------------------*/
    /*라디오버튼*/
    /*버튼*/
    /*04.셀렉트박스,메뉴셀렉트박스-------------------------*/
    /*---서브메뉴&&콘텐츠서비스----*/
    /*05.서브메뉴,브레드칼럼bc_Wrap*/
    /*06.공유 및 프린트 topSvc_Wrap*/
    /*sns공유*/
    /*----07.콘텐츠상단==타이틀,서칭-----*/
    /*----08.게시판-----*/
    /*flex게시판0*/
    /*1*/
    /*게시판상세*/
    /*----08.폼-----*/
    /*댓글*/
    /*----11.콘텐츠탭-----*/
    /*sub Bd▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*Bd_employ분야별*/
    /*09.웹진▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
        /*사진없는웹진01*/
        /*프로필웹진02*/
    /*웹집상세01*/
    /*웹진상세02*/
    /*10.회원가입,로그인▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*login*/
    /*회원가입*/
    /*01*/
    /*기관*/
    }
    @media screen and (max-width:480px) {
    /*00. 불릿*/
    /*01.아이콘,배경*/
    /*02.영역*/
    /*03.버튼*/
    /*04.셀렉트박스,메뉴셀렉트박스*/
    /*05.서브메뉴,브레드칼럼*/
    /*06.공유 및 프린트*/
    /*07.콘텐츠상단==타이틀,서칭*/
    /*08.게시판*/
    /*09.웹진*/
    /*10.회원가입,로그인*/
    /*11.콘텐츠 탭*/
    /*00. 불릿▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*01.아이콘,배경 subVS▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*icon*/
    /*첨부파일*/
    /*BG*/
    /*subCommon▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*02.영역-------------------------*/
    /*03.버튼-------------------------*/
    /*라디오버튼*/
    /*버튼*/
    /*04.셀렉트박스,메뉴셀렉트박스-------------------------*/
    /*---서브메뉴&&콘텐츠서비스----*/
    /*05.서브메뉴,브레드칼럼bc_Wrap*/
    /*06.공유 및 프린트 topSvc_Wrap*/
    /*sns공유*/
    /*----07.콘텐츠상단==타이틀,서칭-----*/
    /*----08.게시판-----*/
    /*flex게시판0*/
    /*1*/
    /*게시판상세*/
    /*----08.폼-----*/
    /*댓글*/
    /*----11.콘텐츠탭-----*/
    /*sub Bd▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*Bd_employ분야별*/
    /*09.웹진▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
        /*사진없는웹진01*/
        /*프로필웹진02*/
    /*웹집상세01*/
    /*웹진상세02*/
    /*10.회원가입,로그인▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*login*/
    /*회원가입*/
    /*01*/
    /*기관*/
    }
@media screen and (max-width:400px) {
    /*00. 불릿*/
    /*01.아이콘,배경*/
    /*02.영역*/
    /*03.버튼*/
    /*04.셀렉트박스,메뉴셀렉트박스*/
    /*05.서브메뉴,브레드칼럼*/
    /*06.공유 및 프린트*/
    /*07.콘텐츠상단==타이틀,서칭*/
    /*08.게시판*/
    /*09.웹진*/
    /*10.회원가입,로그인*/
    /*11.콘텐츠 탭*/
    /*00. 불릿▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*01.아이콘,배경 subVS▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*icon*/
    /*첨부파일*/
    /*BG*/
    /*subCommon▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*02.영역-------------------------*/
    /*03.버튼-------------------------*/
    /*라디오버튼*/
    /*버튼*/
    /*04.셀렉트박스,메뉴셀렉트박스-------------------------*/
    /*---서브메뉴&&콘텐츠서비스----*/
    /*05.서브메뉴,브레드칼럼bc_Wrap*/
    /*06.공유 및 프린트 topSvc_Wrap*/
    /*sns공유*/
    /*----07.콘텐츠상단==타이틀,서칭-----*/
    /*----08.게시판-----*/
    /*flex게시판0*/
    /*1*/
    /*게시판상세*/
    /*----08.폼-----*/
    /*댓글*/
    /*----11.콘텐츠탭-----*/
    /*sub Bd▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*Bd_employ분야별*/
    /*09.웹진▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
        /*사진없는웹진01*/
        /*프로필웹진02*/
    /*웹집상세01*/
    /*웹진상세02*/
    /*10.회원가입,로그인▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*login*/
    /*회원가입*/
    /*01*/
    /*기관*/
    }
@media screen and (max-width:300px) {
    /*00. 불릿*/
    /*01.아이콘,배경*/
    /*02.영역*/
    /*03.버튼*/
    /*04.셀렉트박스,메뉴셀렉트박스*/
    /*05.서브메뉴,브레드칼럼*/
    /*06.공유 및 프린트*/
    /*07.콘텐츠상단==타이틀,서칭*/
    /*08.게시판*/
    /*09.웹진*/
    /*10.회원가입,로그인*/
    /*11.콘텐츠 탭*/
    /*00. 불릿▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*01.아이콘,배경 subVS▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*icon*/
    /*첨부파일*/
    /*BG*/
    /*subCommon▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*02.영역-------------------------*/
    /*03.버튼-------------------------*/
    /*라디오버튼*/
    /*버튼*/
    /*04.셀렉트박스,메뉴셀렉트박스-------------------------*/
    /*---서브메뉴&&콘텐츠서비스----*/
    /*05.서브메뉴,브레드칼럼bc_Wrap*/
    /*06.공유 및 프린트 topSvc_Wrap*/
    /*sns공유*/
    /*----07.콘텐츠상단==타이틀,서칭-----*/
    /*----08.게시판-----*/
    /*flex게시판0*/
    /*1*/
    /*게시판상세*/
    /*----08.폼-----*/
    /*댓글*/
    /*----11.콘텐츠탭-----*/
    /*sub Bd▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*Bd_employ분야별*/
    /*09.웹진▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
        /*사진없는웹진01*/
        /*프로필웹진02*/
    /*웹집상세01*/
    /*웹진상세02*/
    /*10.회원가입,로그인▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
    /*login*/
    /*회원가입*/
    /*01*/
    /*기관*/
    }
    